<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="gwt-HTML uk-margin-medium-bottom">
      <h1 class="uk-article-title">Browse validation history</h1>
    </div>
    <div class="">
      <div class="alert alert-danger" style="display: none;" aria-hidden="true"></div>
      <div class="alert alert-success" style="display: none;" aria-hidden="true"></div>
      <div class="alert alert-warning" style="display: none;" aria-hidden="true"></div>
    </div>
  </div>
</div>
