<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="uk-margin-medium-bottom">
      <h1 class="uk-article-title">Validate your datasource</h1>
    </div>
    <a [routerLink]="'bla'">PUSH ME</a>
    <div>
      <div class="uk-margin uk-grid repositoryTypeSelection">
        <div class="uk-width-expand@m uk-width-1-3@s uk-grid-item-match uk-first-column">
          <div class="uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
            <a class="uk-position-cover uk-margin-remove-adjacent" [routerLink]="['literature']"></a>
            <div class="uk-card-media-top">
              <img src="assets/imgs/Literature_repos_wide.png" alt="" style="width:100%;">
            </div>
            <div class="uk-card-body">
              <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                Run compatibility test against the OpenAIRE literature guidelines.
              </h3>
            </div>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-3@s uk-grid-item-match uk-first-column">
          <div class="uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
            <a class="el-link uk-position-cover uk-margin-remove-adjacent" [routerLink]="['data']"></a>
            <div class="uk-card-media-top">
              <img class="el-image" src="assets/imgs/Data_repos_wide.png" alt="" style="width:100%;">
            </div>
            <div class="uk-card-body">
              <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                Run compatibility test against the OpenAIRE Guidelines for Data Archives.
              </h3>
            </div>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-3@s uk-grid-item-match uk-first-column">
          <div class="uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
            <a class="el-link uk-position-cover uk-margin-remove-adjacent" [routerLink]="['cris']"></a>
            <div class="uk-card-media-top">
              <img class="el-image" src="assets/imgs/CRIS_wide.png" alt="" style="width:100%;">
            </div>
            <div class="uk-card-body">
              <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                Run compatibility test against the OpenAIRE Guidelines for CRIS Managers based on CERIF-XML.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
