<div id="sidebar_main" data-uk-sticky="end: .sidebar_main_swipe;" class="uk-visible@m uk-sticky uk-sticky-fixed" offset="65" style="position: sticky; top: 65px;">
  <div sidebar-content="">
    <div id="sidebar_toggle" (click)="toggleSidebar()"></div>
    <div id="sidebar_content" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <div class="menu_section uk-margin-large-top " style="min-height: 30vh;">
        <ul data-uk-nav="duration: 400" class="uk-list uk-nav uk-nav-default">
          <li class="uk-parent" [routerLinkActive]="['uk-active']">
            <a class="uk-flex uk-flex-middle" title="Datasources" role="button" [routerLink]="['./myDataSources']"
               [queryParams]="{primaryGateway: communityId, affiliatedGateway: communityId}" >
              <div class="uk-width-auto ">
                <div class="menu-icon">
                  <span class="material-symbols-outlined">manage_search</span>
                </div>
              </div>
              <span class="uk-width-expand@l uk-text-truncate uk-margin-small-left hide-on-close">Datasources</span>
            </a>
          </li>
          <li class="uk-parent" [routerLinkActive]="['uk-active']">
            <a class="uk-flex uk-flex-middle" [routerLink]="['./datasource/search']"  title="Explore datasource" role="button">
              <div class="uk-width-auto ">
                <div class="menu-icon">
                  <span class="material-symbols-outlined">manage_search</span>
                </div>
              </div>
              <span class="uk-width-expand@l uk-text-truncate uk-margin-small-left hide-on-close">Explore datasource</span>
            </a>
          </li>
          <li class="uk-parent" [routerLinkActive]="['uk-active']">
            <a class="uk-flex uk-flex-middle" [routerLink]="['./requests/my']" title="Requests" role="button">
              <div class="uk-width-auto">
                <div class="menu-icon">
                  <span class="material-symbols-outlined">assignment_add</span>
                </div>
              </div>
              <span class="uk-width-expand@l uk-text-truncate uk-margin-small-left hide-on-close">Requests</span>
              <span class="uk-nav-parent-icon hide-on-close "></span>
            </a>
            <ul class="uk-nav-sub" hidden="">
              <li class="" [routerLinkActive]="['uk-active']" role="presentation">
                <a [routerLink]="['./requests/my']" title="My requests">
                  <span class="uk-text-truncate">My requests</span>
                </a>
              </li>
              <li class="" [routerLinkActive]="['uk-active']" role="presentation">
                <a [routerLink]="['./requests/actions']" title="Requests actions">
                  <span class="uk-text-truncate">Actions</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
