<div id="page_content_inner">
  <h2 class="heading_b uk-margin-bottom">{{ title }}</h2>

  <!-- TOP HELP CONTENT -->
  <help-content #topHelperContent [position]="'top'"
                [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
  </help-content>

  <div class="uk-grid">

    <!-- LEFT HELP CONTENT -->
    <aside-help-content #leftHelperContent [position]="'left'"
                        [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
    </aside-help-content>

    <!-- MIDDLE -->
    <div class=" uk-width-expand@m">

      <div *ngIf="errorMessage" class="uk-alert uk-alert-warning">{{ errorMessage }}</div>
      <div *ngIf="repo">

        <h3>Supported Reports</h3>

        <div class="uk-grid uk-grid-match repositoryTypeSelection" data-uk-grid-margin="">
          <div class="uk-width-1-3@m uk-row-first">
            <div class="uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="">
              <a [routerLink]="['AR1']" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>
              <div class="uk-card-media-top">
                <img class="el-image" src="../../../../assets/imgs/Icons_Reports_wide_AR1.png" alt="" style="width: 100%;">
              </div>
              <div class="uk-card-body">
                <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                  Article Report 1, number of successful article download requests by month and repository.
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3@m">
            <div class="uk-margin uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
              <a [routerLink]="['IR1']" class="el-link uk-position-cover uk-margin-remove-adjacent" href=""></a>
              <div class="uk-card-media-top">
                <img class="el-image" src="../../../../assets/imgs/Icons_Reports_wide_IR1.png" alt="" style="width:100%;">
              </div>
              <div class="uk-card-body">
                <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom" >
                  Item Report 1, number of successful item download requests by month and repository.
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3@m">
            <div class="uk-margin uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
              <a [routerLink]="['RR1']" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>
              <div class="uk-card-media-top">
                <img class="el-image" src="../../../../assets/imgs/Icons_Reports_wide_RR1.png" alt="" style="width:100%;">
              </div>
              <div class="uk-card-body">
                <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                  Repository Report 1, number of successful item downloads for all repositories participating in the usage statistics service.
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-grid uk-grid-match repositoryTypeSelection" data-uk-grid-margin="">
          <div class="uk-width-1-3@m uk-row-first">
            <div class="uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="">
              <a [routerLink]="['BR1']" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>
              <div class="uk-card-media-top">
                <img class="el-image" src="../../../../assets/imgs/Icons_Reports_wide_BR1.png" alt="" style="width: 100%;">
              </div>
              <div class="uk-card-body">
                <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                  Book Report 1, number of successful title requests by month and title.
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3@m">
            <div class="uk-margin uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
              <a [routerLink]="['BR2']" class="el-link uk-position-cover uk-margin-remove-adjacent" href=""></a>
              <div class="uk-card-media-top">
                <img class="el-image" src="../../../../assets/imgs/Icons_Reports_wide_BR2.png" alt="" style="width:100%;">
              </div>
              <div class="uk-card-body">
                <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom" >
                  Book Report 2, number of successful section requests by month and title.
                </h3>
              </div>
            </div>
          </div>
          <div *ngIf="repo.datasourceType === 'journal'" class="uk-width-1-3@m">
            <div class="uk-margin uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
              <a [routerLink]="['JR1']" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>
              <div class="uk-card-media-top">
                <img class="el-image" src="../../../../assets/imgs/Icons_Reports_wide_JR1.png" alt="" style="width:100%;">
              </div>
              <div class="uk-card-body">
                <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                  Journal Report 1, number of successful full-text article requests by month and journal.
                </h3>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- RIGHT HELP CONTENT -->
    <aside-help-content #rightHelperContent [position]="'right'"
                        [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
    </aside-help-content>

  </div>

  <!-- BOTTOM HELP CONTENT -->
  <help-content #bottomHelperContent [position]="'bottom'"
                [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
  </help-content>

</div>


