<div>
  <div>

    <div id="main-menu-small" class="uk-hidden@m">
      <nav>

      </nav>
    </div>

    <div id="main-menu" class="uk-visible@m">
      <div>
        <div class="uk-navbar-container uk-sticky uk-sticky-fixed" data-uk-sticky="" >
          <a target="_blank">
            <img alt="BETA" class="uk-position-top-left" style="height: 65px; width: 65px; z-index: 1000;" src="assets/prototype_flag.svg">
          </a>
          <div class="uk-container uk-container-expand">
            <nav class="uk-navbar" data-uk-navbar="delay-hide: 400">
              <div class="uk-navbar-left">
                <a class="uk-logo uk-navbar-item uk-flex uk-flex-middle" href="#">
                  <img [src]="communityLogo || 'assets/imgs/OA_PROVIDE_B.png'" alt="Provide">
                </a>
              </div>
              <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
<!--                  <li class="uk-parent"><a ng-reflect-router-link="/" ng-reflect-query-params="" href="/" class=""> Dashboard</a></li>-->
                  <li class="uk-parent" [routerLinkActive]="['uk-active']"><a [routerLink]="['/sources', 'register']" class=""> Register</a></li>
                  <li class="uk-parent" [routerLinkActive]="['uk-active']">
                    <a href="" class=""> Validator</a>
                    <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left uk-height-max-medium uk-overflow-auto uk-drop" style="top: 70px; left: 212.033px; max-width: 1698px;">
                      <div>
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="">
                            <a class="" [routerLink]="['/compatibility', 'validate']">Validate</a>
                          </li>
                          <li class="">
                            <a class="" [routerLink]="['/compatibility', 'browseHistory']">Validation History</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="uk-parent" [routerLinkActive]="['uk-active']"><a [routerLink]="['/content', 'notifications']" class=""> Notifications</a></li>
                  <li class="uk-parent" [routerLinkActive]="['uk-active']"><a [routerLink]="['/myDataSources']" class="">Manage</a></li>
                </ul>
              </div>
              <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                  <li>
                    <a class="login uk-icon" tabindex="0" role="button" aria-haspopup="true">
                      <svg height="60" width="60"><circle cx="30" cy="30" r="20" stroke-width="2">
                        </circle><text x="50%" y="50%" text-anchor="middle" dy=".4em" font-size="16"> {{ parseUsername() }} </text>
                      </svg>
                    </a>
                    <div data-uk-dropdown="pos: bottom-right" class="uk-navbar-dropdown uk-dropdown uk-drop" style="top: 73px; left: 1388px; max-width: 1698px;">
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li *ngIf="getIsUserAdmin()" class="">
                          <a [routerLink]="['/admin', 'registrations']" class="">Super Admin Options</a>
                        </li>
<!--                        <li ng-reflect-ng-class="uk-visible@m" class="uk-visible@m">-->
<!--                          <a ng-reflect-router-link="/admin/admin-tools/portals" ng-reflect-query-params="" href="/admin/admin-tools/portals" class="">Super Admin options</a>-->
<!--                        </li>-->
<!--                        <li ng-reflect-ng-class="uk-visible@m" class="uk-visible@m">-->
<!--                          <a ng-reflect-router-link="/admin/monitor/admin-tools/pag" ng-reflect-query-params="[object Object]" href="/admin/monitor/admin-tools/pages">Monitor options</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                          <a ng-reflect-router-link="/user-info" ng-reflect-query-params="[object Object]" href="/user-info">User information</a>-->
<!--                        </li>-->
                        <li *ngIf="getIsUserAdmin()" class="uk-nav-divider"></li>
                        <li *ngIf="getUserGatewayAdmin()" class="">
                          <a [routerLink]="['/gateway-dashboard','myDataSources']" [queryParams]="{ primaryGateway: 'egi', affiliatedGateway: 'egi', page: 0, size: 10 }" class="">Gateway Admin Options</a>
                        </li>
                        <li *ngIf="getUserGatewayAdmin()" class="uk-nav-divider"></li>
                        <li><a (click)="logout()">Log out</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="uk-sticky-placeholder" style="height: 65px; width: 1728px; margin: 0;"></div>
      </div>
    </div>

  </div>
</div>
