<div *ngIf="baseUrlList" [formGroup]="group" class="uk-margin-top">
  <!--<label class="control-label">Validation Set</label>-->

  <div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>

    <div>
      <div class="form-group">
        <label for="selectRadio" class="uk-link-muted visible_uk_links uk-margin-bottom" style="display: block; text-align: left;">
          <input id="selectRadio" value="select" name="baseURLRadio" type="radio" (change)="chooseUrl(true)" checked>
          <span class="uk-margin-small-left">Select base URL from one of your registered repositories</span>
        </label>
      </div>

      <div class="uk-margin-bottom">
        <div input placeholder="" type="select" [formInput]="group.get('selectBaseUrl')" [options]="baseUrlList"></div>
      </div>
    </div>

    <div>
      <div class="form-group">
        <label for="customRadio" class="uk-link-muted visible_uk_links uk-margin-bottom" style="display: block; text-align: left;">
          <input id="customRadio" value="custom" name="baseURLRadio" type="radio" (change)="chooseUrl(false)">
          <span class="uk-margin-small-left">or enter new</span>
        </label>
      </div>
      <div class="uk-margin-bottom">
        <div input placeholder="" type="text" [formInput]="group.get('customBaseUrl')"></div>
      </div>
    </div>

  </div>

<!--  <div class="form-group">-->
<!--    <label for="selectRadio" class="uk-link-muted visible_uk_links uk-margin-bottom" style="display: block; text-align: left;">-->
<!--      <input id="selectRadio" value="select" name="baseURLRadio" type="radio" (change)="chooseUrl(true)" checked>-->
<!--      <span class="uk-margin-small-left">Select base URL from one of your registered repositories</span>-->
<!--    </label>-->
<!--  </div>-->

<!--  <div class="uk-margin-bottom">-->
<!--    <div input placeholder="" type="select" [formInput]="group.get('selectBaseUrl')" [options]="baseUrlList"></div>-->
<!--  </div>-->
<!--&lt;!&ndash;  <div class="md-input-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;    <label class="">Select repository's country</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <select class="md-input" id="selectBaseUrl" formControlName="selectBaseUrl">&ndash;&gt;-->
<!--&lt;!&ndash;      <option value="">&#45;&#45; none selected &#45;&#45;</option>&ndash;&gt;-->
<!--&lt;!&ndash;      <option *ngFor="let url of baseUrlList" value="{{ url }}">{{ url }}</option>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="md-input-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <label for="customRadio" class="uk-link-muted visible_uk_links" style="display: block; text-align: left;">-->
<!--      <input id="customRadio" value="custom" name="baseURLRadio" type="radio" (change)="chooseUrl(false)">-->
<!--      <span class="uk-margin-small-left">or enter new</span>-->
<!--    </label>-->
<!--  </div>-->
<!--  <div class="uk-margin-bottom">-->
<!--    <div input placeholder="" type="text" [formInput]="group.get('customBaseUrl')"></div>-->
<!--  </div>-->
<!--&lt;!&ndash;  <div class="md-input-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;    <input id="customBaseUrl" formControlName="customBaseUrl" class="md-input" type="text">&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="md-input-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

</div>
