.comment {
  font-size: 70%;
}

.uk-width-expand\@m {
  flex: 1;
  min-width: 1px;
}

/********* LOADERS *********/

.loading {
  position: relative;
  min-height: 200px;
}

.loading-medium {
  position: relative;
  min-height: 400px;
}

.loading-big {
  position: relative;
  min-height: 600px;
}

.loader-small {
  background: url("../imgs/loader-small.gif") no-repeat center;
  z-index: 110;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loader-big {
  background: url("../imgs/loader-big.gif") no-repeat center;
  z-index: 110;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.whiteFilm {
  background: #ffffff;
  z-index: 105;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}

.transparentFilm {
  background: transparent;
  z-index: 105;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}
/**************************/

/********* FORM WIZARD *********/

.wizard > .content {
  overflow: scroll;
  min-height: 480px;
}

.wizard .content .body .uk-form-label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin: -4px 0;
  padding-bottom: 8px;
}

/*******************************/

.repositoryTypeSelection .uk-card-body {
  padding: 20px 20px;
}

.repositoryTypeSelection .el-title {
  font-size: 16px;
}



/********* REGISTRATION FORMS *********/

.wizard > .content > .body {
  padding: 48px 24px 0px;
}

.radioButtonForm .uk-button {
  background: none;
  border: none;
  padding: 4px 0px;
}

.visible_uk_links:hover, .visible_uk_links:focus {
  color: #128DD5;
}

.interface-box.new {
  border: 2px dashed #e7eaec;
  min-height: 504px;
}

.interface-box.new a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.interface-box.new i {
  color: #c4c4c4;
  display: block;
  font-size: 60px;
  margin-top: 155px;
}

.interface-box.new .info {
  color: #c4c4c4;
  display: inline-block;
  font-size: 21px;
  padding-top: 10px;
  text-align: center;
}

/**************************************/


/********** REPOSITORY LIST/GRID VIEW **********/

.md-card .md-card-head-img {
  height: 80%;
  margin-top: 5%;
}

a.md-card p {
  color: #444;
}

/***********************************************/

/********** TABS CARD **********/

.md-card.tabs .md-card-content {
  padding: 20px 30px;
}

/***********************************************/

/********** TIMELINE **********/

.timeline_icon_white {
  background: #fff;
}

.timeline_item .md-list > li {
  border-bottom: none;
}

/******************************/

/********* VALIDATION FORMS *********/

.selectAll label {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(#f7f8fc, #f8f9fc) repeat scroll 0 0;
  border-bottom: 1px solid #dee3ea;
  border-top: 1px solid #d4dbe4;
  box-shadow: 0 1px rgba(255, 255, 255, 0.79) inset;
  padding: 5px 5px;
  margin-left: -5px;
  margin-right: -5px;
}

.selectAll span {
  letter-spacing: 0.5px;
  margin-left: 15px;
}

.xPathPanel {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(#f7f8fc, #f8f9fc) repeat scroll 0 0;
  border-bottom: 1px solid #dee3ea;
  border-top: 1px solid #d4dbe4;
  box-shadow: 0 1px rgba(255, 255, 255, 0.79) inset;
  padding: 20px 10px;
  margin-left: -5px;
  margin-right: -5px;
}

/************************************/

/********* USAGE STATS *********/

.statsFrame {
  border: none;
  width: 100%;
  height: 400px;
}

/************************************/

.md-card.md-card-overlay-active .md-card-content {
  height: 500px;
}

.md-card.md-card-overlay-active .md-card-overlay-content {
  overflow: scroll;
}

.md-card.md-card-overlay .md-card-content {
  overflow: scroll;
}

.heading_a .sub-heading {
  display: inline-block;
}
