                <div class="wizard">
                  <div class="wizardBreadcrumbs">
                    <div class="steps clearfix">
                      <div class="step active">
                        <div class="gwt-HTML">
                          Select repository
                          <span></span>
                        </div>
                      </div>
                      <div class="step">
                        <div>
                          Enter Information
                          <span></span>
                        </div>
                      </div>
                      <div class="step">
                        <div>
                          Add Interfaces
                          <span></span>
                        </div>
                      </div>
                      <div class="step">
                        <div>
                          Finish
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

