<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="uk-margin-medium-bottom">
      <h1 class="uk-article-title">Register your datasource</h1>
    </div>
    <div class="wizard">
      <div class="wizardBreadcrumbs">
        <div class="steps clearfix">
          <div class="step active">
            <div>
              Enter Information
              <span></span>
            </div>
          </div>
          <div class="step {{step2}}">
            <div>
              Add Interfaces
              <span></span>
            </div>
          </div>
          <div class="step {{step3}}">
            <div>
              Finish
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div>
          <div class="animated fadeInRight stepContent">
            <div>
              <datasource-create-form *ngIf="showForm"
                                 #registerJournal
                                 (emittedInfo)="getCurrentRepo($event)"></datasource-create-form>

              <div *ngIf="showInterfaces">
                <form *ngIf="repo" [formGroup]="group">
                  <form-repeat [component]="addDatasourceInterfaces"
                               [parentGroup]="group"
                               [description]="interfaceFormDesc"
                               [name]="'repository-interfaces'"
                               [otherData]="repo">
                  </form-repeat>
                </form>
              </div>
              <div *ngIf="showFinish" class="row openAIRECompliantLogoDownload">
                <div class="col-lg-12">
                  <div class="col-md-12">
                    <div class="gwt-HTML">
                      <div class="openAIRECompliantLogo">
                        <h2 class="openAIRECompliantLogoMessage">
                          Congratulations! Your repository was successfully registered in OpenAIRE. You can download this logo to use in your site.
                        </h2>
                        <img src="assets/imgs/3_0ValidatedLogo.png" alt="OpenAireCompliant">
                      </div>
                    </div>
                    <a>
                      Download
                      <i class="fa fa-download" style=""></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wizardActions">
        <button *ngIf="!showForm" class="uk-button uk-button-grey-light" type="button" (click)="moveBackAStep()">
          <i class="fa fa-angle-double-left"></i>
          Back
        </button>
        <button *ngIf="!showFinish" class="uk-button uk-button-grey-light" type="button" (click)="moveAStep()">
          Next
          <i class="fa fa-angle-double-right"></i>
        </button>
      </div>
    </div>
  </div>
<!--  <div class="tm-sidebar uk-width-1-4@m">
    <div>
      <div class="uk-card uk-card-body uk-card-default sidemenu">
        <h3 class="el-title uk-h3 uk-heading-bullet">Info</h3>
        <p class="small">
          Use the form on the right to add your repository or journal in OpenAIRE. If you want to find more information about this process
          &lt;!&ndash; TARGET FILE MISSING! jsps/manuals/user-manual.pdf &ndash;&gt;
          <a target="_blank" href="#">click here</a>
          .
        </p>
        <div class="uk-alert uk-alert-default small">
          The official repository/journal administrator (his/her email address being retrieved from the OAI-PMH verb
          <b>Identify</b>
          ) will be contacted and informed about registration request. So please make sure that you are either this person or have access to the email address, or that you have notified them.
        </div>
        <p class="small">
          For any problems or questions please contact the
          <a class="external" target="_blank" href="https://www.openaire.eu/support/helpdesk" >
            OpenAIRE helpdesk
          </a>
          .
        </p>
      </div>
    </div>
  </div>-->
  <aside-help-content #rightHelperContent [position]="'right'"
                      [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
  </aside-help-content>
</div>
