<div>

  <div class="image-front-topbar  uk-section-default"
       uk-scrollspy="{&quot;target&quot;:&quot;[uk-scrollspy-class]&quot;,&quot;cls&quot;:&quot;uk-animation-fade&quot;,&quot;delay&quot;:false}" tm-header-transparent="light">
    <div style="background-color: #F7F7F7; box-sizing: border-box; min-height: calc(-101.35px + 100vh);"
         class="uk-background-norepeat uk-background-cover uk-background-top-center uk-background-fixed uk-section uk-padding-remove-bottom uk-flex uk-flex-middle" uk-height-viewport="offset-top: true;offset-bottom: 20">
      <div class="uk-width-1-1">
        <div class="uk-margin-medium uk-grid uk-grid-stack" uk-grid="">
          <div class="uk-width-1-1@m">
          </div>
        </div>
        <div class="uk-container uk-container-large uk-margin-large aboutPage">
          <div class="uk-sticky-placeholder" style="height: 84px; margin: 0px;"></div>
          <div class="uk-grid-large uk-flex-middle uk-grid uk-grid-stack" uk-grid="">

            <div class="el-overlay uk-panel uk-width-1-2@l uk-dark">
              <h1 class="el-title uk-margin provideLanding">Capture the essence</h1>
              <div class="uk-margin-medium-top">
                <p style="color:#707070!important; font-size: 16px;">The OpenAIRE Content Provider Dashboard is a one-stop-shop web service where data providers (repository, data archive, journal, aggregator, CRIS system) interact with OpenAIRE. It provides the front-end access to many of OpenAIRE’s backend services.</p>
              </div>
              <!--<p><a (click)="goToPage('/dashboard')" class="el-link uk-button uk-button-primary">Start here</a></p>-->
            </div>

            <div class="el-overlay uk-panel uk-width-1-2@l uk-dark" style="text-align: right">
              <img src="../../../../assets/imgs/landing/Image%2036.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section-secondary uk-section uk-section-small uk-preserve-color">
    <div class="uk-container uk-container-expand">

      <div class="validationAndRegistrationSection uk-padding">

        <div class="uk-container uk-container-medium uk-container-center">
          <div style="text-align: center">
            <img src="../../../../assets/imgs/landing/Image%2035.png">
          </div>
          <div class="" style="text-align: center">
            <h2 class="provideLanding">Validation & Registration</h2>
            <p>
              The OpenAIRE Validator service allows to test your repository’s compatibility with the OpenAIRE Guidelines. If validation succeeds the data source can be registered for regular aggregation and indexing in OpenAIRE. OpenAIRE allows for registration of institutional and thematic repositories registered in OpenDOAR, research data repositories registered in re3data, individual e-Journals, CRIS, aggregators and publishers.
            </p>
            <p>
              The Validator service includes two main steps to perform the aggregation and indexing of your datasource in OpenAIRE:
            </p>
          </div>
        </div>

        <div class="uk-container uk-container-large uk-container-center">

        </div>


      </div>

    </div>
  </div>


</div>
