<div *ngIf="!authService.isLoggedIn">

  <div class="image-front-topbar uk-section-muted uk-light"
       uk-scrollspy="{&quot;target&quot;:&quot;[uk-scrollspy-class]&quot;,&quot;cls&quot;:&quot;uk-animation-slide-top&quot;,&quot;delay&quot;:false}"
       tm-header-transparent="light">
    <div style="background-image: url('http://dl119.madgik.di.uoa.gr/images/Test/Birds_Arrow_01.jpg'); background-color: rgb(30, 48, 64); box-sizing: border-box; min-height: calc(100vh - 107.067px);"
         class="uk-background-norepeat uk-background-cover uk-background-top-center uk-background-fixed uk-section uk-padding-remove-vertical uk-flex uk-flex-middle"
         uk-height-viewport="offset-top: true;offset-bottom: 20">

      <div class="uk-width-1-1">

        <!-- MARGIN-TOP  -->
        <div class="uk-sticky-placeholder" style="height: 84px; margin: 0px;" aria-hidden="true"></div>

        <div class="uk-container">
          <div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 84px;"></div>
          <div class="uk-margin-remove-vertical uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">
              <h1 class="uk-text-center uk-heading-hero uk-scrollspy-inview uk-animation-slide-top"
                  uk-scrollspy-class="" style="">
                Science. Set free. </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="first_page_section uk-section-default uk-section uk-padding-remove-vertical">
    <div class="first_page_banner_headline uk-grid-collapse uk-flex-middle uk-margin-remove-vertical uk-grid uk-grid-stack"
         uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">
        <h1 class="first_page_panel uk-margin-remove-vertical uk-text-center">
          One-stop shop for Open Access in Europe </h1>
      </div>
    </div>
  </div>

  <div class="uk-section-default uk-section-overlap uk-section uk-section-xsmall uk-padding-remove-top"
       uk-scrollspy="{&quot;target&quot;:&quot;[uk-scrollspy-class]&quot;,&quot;cls&quot;:&quot;uk-animation-slide-top-medium&quot;,&quot;delay&quot;:false}">
    <div class="uk-container">
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
        <div class="uk-width-1-1@m uk-first-column">
          <h2 class="uk-text-center uk-scrollspy-inview uk-animation-slide-top-medium"
              uk-scrollspy-class="" style="">
            What we do </h2>
          <hr class="uk-margin-remove-bottom uk-divider-icon uk-scrollspy-inview uk-animation-slide-top-medium"
              uk-scrollspy-class="" style="">
        </div>
      </div>
      <div class="uk-flex-middle uk-margin-medium uk-grid" uk-grid="">
        <div class="uk-width-expand@m uk-first-column">
          <h1 class="uk-margin uk-margin-remove-bottom uk-text-center uk-h4 uk-scrollspy-inview uk-animation-slide-top-medium"
              uk-scrollspy-class="" style="">
            Operate services to implement open science policies </h1>

          <div class="uk-margin uk-text-center uk-scrollspy-inview uk-animation-slide-top-medium"
               uk-scrollspy-class="" style="">
            <p>We operate a <strong>participatory</strong> infrastructure to support the <strong>interoperability</strong>&nbsp;and
              <strong>connectivity</strong> of all research related data sources and produce
              an&nbsp;<strong>interlinked scholarly communication graph.</strong></p></div>
          <h1 class="uk-margin-large uk-margin-remove-bottom uk-text-center uk-h4 uk-scrollspy-inview uk-animation-slide-top-medium"
              uk-scrollspy-class="" style="">
            Offer Open Science services to research communities </h1>

          <div class="uk-margin uk-text-center@m uk-text-center uk-scrollspy-inview uk-animation-slide-left-medium"
               uk-scrollspy-class="uk-animation-slide-left-medium" style="">
            <p style="text-align: center;">We provide <strong>tailored versions of OpenAIRE's tools and
              services</strong> (deposition, aggregation, cleaning, enrichment, claiming) to research
              communities for their open science needs.</p></div>
        </div>
        <div class="uk-width-expand@m">
          <h1 class="uk-margin uk-margin-remove-bottom uk-text-center uk-h4 uk-scrollspy-inview uk-animation-slide-top-medium"
              uk-scrollspy-class="" style="">
            Support Open Access and open science policies </h1>

          <div class="uk-margin uk-text-center@m uk-text-center uk-scrollspy-inview uk-animation-slide-left-medium"
               uk-scrollspy-class="uk-animation-slide-left-medium" style="">
            <p>We are shaping and implementing effective OA and Open Science policies via our network of
              <strong>33 National Open Access Desk (NOADs)</strong>&nbsp; that form a <strong>pan-European
                Helpdesk</strong>.</p></div>
          <div class="uk-margin-large uk-scrollspy-inview uk-animation-slide-top-medium"
               uk-scrollspy-class="" style="">
            <div class="uk-box-shadow-bottom"><img
              src="http://dl119.madgik.di.uoa.gr/images/Background_images/Worldmap_network1.png"
              class="el-image uk-box-shadow-medium" alt=""></div>
          </div>
          <h1 class="uk-margin uk-margin-remove-bottom uk-text-center uk-h4 uk-scrollspy-inview uk-animation-slide-top-medium"
              uk-scrollspy-class="" style="">
            Offer an open innovation platform </h1>

          <div class="uk-margin uk-text-center uk-scrollspy-inview uk-animation-slide-top-medium"
               uk-scrollspy-class="" style="">
            <p>We open up OpenAIRE's scholarly communication graph for others to use and to <strong>build
              value added services</strong>, and actively promote <strong>open, innovative services
              from 3rd party providers</strong> to accelarate open scholarship.</p></div>
        </div>
        <div class="uk-width-expand@m">
          <h1 class="uk-margin uk-margin-remove-bottom uk-text-center uk-h4 uk-scrollspy-inview uk-animation-slide-top-medium"
              uk-scrollspy-class="" style="">
            Provide a European wide Research Information platform </h1>

          <div class="uk-margin uk-text-center uk-scrollspy-inview uk-animation-slide-top-medium"
               uk-scrollspy-class="" style="">
            <p>We operate a <strong>monitoring and analysis platform</strong> for all European research.
              We promote transparency with reports <strong>available to all</strong>.</p></div>
          <h1 class="uk-margin-large uk-margin-remove-bottom uk-text-center uk-h4 uk-scrollspy-inview uk-animation-slide-top-medium"
              uk-scrollspy-class="" style="">
            <div>Act as Europe's Open Science Gateway to the world</div>
          </h1>
          <div class="uk-margin uk-text-center@m uk-text-center uk-scrollspy-inview uk-animation-slide-left-medium"
               uk-scrollspy-class="uk-animation-slide-left-medium" style="">
            <p>We connect Europe and its outcomes to the global research ecosystem&nbsp;via <strong>common
              access policies, data standards, and data exchange</strong>. </p></div>
        </div>
      </div>
      <div class="uk-margin-large uk-grid uk-grid-stack" uk-grid="">
        <div class="uk-width-1-1@m uk-first-column">
          <div class="uk-margin uk-text-center uk-scrollspy-inview uk-animation-slide-bottom-medium"
               uk-scrollspy-class="uk-animation-slide-bottom-medium" style="">
            <a class="el-content uk-button uk-button-default" href="#" title="Explore More"
               uk-scroll="">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="authService.isLoggedIn" id="contentWrapper" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true" style="box-sizing: border-box;" >
  <div>
    <div class="uk-container">
      <div class="uk-grid uk-grid-stack">
        <div class="uk-width-expand@m">
          <div>
            <div class="gwt-HTML">
              <!-- MARGIN-TOP  -->
              <div class="uk-sticky-placeholder" style="height: 84px; margin: 0px;" aria-hidden="aria-hidden"></div>
              <div class="uk-width-1-1@m uk-first-column">
                <div class="uk-margin uk-grid-match uk-child-width-1-1 uk-child-width-1-2@m uk-grid-small uk-grid uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" uk-grid="" style="">
                  <div class="uk-first-column">
                    <div class="el-item uk-card uk-card-hover uk-card-body uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                      <a class="el-link uk-position-cover uk-margin-remove-adjacent" href="#" uk-scroll=""></a>
                      <div class="uk-child-width-expand uk-flex-middle uk-grid" uk-grid="">
                        <div class="uk-width-1-2@m uk-first-column">
                          <img  class="el-image uk-border-rounded" src="./assets/imgs/iStock-153949408.jpg" >
                        </div>
                        <div>
                          <div>
                            <h3 class="el-title uk-margin uk-card-title">Register</h3>
                            <div class="el-content uk-margin">
                              Register data sources in the OpenAIRE infrastructure
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="el-item uk-card uk-card-hover uk-card-body uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                      <a class="el-link uk-position-cover uk-margin-remove-adjacent" href="#" uk-scroll=""></a>
                      <div class="uk-child-width-expand uk-flex-middle uk-grid" uk-grid="">
                        <div class="uk-width-1-2@m uk-first-column">
                          <img  class="el-image uk-border-rounded" src="./assets/imgs/iStock-516286898.jpg" >
                        </div>
                        <div>
                          <div>
                            <h3 class="el-title uk-margin uk-card-title">Validate</h3>
                            <div class="el-content uk-margin">
                              Validate data sources against OpenAIRE guidelines
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="uk-grid-margin uk-first-column">
                    <div class="el-item uk-card uk-card-hover uk-card-body uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                      <a class="el-link uk-position-cover uk-margin-remove-adjacent" href="#" uk-scroll=""></a>
                      <div class="uk-child-width-expand uk-flex-middle uk-grid" uk-grid="">
                        <div class="uk-width-1-2@m uk-first-column">
                          <img  class="el-image uk-border-rounded" src="./assets/imgs/iStock-466267165.jpg" >
                        </div>
                        <div>
                          <div>
                            <h3 class="el-title uk-margin uk-card-title">Notifications</h3>
                            <div class="el-content uk-margin">
                              View notifications to enrich the metadata and the content
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="uk-grid-margin">
                    <div class="el-item uk-card uk-card-hover uk-card-body uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                      <a class="el-link uk-position-cover uk-margin-remove-adjacent" href="#" uk-scroll="" routerLink="/getImpact"></a>
                      <div class="uk-child-width-expand uk-flex-middle uk-grid" uk-grid="">
                        <div class="uk-width-1-2@m uk-first-column">
                          <img  class="el-image uk-border-rounded" src="./assets/imgs/iStock-659630328.jpg" >
                        </div>
                        <div>
                          <div>
                            <h3 class="el-title uk-margin uk-card-title">Metrics</h3>
                            <div class="el-content uk-margin">
                              View aggregated, cleaned usage statistics for repository access
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
