<div id="page_content">
  <div id="page_content_inner">

    <div class="uk-section uk-section-default">
      <div class="uk-container uk-container-large">
        <h4 class="uk-margin-bottom">Requests</h4>
      </div>
    </div>

    <table class="uk-table uk-table-divider uk-table-small uk-table-middle">
      <thead>
        <tr>
          <th class="uk-text-center uk-table-middle">ID</th>
          <th class="uk-text-center uk-table-middle">Request Type</th>
          <th class="uk-text-center uk-table-middle">created</th>
          <th class="uk-text-center uk-table-middle">last updated</th>
          <th class="uk-text-center uk-table-middle">Owner Approval</th>
          <th class="uk-text-center uk-table-middle">Source Gateway Approval</th>
          <th class="uk-text-center uk-table-middle">Target Gateway Approval</th>
          <th class="uk-text-center uk-table-middle">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests">
          <!-- Request ID -->
          <td>{{ request.id }}</td>

          <!-- Request Type -->
          <td>{{ request.requestType }}</td>
          
           <!-- created -->
          <td>
            <strong>{{ request.createdBy }}</strong><br>
            <small>by {{ request.createdAt }}</small>
          </td>

          <!-- last updated -->
          <td>
            <strong>{{ request.updatedBy }}</strong><br>
            <small>by {{ request.updatedAt }}</small>
          </td>
          <!-- Owner Approval -->
          <td>
            <strong>{{ request.ownerApproval.actorId}}</strong><br>
            <span [ngClass]="{
              'uk-label uk-label-success': request.ownerApproval.decision === 'APPROVED',
              'uk-label uk-label-warning': request.ownerApproval.decision === 'PENDING',
              'uk-label uk-label-danger': request.ownerApproval.decision === 'REJECTED'
            }">{{ request.ownerApproval.decision }}</span><br>
            <small> {{ request.ownerApproval.decidedAt }}</small><br>
            <span>{{ request.ownerApproval.comment}}</span>
          </td>
          <!-- Source Gateway Approval -->
           <td>
            <strong>{{ request.sourceGatewayApproval?.actorId}}</strong><br>
            <span [ngClass]="{
              'uk-label uk-label-success': request.sourceGatewayApproval?.decision === 'APPROVED',
              'uk-label uk-label-warning': request.sourceGatewayApproval?.decision === 'PENDING',
              'uk-label uk-label-danger': request.sourceGatewayApproval?.decision === 'REJECTED'
            }">{{ request.sourceGatewayApproval?.decision }}</span><br>
            <small> {{ request.sourceGatewayApproval?.decidedAt }}</small><br>
            <span>{{ request.sourceGatewayApproval?.comment}}</span>
           </td>
          <!-- Target Gateway Approval -->
          <td>
            <strong>{{ request.targetGatewayApproval?.actorId}}</strong><br>
            <span [ngClass]="{
              'uk-label uk-label-success': request.targetGatewayApproval?.decision === 'APPROVED',
              'uk-label uk-label-warning': request.targetGatewayApproval?.decision === 'PENDING',
              'uk-label uk-label-danger': request.targetGatewayApproval?.decision === 'REJECTED'
            }">{{ request.targetGatewayApproval?.decision }}</span><br>
            <small> {{ request.targetGatewayApproval?.decidedAt }}</small><br>
            <span>{{ request.targetGatewayApproval?.comment}}</span>
          </td>

          <!-- Overall Status-->
           <td>
            <span class="uk-label" [ngClass]="{
              'uk-label-success': request.status === 'APPROVED',
              'uk-label-warning': request.status === 'PENDING',
              'uk-label-danger': request.status === 'REJECTED'
            }">{{ request.status}}</span>
           </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
