<div id="page_content">
  <div id="page_content_inner">

    <div class="uk-section uk-section-default">
      <div class="uk-container uk-container-large">
        <h4 class="uk-margin-bottom">Requests</h4>

        <div id="top_bar">
          <div class="md-top-bar">
            <div class="uk-width-1-3@l uk-margin-auto">
              <form class="uk-search uk-search-default uk-width-1-1@m">
                <div input placeholder="Search" type="text" [formInput]="filterForm.get('keyword')"
                  (focusout)="handleFilterChanges('keyword')">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-section uk-section-default">
      <div class="uk-container uk-container-large">
        <form [formGroup]="filterForm" class="uk-form-horizontal uk-flex">

          <div class="uk-padding-xsmall uk-padding-remove-vertical">
            <div input placeholder="Request Type" type="select" [formInput]="filterForm.get('requestType')"
              [options]="[{value: RequestType.PRIMARY, label: 'Primary'}, {value: RequestType.AFFILIATED, label: 'Affiliated'}, {value: 'null', label: 'Reset'}]"
              (valueChange)="handleFilterChanges('requestType')">
            </div>
          </div>

          <div class="uk-padding-xsmall uk-padding-remove-vertical">
            <div input placeholder="Status" type="select" [formInput]="filterForm.get('status')"
              [options]="statusOptions" (valueChange)="handleFilterChanges('status')">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="uk-section uk-section-default">
      <div class="uk-container uk-container-large">

            <div class=" uk-margin-small-bottom">
               {{requests?.results?.length}} requests found.
              <mat-paginator *ngIf="requests?.results?.length" [length]="requests?.total" [pageSizeOptions]="[5, 10, 25, 50]"
                [showFirstLastButtons]="true" [pageSize]="filterForm.get('size').value" [pageIndex]="filterForm.get('page').value"
                (page)="handlePaginationChanges($event)" class="uk-margin-small-bottom">
              </mat-paginator>
            </div>
            <hr>

          <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
            <!-- Table -->
            <app-reusable-table
              [data]="requests?.results" [allowBlockedActions]="true" [showActionsColumn]="showActionsColumn" [currentGatewayId]="communityId"
              (confirmDecision)="handleDecision($event)">
            </app-reusable-table>
          </div>
      </div>
    </div>
  </div>
