<div *ngIf="loadingMessage" class="loading-big">
  <div class="loader-big" style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">
    {{ loadingMessage }}
  </div>
  <div class="transparentFilm"></div>
</div>

<div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>

<div *ngIf="!loadingMessage && !errorMessage && repository">

<!--  <div class="uk-banner uk-padding-small uk-padding-remove-horizontal uk-light">-->
    <div class="uk-banner uk-padding-small uk-padding-remove-horizontal">
    <div class="uk-container uk-container-large">
      <div class="uk-padding-small uk-padding-remove-vertical">

        <div class="uk-grid uk-flex-middle" uk-grid>
          <div class="uk-width-expand">
            <div class="uk-grid uk-grid-small uk-flex-middle" uk-grid>

              <div class="uk-card uk-card-default uk-padding-small uk-first-column">
                <ng-container *ngIf="!repository.logourl"><img src="../../../assets/imgs/yourLogoHere.jpg" alt="OpenAIRE placeholder logo" class="uk-height-max-xsmall ng-star-inserted" style="height: 65px; max-width: 180px;"></ng-container>
                <ng-container *ngIf="repository.logourl"><img src="{{ repository.logourl }}" alt="OpenAIRE placeholder logo" class="uk-height-max-xsmall ng-star-inserted" style="height: 65px; max-width: 180px;"></ng-container>
              </div>

              <div class="uk-width-expand uk-margin-small-left">
                <h1 class="uk-h5 uk-margin-remove uk-text-truncate">{{ repository.officialname }}</h1>
                <!--                      <div class="uk-text-small uk-margin-small-top">-->
                <!--                        <breadcrumbs [breadcrumbs]="breadcrumbs"></breadcrumbs>-->
                <!--                      </div>-->
              </div>

              <div *ngIf="latestAggregations.length>0" style="" class="uk-flex uk-flex-middle">
                <img src="assets/imgs/validator.svg" alt="Logo" style="height: 40px;">
                <div class="uk-inline uk-margin-small-left uk-margin-small-top">
                  <a>
                    <span style="cursor: pointer; color: black;" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='black'">
                      <i class="fas fa-download"></i>
                    </span>
                  </a>
                  <div class="uk-navbar-dropdown uk-dropdown uk-drop uk-dropdown-bottom-right" uk-dropdown="mode: hover">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li><a href="assets/imgs/validator.png" download="validator.png">Download logo as PNG</a></li>
                      <li><a href="assets/imgs/validator.jpg" download="validator.jpg">Download logo as JPEG</a></li>
                      <li><a href="assets/imgs/validator.svg" download="validator.svg">Download logo as SVG</a></li>
                      <li><a href="assets/imgs/validator.pdf" download="validator.pdf">Download logo as PDF</a></li>
                    </ul>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="sidebar" class="sidebar_main_swipe uk-flex uk-background-default"
       [class.sidebar_main_active]="open && (hasSidebar || hasAdminMenu)"
       [class.sidebar_mini]="!open &&  (hasSidebar || hasAdminMenu)"
       [class.sidebar_hover]="hover">
    <!--  <side-menu *ngIf="hasSidebar"></side-menu>-->
    <app-repo-side-menu *ngIf="hasSidebar" [repository]="repository"></app-repo-side-menu>
    <main class="uk-width-1-1">
      <div id="page_content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>

</div>
