<div *ngIf="loadingMessage" class="loading-big">
  <div class="loader-big" style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">
    {{ loadingMessage }}
  </div>
  <div class="whiteFilm"></div>
</div>
<div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
<div *ngIf="successMessage" class="uk-alert uk-alert-success">{{ successMessage }}</div>
<form *ngIf="selectedRepo && !loadingMessage" [formGroup]="updateGroup" class="uk-margin-medium-bottom">
  <div>
    <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="">
      Basic information
    </h4>
  </div>

  <div class="" uk-grid>
    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Software platform" type="select" [formInput]="updateGroup.get('softwarePlatform')"
           [options]="typologiesOptions">
      </div>
    </div>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Platform name " [hint]="'This value will be used as the platform for your repository'"
           type="text"  [formInput]="updateGroup.get('platformName')">
      </div>
    </div>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Official Name" type="text" [formInput]="updateGroup.get('officialName')"></div>
    </div>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Country" type="select" [formInput]="updateGroup.get('country')"
           [options]="countriesOptions">
      </div>
    </div>

    <ng-container *ngIf="selectedRepo.eoscDatasourceType === 'Journal archive'">
      <div class="uk-width-1-2 uk-margin-bottom">
        <div input placeholder="ISSN" type="text" [formInput]="updateGroup.get('issn')">
          <ng-container *ngIf="updateGroup.get('issn').invalid && updateGroup.get('issn').touched && updateGroup.get('issn').dirty" error>
            Issn needs to be of the form: "1111-1111" or "1111-111X" or "11111111" or "1111111X"
          </ng-container>
        </div>
      </div>

      <div class="uk-width-1-2 uk-margin-bottom">
        <div input placeholder="EISSN" type="text" [formInput]="updateGroup.get('eissn')">
          <ng-container *ngIf="updateGroup.get('eissn').invalid && updateGroup.get('eissn').touched && updateGroup.get('eissn').dirty" error>
            Eissn needs to be of the form: "1111-1111" or "1111-111X" or "11111111" or "1111111X"
          </ng-container>
        </div>
      </div>

      <div class="uk-width-1-2 uk-margin-bottom">
        <div input placeholder="LISSN" type="text" [formInput]="updateGroup.get('lissn')">
          <ng-container *ngIf="updateGroup.get('lissn').invalid && updateGroup.get('lissn').touched && updateGroup.get('lissn').dirty" error>
            Lissn needs to be of the form: "1111-1111" or "1111-111X" or "11111111" or "1111111X"
          </ng-container>
        </div>
      </div>

    </ng-container>

    <div class="uk-width-1-1 uk-margin-bottom">
      <div input placeholder="Description" type="textarea"  [formInput]="updateGroup.get('repoDescription')"></div>
    </div>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Longtitude" type="text" [formInput]="updateGroup.get('longtitude')"></div>
    </div>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Latitude" type="text" [formInput]="updateGroup.get('latitude')"></div>
    </div>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Entry URL" type="URL" [formInput]="updateGroup.get('websiteUrl')"></div>
    </div>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Institution" type="text" [formInput]="updateGroup.get('institutionName')"></div>
    </div>

    <h4 class="uk-h4 uk-text-primary uk-width-1-1">Extra Information</h4>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="English Name" type="text" [formInput]="updateGroup.get('englishName')"></div>
    </div>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Logo URL" type="logoURL" [formInput]="updateGroup.get('logoUrl')">
        <ng-container note>
          Please make sure that the maximum size of the uploaded image is width=360px, height=240px
        </ng-container>
      </div>
    </div>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Timezone" type="select" [formInput]="updateGroup.get('timezone')" [options]="timezonesOptions"></div>
    </div>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Data source type" type="select" [formInput]="updateGroup.get('datasourceType')"
           [options]="datasourceClassesOptions">
      </div>
    </div>

    <h4 class="uk-h4 uk-text-primary uk-width-1-1">Administrator & contact information</h4>

    <div class="uk-width-1-2 uk-margin-bottom">
      <div input placeholder="Admin Email" type="text" [formInput]="updateGroup.get('adminEmail')"></div>
    </div>

  </div>

<!--  <pre>{{ updateGroup.getRawValue() | json }}</pre>-->

  <div *ngIf="showButton" class="form-group uk-margin-medium-top">
    <button class="uk-button uk-button-primary updateRepoInfoButton" type="button" (click)="updateRepo()">Update Information</button>
  </div>
</form>
