<div id="page_content">
  <div id="page_content_inner">

    <div class="uk-section uk-section-default">
      <div class="uk-container uk-container-expand">

        <h4 class="uk-margin-bottom">Validator's history</h4>

        <!-- TOP HELP CONTENT -->
        <help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>

        <div class="uk-grid">

          <!-- LEFT HELP CONTENT -->
          <aside-help-content #leftHelperContent [position]="'left'"
                              [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
          </aside-help-content>

          <!-- MIDDLE -->
          <div class=" uk-width-expand@m">

            <div *ngIf="successMessage" class="uk-alert uk-alert-success">{{ successMessage }}</div>
            <div *ngIf="failureMessage" class="uk-alert uk-alert-danger">{{ failureMessage }}</div>
            <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
            <div *ngIf="loadingMessage" class="loading-big">
              <div class="loader-big"
                   style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">
                {{ loadingMessage }}
              </div>
              <div class="transparentFilm"></div>
            </div>
            <div *ngIf="jobsOfUser">


              <div class="page-controls">

                <div class="md-card uk-margin-medium-bottom">
                  <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin="">

                      <div class="uk-width-1-5 uk-row-first">
                        <div class="uk-margin-small-top">
                          <div input placeholder="Filter by job type" type="select" [(value)]="chosenJobType"
                               (valueChange)="getJobType()" [options]="jobTypes">
                          </div>
                        </div>
                      </div>

                      <div class="uk-width-3-5">
                      </div>

                      <div class="uk-width-1-5">
<!--                        <div class="uk-margin-small-top">-->

<!--                          <div class="md-input-wrapper md-input-filled">-->
<!--                            <label class="">Jobs per page</label>-->
<!--                            <select #itemsPerPage class="md-input" (change)="getItemsPerPage(+itemsPerPage.value)">-->
<!--                              <option value="10" selected>10</option>-->
<!--                              <option value="25">25</option>-->
<!--                              <option value="50">50</option>-->
<!--                              <option value="100">100</option>-->
<!--                            </select>-->
<!--                            <span class="md-input-bar"></span>-->
<!--                          </div>-->

<!--                        </div>-->
                      </div>

                    </div>
                  </div>
                </div>

                <hr>

                <div class="uk-margin-medium-bottom uk-margin-medium-top">

                  <!--<h3 class="heading_a uk-margin-bottom">Filter validation jobs:</h3>-->
                  <ul id="filter" class="uk-subnav uk-subnav-pill">
                    <li class="uk-active" [class.uk-active]="currentFilter==='all'" data-uk-filter="">
                      <a (click)="filterJobs('all')">All jobs ({{this.jobsOfUser.totalJobs}})</a>
                    </li>
                    <li class="" [class.uk-active]="currentFilter==='successful'" data-uk-filter="filter-a">
                      <a (click)="filterJobs('successful')">successful ({{this.jobsOfUser.totalJobsSuccessful}})</a>
                    </li>
                    <li class="" [class.uk-active]="currentFilter==='failed'" data-uk-filter="filter-b">
                      <a (click)="filterJobs('failed')">failed ({{this.jobsOfUser.totalJobsFailed}})</a>
                    </li>
                    <li class="" [class.uk-active]="currentFilter==='ongoing'" data-uk-filter="filter-c">
                      <a (click)="filterJobs('ongoing')">ongoing ({{this.jobsOfUser.totalJobsOngoing}})</a>
                    </li>
                  </ul>

                </div>

                <mat-paginator *ngIf="currentTotalJobs" [length]="currentTotalJobs" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"
                               (page)="pageChange($event)">
                </mat-paginator>
              </div>


              <div class="uk-card uk-card-default uk-margin-medium-bottom">
                <div class="uk-card-body">
                  <div class="uk-overflow-container">
                    <table class="uk-table uk-table-striped uk-table-nowrap table_check">
                      <thead>
                      <tr>
                        <th class="">Base URL</th>
                        <th class="">Validation Type</th>
                        <th class="">Status</th>
                        <th class="">Score</th>
                        <th class="">Started</th>
                        <th class="">Guidelines</th>
                        <th class="">Actions</th>
                        <th class=""></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngIf="infoMessage">
                        <td colspan="7">{{ infoMessage }}</td>
                      </tr>
                      <ng-container *ngIf="jobsOfUser && jobsOfUser.jobs">
                        <tr *ngFor="let job of jobsOfUser.jobs">
                          <td style="vertical-align: top !important;">
                            <div class="">{{ job.baseUrl }}</div>
                          </td>
                          <td style="vertical-align: top !important;">
                            <div *ngIf="job.validationType.includes('C')" class="">OAI Content</div>
                            <div *ngIf="job.validationType.includes('U')" class="">OAI Usage</div>
                          </td>
                          <td style="vertical-align: top !important;">
                            <div *ngIf="job.validationType.includes('C')" class="">{{ job.contentJobStatus }}</div>
                            <div *ngIf="job.validationType.includes('U')" class="">{{ job.usageJobStatus }}</div>
                          </td>
                          <td style="vertical-align: top !important;">
                            <div *ngIf="job.validationType.includes('C')" class="">{{ job.contentJobScore }}</div>
                            <div *ngIf="job.validationType.includes('U')" class="">{{ job.usageJobScore }}</div>
                          </td>
                          <td style="vertical-align: top !important;">
                            <div class="">{{ job.started }}</div>
                          </td>
                          <td style="vertical-align: top !important;">
                            <div class="">{{ job.guidelinesShortName }}</div>
                          </td>
                          <td style="vertical-align: top !important;">
                            <div>
                              <a [routerLink]="[job.id]" class="uk-flex uk-flex-middle uk-text-decoration-none">
                                <span class="material-symbols-outlined uk-margin-small-right">visibility</span>View Results
<!--                                <i class="fa fa-angle-right uk-margin-small-left"></i>-->
                              </a>
                            </div>
                            <div>
                              <a (click)="resubmitJob(job.id.toString(), job.userEmail)" class="uk-flex uk-flex-middle uk-text-decoration-none">
                                <span class="material-symbols-outlined uk-margin-small-right">refresh</span>Resubmit Job
<!--                                <i class="fa fa-repeat uk-margin-small-left"></i>-->
                              </a>
                            </div>
                          </td>
                          <td class="uk-text-center">
                            <i *ngIf="job.validationStatus === 'ongoing'" title="{{job.validationStatus}}" class="material-icons" style="color: yellow; font-size: 25px;">help</i>
                            <i *ngIf="job.validationStatus === 'successful'" title="{{job.validationStatus}}" class="material-icons" style="color: green; font-size: 25px;">check_circle</i>
                            <i *ngIf="job.validationStatus === 'failed'" title="{{job.validationStatus}}" class="material-icons" style="color: red; font-size: 25px;">cancel</i>
                            <!--<img type="image" [src]="getResultImage(job.validationStatus)" title="{{job.validationStatus}}">-->
                          </td>
                        </tr>
                      </ng-container>
                      </tbody>
                    </table>
                  </div>

<!--                  <ul class="uk-pagination uk-margin-top uk-flex-right" uk-margin>-->
<!--                    <li><a (click)="goToPreviousPage()" class="pagination_arrow"><span uk-pagination-previous></span></a></li>-->
<!--                    <li class="uk-active"><span>{{ (totalPages > 0) ? currentPage+1 : 0 }}</span></li>-->
<!--                    <li><a (click)="goToNextPage()" class="pagination_arrow"><span uk-pagination-next></span></a></li>-->
<!--                  </ul>-->
                </div>
              </div>

            </div>

          </div>

          <!-- RIGHT HELP CONTENT -->
          <aside-help-content #rightHelperContent [position]="'right'"
                              [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
          </aside-help-content>

        </div>

        <!-- BOTTOM HELP CONTENT -->
        <help-content #bottomHelperContent [position]="'bottom'"
                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>

      </div>
    </div>

  </div>
</div>

