:root {
  /* Dashboard variables*/
  --sidebar-width: 320px;
  --sidebar-font-size: 16px;
  --header-height: 53px;
  --primary-color: #0d47a1;
  --secondary-color: #1CA9D5;

  --monitor-header-menu-height: 100px;
}

.clear-style {
  padding-left: 0px !important;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.uk-button {
  text-transform: none;
  line-height: 34px;
}

.uk-button-primary {
  background-color: #13BDFF;
  border-radius: 80px;
}

.uk-button-primary:hover {
  /*background-color: #3a8fa3;*/
  background-color: #13BDFF;
  color: #fff;
  border-color: #13BDFF;
}

.whiteBackground {
  background-color: #fff;
}

.uk-alert-info {
  background: #CCF1FF 0% 0% no-repeat padding-box !important;
  border: 1px solid #23C1FF;
  color: #1987B3;
  box-shadow: 1px 1px 6px #00000029;
  border-radius: 3px;
  opacity: 1;
}

.uk-alert-success {
  background: #F2FFFE 0% 0% no-repeat padding-box !important;
  box-shadow: 1px 1px 6px #00000029;
  border: 1px solid #278A85;
  color: #278A85;
  border-radius: 3px;
  opacity: 1;
}

.uk-alert-warning {
  background: #FCF7CA 0% 0% no-repeat padding-box !important;
  box-shadow: 1px 1px 6px #00000029;
  border: 1px solid #807B24;
  color: #807B24;
  border-radius: 3px;
  opacity: 1;
}

.uk-alert-danger {
  background: #FFD9D9 0% 0% no-repeat padding-box !important;
  box-shadow: 1px 1px 6px #00000029;
  border: 1px solid #B31B1B;
  color: #B31B1B;
  border-radius: 3px;
  opacity: 1;
}

/************ TOPMENU-DASHBOARD ***********/

.app_my_theme #header_main {
  background: #fff;
  border-bottom: 1px solid #23C1FF;
  box-shadow: 0px 1px 6px #0000004D;
}

.dashboard #header_main circle, .dashboard #header_main .login svg {
  /*stroke: #707070;*/
  stroke: #23C1FF;
  fill: #23C1FF;
}

.dashboard #header_main text {
  /*stroke: #707070;*/
  stroke: white;
  fill: white;
}

/*********************************/

/************ SIDEBAR ***********/

.provideLogo {
  width: 90%;
}

.dashboard #sidebar_main {
  overflow: auto;
  box-shadow: 1px 0px 6px #0000004D;
}

.dashboard #sidebar_main .menu_section {
  overflow: visible;
  margin-bottom: 15px;
  padding-bottom: 20px;
  flex: 0; /* it was set to 1 and each section would get equal space */
}

.dashboard #sidebar_main .menu_section.border_top {
  border-top: 1px solid #DEDEDE;
}

.dashboard #sidebar_main .menu_section.admin_menu_section {
  border-bottom: none;
  padding-bottom: 50px;
}

.dashboard #sidebar_main .menu_section > ul li > a {
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  /*font: Regular 14px/19px Open Sans;*/
  letter-spacing: 0;
  color: #000000;
  opacity: 0.7;
}

#sidebar_main .menu_section > ul > li.submenu_trigger > a::before {
  color: #000;
  font-size: 24px;
}

.dashboard #sidebar_main .menu_section .sidebar_heading {
  font-weight: 500;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  color: #000000;
  opacity: 0.4;
  padding: 8px 20px;
  margin-top: 20px;
}

.dashboard #sidebar_main .menu_section .menu_icon {
  margin-right: 22px;
}

.dashboard #sidebar_main .menu_section .menu_icon .material-icons {
  color: #000;
}

.dashboard #sidebar_main .menu_section .menu_icon_circle_letter {
  width: 30px;
  line-height: 28px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  margin-right: 25px;
  /*border: 1px solid #000;*/
  border: 1px solid #23C1FF;
  background-color: #23C1FF;
  color: #fff;
}

.dashboard #sidebar_main .menu_section .menu_icon_circle {
  /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
  border: 1px solid #cccccc;
  opacity: 1;
  border-radius: 50%;
  /*padding: 0px 8px;*/
  margin-right: 25px;
  width: 30px;

  background-size: contain;
  height: 30px;
  /*background-image: url("https://repositorium.sdum.uminho.pt/image/RepositoriUM.png");*/
  background-position: center;
  background-repeat: no-repeat;
}

.dashboard #sidebar_main .menu_section .menu_icon_circle span {
  display: block;
  width: 40%;
  margin: auto;
}

.app_my_theme #sidebar_main .menu_section > ul > li.current_section {
  background: #DEDEDE 0% 0% no-repeat padding-box;
}

.app_my_theme #sidebar_main .menu_section > ul > li.current_section > a .menu_title {
  color: #000;
  font-weight: 600;
}

.app_my_theme #sidebar_main .menu_section > ul > li ul a {
  padding: 8px 10px 8px 75px;
}

.app_my_theme #sidebar_main .menu_section > ul > li ul li.act_item a {
  color: #000;
  font-weight: 600;
  background: #DEDEDE 0% 0% no-repeat padding-box;
}

.dashboard .sidebar_main_active #hide_controls {
  width: 319px;
}


/*********************************/

/************ REPOSITORY MENU ***********/

.repositoryMenu, .repositoryAdminMenu {
  background: #F9F9F9 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 10px;
}

.repositoryAdminMenu {
  padding-bottom: 35px;
}

/*.repositoryMenu #top_bar {*/
#top_bar {
  background: #F9F9F9;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  /*height: 40px;*/
  position: relative !important;
  padding: 0 15px;
  top: 0px;
  margin-left: 0px !important;
}

.repositoryMenu h3, .repositoryAdminMenu h3 {
  font-weight: 600;
  font-size: 21px;
  font-family: "Open Sans", sans-serif;
  /*font: Semibold 21px/28px Open Sans;*/
  letter-spacing: 0;
  color: #000000;
  opacity: 0.8;
}

.app_my_theme #top_bar .top_bar_nav > li.uk-active a {
  box-shadow: inset 0 -3px 0 #707070;
}

.app_my_theme #top_bar .top_bar_nav > li > a:hover {
  -webkit-box-shadow: inset 0 -3px 0 #707070;
  box-shadow: inset 0 -3px 0 #707070;
}

/****************************************/

/************ ADMIN RESULTS + RESULTS GENERAL ***********/

.adminResultsHeader {
  border-top: 1px solid #6299EC;
}

.repositoryCard .uk-text-meta, .eventCard .uk-text-meta {
  font-size: 12px;
  color: #000;
  opacity: 0.6;
}

.repositoryCardHeader a {
  text-align: left;
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  /*font: Regular 18px/24px Open Sans;*/
  letter-spacing: 0;
  color: #6299EC;
  opacity: 1;
}

.repositoryCard .uk-badge-primary, .eventCard .uk-badge-primary {
  background: #6299EC;
}

.repositoryCard .uk-badge-success, .eventCard .uk-badge-success {
  background: #34AA34;
  opacity: 0.8;
}

.eventCard .highlightIndex {
  color: #34AA34;
}

.eventCard hr {
  border-top: 1px solid #000000;
  opacity: 0.5;
  /*margin: 30px 0 30px 0;*/
}

.repositoryCard .mute-title, .eventCard .mute-title {
  font-size: 12px;
  color: #A4A4A4;
}

.repositoryCard .small-content, .eventCard .small-content {
  font-size: 12px;
}

.filter-overlay-toolbar {
  position: fixed;
  z-index: 100;
  left: 320px;
  top: 45%;
}

.filter-overlay-button {
  background-color: #fff;
  /*position: fixed;*/
  /*z-index: 100;*/
  /*right: 25px;*/
  /*bottom: 25px;*/
  padding: 10px;
}

.filter-overlay-button span {
  background-color: #DEDEDE;
  border-radius: 2px;
  padding: 7px;
}

.filter-overlay-button span i {
  color: #6299EC;
}

.offcanvas-filters {
  left: 320px;
  z-index: 1200;
  /*top*/
}

.offcanvas-filters .uk-offcanvas-bar.uk-light {
  background: #F9F9F9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  color: #000;
  opacity: 1;
}

.offcanvas-filters .uk-offcanvas-bar h4 {
  font: Bold 18px/24px "Open Sans";
  letter-spacing: 0;
  color: #000000;
  opacity: 0.8;
}

.offcanvas-filters .uk-offcanvas-bar h5 {
  font-weight: 400;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.uk-offcanvas-bar.uk-light .uk-radio, .uk-offcanvas-bar.uk-light .uk-radio:checked {
  background-color: rgb(255, 255, 255);
  border-color: #00000066;
}

.uk-light hr {
  border-top-color: #ddd;
}

.repositoryAdminActions button.uk-button-link, .repositoryAdminActions button.uk-button-link:hover{
  color: #000;
}

.resultsInfo {
  font-weight: 400;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  opacity: 1;
}

.resultsInfo .number {
  color: #6299EC;
}

/****************************************/

/************ PAGINATION ***********/

.app_my_theme .uk-pagination > li.uk-active > a, .app_my_theme .uk-pagination > li.uk-active > span {
  background: #6299EC;
}

.uk-pagination > li > a, .uk-pagination > li > span {
  border-radius: 15px;
}

.uk-pagination > li.uk-active > a {
  color: #6299EC;
}

.uk-pagination > li {
  text-align: center;
}

.app_my_theme .uk-pagination>li>a:hover {
  color: #fff;
}

.app_my_theme .uk-pagination>li>a.pagination_arrow:hover {
  color: #5693f1;
  background: none;
}

/****************************************/

/************ FILTERS OFF-CANVAS ***********/

.advancedSearch, .clearCriteria {
  color: #6299EC !important;
}

/****************************************/

/************ DATASOURCE TYPE SELECTION ***********/

.datasourceTypeCard {
  background: #F6FAFD 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 6px #00000029;
  border-radius: 5px;
  opacity: 1;
}

/****************************************/

/************ WIZARD ***********/

.app_my_theme .wizard>.steps>ul>li.current a, .app_my_theme .wizard>.steps>ul>li.current a:active, .app_my_theme .wizard>.steps>ul>li.current a:hover {
  background: #34BDB6 0% 0% no-repeat padding-box;
  border-right: 1px solid #24847F;
}

.wizard>.steps>ul>li a, .wizard>.steps>ul>li a:active, .wizard>.steps>ul>li a:hover {
  background: #299791 0% 0% no-repeat padding-box;
  border-right: 1px solid #24847F;
  /*border-right: #299791;*/
}

.wizard>.steps>ul>li+li a {
  border-right: 1px solid #24847F;
}

.app_my_theme .wizard>.steps {
  background: #24847F;
}

/****************************************/


.comment {
  font-size: 70%;
}

.uk-width-expand\@m {
  flex: 1;
  min-width: 1px;
}

.uk-grid {
  /*margin-left: -50px;*/
}

.inline-block {
  display: inline-block;
}

body.landing {
  padding-top: 0px;
}

/********* LOADERS *********/

.loading {
  position: relative;
  min-height: 200px;
}

.loading-medium {
  position: relative;
  min-height: 400px;
}

.loading-big {
  position: relative;
  min-height: 600px;
}

.loader-small {
  background: url("../imgs/loader-small.gif") no-repeat center;
  z-index: 110;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loader-big {
  background: url("../imgs/loader-big.gif") no-repeat center;
  z-index: 110;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.whiteFilm {
  background: #ffffff;
  z-index: 105;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}

.transparentFilm {
  background: transparent;
  z-index: 105;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}
/**************************/

/********* FORM WIZARD *********/

.provide .wizard > .content {
  overflow: scroll;
  min-height: 480px;
}

.provide .wizard .content .body .uk-form-label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin: -4px 0;
  padding-bottom: 8px;
}

/*******************************/

.repositoryTypeSelection .uk-card-body {
  padding: 20px 20px;
}

.repositoryTypeSelection .el-title {
  font-size: 16px;
}



/********* REGISTRATION FORMS *********/

.wizard > .content > .body {
  padding: 48px 24px 0px;
}

.radioButtonForm .uk-button {
  background: none;
  border: none;
  padding: 4px 0px;
}

.visible_uk_links:hover, .visible_uk_links:focus {
  color: #128DD5;
}

.interface-box.new {
  border: 2px dashed #e7eaec;
  min-height: 504px;
}

.interface-box.new a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.interface-box.new i {
  color: #c4c4c4;
  display: block;
  font-size: 60px;
  margin-top: 155px;
}

.interface-box.new .info {
  color: #c4c4c4;
  display: inline-block;
  font-size: 21px;
  padding-top: 10px;
  text-align: center;
}

/**************************************/


/********** REPOSITORY LIST/GRID VIEW **********/

.provide .md-card .md-card-head-img {
  height: 80%;
  margin-top: 5%;
}

.provide a.md-card p {
  color: #444;
}

/***********************************************/

/********** TABS CARD **********/

.md-card.tabs .md-card-content {
  padding: 20px 30px;
}

/***********************************************/

/********** TIMELINE **********/

.timeline_icon_white {
  background: #fff;
}

.timeline_item .md-list > li {
  border-bottom: none;
}

/******************************/

/********* VALIDATION FORMS *********/

.selectAll label {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(#f7f8fc, #f8f9fc) repeat scroll 0 0;
  border-bottom: 1px solid #dee3ea;
  border-top: 1px solid #d4dbe4;
  box-shadow: 0 1px rgba(255, 255, 255, 0.79) inset;
  padding: 5px 5px;
  margin-left: -5px;
  margin-right: -5px;
}

.selectAll span {
  letter-spacing: 0.5px;
  margin-left: 15px;
}

.xPathPanel {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(#f7f8fc, #f8f9fc) repeat scroll 0 0;
  border-bottom: 1px solid #dee3ea;
  border-top: 1px solid #d4dbe4;
  box-shadow: 0 1px rgba(255, 255, 255, 0.79) inset;
  padding: 20px 10px;
  margin-left: -5px;
  margin-right: -5px;
}

/************************************/

/********* USAGE STATS *********/

.statsFrame {
  border: none;
  width: 100%;
  height: 400px;
}

/************************************/

.md-card.md-card-overlay-active .md-card-content {
  height: 500px;
}

.md-card.md-card-overlay-active .md-card-overlay-content {
  overflow: scroll;
}

.md-card.md-card-overlay .md-card-content {
  overflow: scroll;
}

.heading_a .sub-heading {
  display: inline-block;
}
