<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="uk-margin-medium-bottom">
      <h1 class="uk-article-title">Topics for datasource</h1>
    </div>
    <div>
      <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{errorMessage}}</div>
      <div style="text-align: center; margin-top: 100px;" *ngIf="showSpinner">
        <span>Retrieving topics ...</span><br>
        <img src="/assets/imgs/loader-big.gif">
      </div>
      <div class="uk-grid-margin uk-grid uk-grid-stack repos-list">
        <div *ngIf="noDatasources">
          No topics were found for this datasource
        </div>
        <div *ngIf="!noDatasources">
          Topics table to be added? ....
        </div>
      </div>
    </div>
  </div>
</div>
