<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
  <div class="uk-width-1-1@m uk-first-column">

    <h1 *ngIf="eventsPage" class="uk-h2">{{ eventsPage.datasource }}</h1>
    <div *ngIf="eventsPage" class="uk-text uk-text-small uk-text-secondary">{{ topic }}</div>

    <!-- TOP HELP CONTENT -->
<!--    <help-content #topHelperContent [position]="'top'"
                  [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>-->

    <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
      <div class="uk-grid">

        <!-- LEFT HELP CONTENT -->
<!--        <aside-help-content #leftHelperContent [position]="'left'"
                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
        </aside-help-content>-->

        <!-- MIDDLE -->
        <div class=" uk-width-expand@m">

          <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{errorMessage}}</div>
          <div *ngIf="loadingMessage" class="loading-big">
            <div class="loader-big" style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">{{ loadingMessage }}</div>
            <div class="whiteFilm"></div>
          </div>
          <div *ngIf="noEvents" class="uk-alert">{{ noEvents }}</div>
          <div *ngIf="!noEvents && !loadingMessage && !errorMessage && eventsPage && eventsPage.totalPages" class="events-results">
            <div class="numberOfEventsLabel">

              <!-- RESTORE WHEN getNotificationsBySubscriptionId IS FIXED AND SENDS CORRECT VALUE FOR CURRENT PAGE -->
              <!--<span>Showing {{(eventsPage.currPage*10)+1 }}-{{ ( (eventsPage.total < 10) || (eventsPage.total < (eventsPage.currPage+1)*10) ) ? (eventsPage.total) : (eventsPage.currPage+1)*10 }} of {{ eventsPage.total }} results</span>-->

              <!-- DELETE WHEN getNotificationsBySubscriptionId IS FIXED AND SENDS CORRECT VALUE FOR CURRENT PAGE -->
              <span>Showing {{(currentPage*10)+1 }}-{{ ( (eventsPage.total < 10) || (eventsPage.total < (currentPage+1)*10) ) ? (eventsPage.total) : (currentPage+1)*10 }} of {{ eventsPage.total }} results</span>

            </div>
            <div>
              <ul class="uk-pagination">
                <li>
                  <a class="uk-link uk-link-muted" (click)="goToPreviousPage()">
              <span class="uk-margin-small-right uk-pagination-previous uk-icon" uk-pagination-previous="">
                <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg" icon="pagination-previous" ratio="1"></svg>
              </span>
                    Previous
                  </a>
                </li>
                <li class="uk-margin-auto-left">
                  <a class="uk-link uk-link-muted" (click)="goToNextPage()">
                    Next
                    <span class="uk-margin-small-left uk-pagination-next uk-icon" uk-pagination-next="">
                <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg" icon="pagination-next" ratio="1"></svg>
              </span>
                  </a>
                </li>
              </ul>

              <!-- RESTORE WHEN getNotificationsBySubscriptionId IS FIXED AND SENDS CORRECT VALUE FOR CURRENT PAGE -->
              <!--<div class="resultsPageLabel">page {{ eventsPage.currPage+1 }} of {{ eventsPage.totalPages }}</div>-->

              <!-- DELETE WHEN getNotificationsBySubscriptionId IS FIXED AND SENDS CORRECT VALUE FOR CURRENT PAGE -->
              <div class="resultsPageLabel">page {{ currentPage+1 }} of {{ eventsPage.totalPages }}</div>

            </div>
            <div *ngFor="let event of eventsPage.values" class="events-list">
              <div class="uk-card uk-card-default well uk-scrollspy-inview uk-animation-slide-top-medium">
                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                  <div class="uk-width-1-1@m uk-first-column">
                    <p class="text-right"><span class="uk-label">Trust: {{ event.trust }}</span></p>
                    <div class="uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium">
                      <table class="uk-table uk-table-striped uk-table-middle">
                        <tbody>
                        <tr class="el-item">
                          <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">ID</strong></td>
                          <td class="uk-table-shrink">
                            <div class="el-title">{{ event.publication.originalId }}</div>
                          </td>
                        </tr>
                        <tr class="el-item">
                          <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Title(s)</strong></td>
                          <td class="uk-table-shrink">
                            <div class="el-title">
                              <span *ngFor="let t of event.publication.titles">{{ t }};&nbsp;&nbsp;</span></div>
                          </td>
                        </tr>
                        <tr class="el-item">
                          <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Author(s)</strong></td>
                          <td class="uk-table-shrink">
                            <div class="el-title"><span *ngFor="let auth of event.publication.creators">{{ auth }};&nbsp;&nbsp;</span></div>
                          </td>
                        </tr>
                        <tr class="el-item">
                          <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">PID(s)</strong></td>
                          <td class="uk-table-shrink"><div class="el-title"><span *ngFor="let pid of event.publication.pids">({{ pid.type }}) {{ pid.value }}</span></div></td>
                        </tr>
                        <tr class="el-item"><td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Abstract(s)</strong></td>
                          <td class="uk-table-shrink"><div class="el-title"><span *ngFor="let abs of event.publication.abstracts">{{ abs }}</span></div></td>
                        </tr>
                        <tr class="el-item">
                          <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Project(s)/Relation(s)</strong></td>
                          <td class="uk-table-shrink"><div class="el-title"><span *ngFor="let rel of event.publication.externalReferences">{{ rel.name }}; </span></div></td>
                        </tr>
                        <tr class="el-item">
                          <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Subject(s)</strong></td>
                          <td class="uk-table-shrink">
                            <div class="el-title"><span *ngFor="let subj of event.publication.subjects">{{ subj }};&nbsp;</span></div>
                          </td>
                        </tr>
                        <tr class="el-item">
                          <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Publication date</strong></td>
                          <td class="uk-table-shrink"><div class="el-title">{{ event.publication.publicationdate }}</div></td>
                        </tr>
                        <tr class="el-item success">
                          <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Rights</strong></td>
                          <td class="uk-table-shrink">
                            <div class="el-title">
                              <span *ngFor="let l of event.publication.instances">{{ l.license }}&nbsp;&nbsp;<b>{{ l.hostedby }}</b><br>
                                <a href="{{ l.url }}" target="_blank">{{ l.url }}</a><br>
                              </span>
                              <span class="pull-right">
                                <span class="uk-label uk-label-success">added</span>&nbsp;&nbsp;
                                <span><b>from: </b>
                                  <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                  <span> ({{ event.provenance.id }})</span>
                                </span>
                              </span>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <ul class="uk-pagination">
                <li>
                  <a class="uk-link uk-link-muted" (click)="goToPreviousPage()">
                    <span class="uk-margin-small-right uk-pagination-previous uk-icon" uk-pagination-previous="">
                      <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg" icon="pagination-previous" ratio="1"></svg>
                    </span>
                    Previous
                  </a>
                </li>
                <li class="uk-margin-auto-left">
                  <a class="uk-link uk-link-muted" (click)="goToNextPage()">
                    Next
                    <span class="uk-margin-small-left uk-pagination-next uk-icon" uk-pagination-next="">
                      <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg" icon="pagination-next" ratio="1"></svg>
                    </span>
                  </a>
                </li>
              </ul>

              <!-- RESTORE WHEN getNotificationsBySubscriptionId IS FIXED AND SENDS CORRECT VALUE FOR CURRENT PAGE -->
              <!--<div class="resultsPageLabel">page {{ eventsPage.currPage+1 }} of {{ eventsPage.totalPages }}</div>-->

              <!-- DELETE WHEN getNotificationsBySubscriptionId IS FIXED AND SENDS CORRECT VALUE FOR CURRENT PAGE -->
              <div class="resultsPageLabel">page {{ currentPage+1 }} of {{ eventsPage.totalPages }}</div>

            </div>
          </div>

        </div>

        <!-- RIGHT HELP CONTENT -->
        <aside-help-content #rightHelperContent [position]="'right'"
                            [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
        </aside-help-content>

      </div>
    </div>


    <!-- BOTTOM HELP CONTENT -->
    <help-content #bottomHelperContent [position]="'bottom'"
                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>


  </div>
</div>

<!--   *** OLD HTML ***

<div *ngIf="eventsPage" class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="uk-margin-medium-bottom">
      <h1 class="uk-article-title">{{ eventsPage.datasource }}</h1>
      <div class="uk-text uk-text-small uk-text-secondary">{{ topic }}</div>
    </div>
    <div>
      <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{errorMessage}}</div>
      <div *ngIf="loadingMessage" class="loading-big">
        <div class="loader-big" style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">{{ loadingMessage }}</div>
        <div class="whiteFilm"></div>
      </div>
      <div *ngIf="noEvents" class="uk-alert">{{ noEvents }}</div>
      <div *ngIf="eventsPage.totalPages" class="events-results">
        <div class="numberOfEventsLabel">
          <span>Showing {{(eventsPage.currPage*10)+1 }}-{{ ( (eventsPage.total < 10) || (eventsPage.total < (eventsPage.currPage+1)*10) ) ? (eventsPage.total) : (eventsPage.currPage+1)*10 }} of {{ eventsPage.total }} results</span>
        </div>
        <div>
          <ul class="uk-pagination">
            <li>
              <a class="uk-link uk-link-muted" (click)="goToPreviousPage()">
                <span class="uk-margin-small-right uk-pagination-previous uk-icon" uk-pagination-previous="">
                  <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg" icon="pagination-previous" ratio="1"></svg>
                </span>
                Previous
              </a>
            </li>
            <li class="uk-margin-auto-left">
              <a class="uk-link uk-link-muted" (click)="goToNextPage()">
                Next
                <span class="uk-margin-small-left uk-pagination-next uk-icon" uk-pagination-next="">
                  <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg" icon="pagination-next" ratio="1"></svg>
                </span>
              </a>
            </li>
          </ul>
          <div class="resultsPageLabel">page {{ eventsPage.currPage+1 }} of {{ eventsPage.totalPages }}</div>
        </div>
        <div *ngFor="let event of eventsPage.values" class="events-list">
          <div class="uk-card uk-card-default well uk-scrollspy-inview uk-animation-slide-top-medium">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
              <div class="uk-width-1-1@m uk-first-column">
                <p class="text-right"><span class="uk-label">Trust: {{ event.trust }}</span></p>
                <div class="uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium">
                  <table class="uk-table uk-table-striped uk-table-middle">
                    <tbody>
                    <tr class="el-item">
                      <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">ID</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">{{ event.publication.originalId }}</div>
                      </td>
                    </tr>
                    <tr class="el-item">
                      <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Title(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                          <span *ngFor="let t of event.publication.titles">{{ t }};&nbsp;&nbsp;</span></div>
                      </td>
                    </tr>
                    <tr class="el-item">
                      <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Author(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title"><span *ngFor="let auth of event.publication.creators">{{ auth }};&nbsp;&nbsp;</span></div>
                      </td>
                    </tr><tr class="el-item">
                      <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">PID(s)</strong></td>
                      <td class="uk-table-shrink"><div class="el-title"><span *ngFor="let pid of event.publication.pids">({{ pid.type }}) {{ pid.value }}</span></div></td>
                    </tr>
                    <tr class="el-item"><td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Abstract(s)</strong></td>
                      <td class="uk-table-shrink"><div class="el-title"><span *ngFor="let abs of event.publication.abstracts">{{ abs }}</span></div></td>
                    </tr>
                    <tr class="el-item">
                      <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Project(s)/Relation(s)</strong></td>
                      <td class="uk-table-shrink"><div class="el-title"><span *ngFor="let rel of event.publication.externalReferences">{{ rel.name }}; </span></div></td>
                    </tr>
                    <tr class="el-item">
                      <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Subject(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title"><span *ngFor="let subj of event.publication.subjects">{{ subj }};&nbsp;</span></div>
                      </td>
                    </tr>
                    <tr class="el-item">
                      <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Publication date</strong></td>
                      <td class="uk-table-shrink"><div class="el-title">{{ event.publication.publicationdate }}</div></td>
                    </tr>
                    <tr class="el-item success">
                      <td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Rights</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                            <span *ngFor="let l of event.publication.instances">{{ l.license }}&nbsp;&nbsp;<b>{{ l.hostedby }}</b><br>
                              <a href="{{ l.url }}" target="_blank">{{ l.url }}</a><br>
                            </span>
                          <span class="pull-right">
                              <span class="uk-label uk-label-success">added</span>&nbsp;&nbsp;
                              <span><b>from: </b>
                                <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                <span> ({{ event.provenance.id }})</span>
                              </span>
                            </span>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <ul class="uk-pagination">
            <li>
              <a class="uk-link uk-link-muted" (click)="goToPreviousPage()">
                <span class="uk-margin-small-right uk-pagination-previous uk-icon" uk-pagination-previous="">
                  <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg" icon="pagination-previous" ratio="1"></svg>
                </span>
                Previous
              </a>
            </li>
            <li class="uk-margin-auto-left">
              <a class="uk-link uk-link-muted" (click)="goToNextPage()">
                Next
                <span class="uk-margin-small-left uk-pagination-next uk-icon" uk-pagination-next="">
                  <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg" icon="pagination-next" ratio="1"></svg>
                </span>
              </a>
            </li>
          </ul>
          <div class="resultsPageLabel">page {{ eventsPage.currPage+1 }} of {{ eventsPage.totalPages }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
