.provide {
  .uk-card.number-card {
    height: unset !important;
  }

  .uk-card.overlay-card {
    border: 1px solid @provide-color;
    background-color: #E9F2FD;
    z-index: 200;
    left: -70px;
    width: 140%;
  }

  .uk-card.cart-card {

  }
}

