
.middle-box h1 {
    font-size: 70px;
}

.logo-name {
    letter-spacing: -7px;
    margin-bottom: 25px;
}

#page-wrapper {
    min-height: 850px !important;
}

.wizard > .content {
    background: #fff none repeat scroll 0 0;
    min-height: 220px;
}

.wizard > .content > .body input {
    display: inline-block;
}

.wizard > .steps > ul > li {
    width: 33%;
}

.product-imitation {
    padding: 70px 0;
}

.form-group .col-sm-12 {
	padding-left: 0px;
	padding-right: 0px;
}

.wizard > .content .body {
    position: relative;
}

.wizard > .content .body {
    float: left;
    height: 95%;
    padding: 2.5%;
    width: 95%;
}

.wizard > .content h2 {
    color: #829333;
    font-size: 18px;
    padding-bottom: 10px;
    /*padding-top: 25px;*/
}

.alert {
    padding: 10px;
}



