<div id="page_content">
  <div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">Register your datasource</h2>

    <!-- TOP HELP CONTENT -->
    <help-content #topHelperContent [position]="'top'"
                  [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>

    <div class="uk-grid">

      <!-- LEFT HELP CONTENT -->
      <aside-help-content #leftHelperContent [position]="'left'"
                          [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </aside-help-content>

      <!-- MIDDLE -->
      <div class=" uk-width-expand@m">

        <div class="uk-grid uk-grid-match uk-grid-medium repositoryTypeSelection uk-child-width-1-3@l uk-child-widht-1-3@m" data-uk-grid-margin="">

          <div class="uk-row-first">
            <div class="uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium
            datasourceTypeCard uk-inline-clip uk-transition-toggle" uk-scrollspy-class="" tabindex="0">
              <a [routerLink]="['literature']" [queryParams]="{ step: 'selectDatasource' }" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>
              <div class="md-card-content large-padding uk-margin-medium-top uk-margin-bottom">
                <div class="">
                  <img class="el-image" src="../../../assets/imgs/datasourcetypes/Asset%203.svg" alt="" width="51">
                </div>
                <h3>Literature repository</h3>
                <!--<a [routerLink]="['literature']" [queryParams]="{ step: 'selectDatasource' }" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>-->
                <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary" (click)="goTo('literature')" style="cursor: pointer">
                  <p class="uk-margin-remove">Make sure your repository is already registered in OpenDOAR, the authoritative
                    directory of institutional and thematic OA repositories, and is compatible with the OpenAIRE Guidelines for Literature Repositories.</p>
                  <a href="http://v2.sherpa.ac.uk/opendoar/" target="_blank">
                  List provided by
                  <br>
                  OpenDOAR<i class="fas fa-external-link-alt" style="margin-left: 3px !important;"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>

          <div class="">
            <div class="uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium
            datasourceTypeCard uk-inline-clip uk-transition-toggle" uk-scrollspy-class="" tabindex="0">
              <a [routerLink]="['data']" [queryParams]="{ step: 'selectDatasource' }" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>
              <div class="md-card-content large-padding uk-margin-medium-top uk-margin-bottom">
                <div class="">
                  <img class="el-image" src="../../../assets/imgs/datasourcetypes/Asset%202.svg" alt="" width="51">
                </div>
                <h3>Data repository</h3>
                <!--<a [routerLink]="['data']" [queryParams]="{ step: 'selectDatasource' }" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>-->
                <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary" (click)="goTo('data')" style="cursor: pointer">
                  <p class="uk-margin-remove">Make sure your data repository is registered in Re3Data, the global registry
                    of research data repositories from different academic disciplines, and is  compatible with the OpenAIRE Guidelines for Data Archives.</p>
                  <a href="http://www.re3data.org" target="_blank">
                    List provided by
                    <br>
                    Re3data<i class="fas fa-external-link-alt" style="margin-left: 3px !important;"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium
            datasourceTypeCard uk-inline-clip uk-transition-toggle" uk-scrollspy-class="" tabindex="0">
              <a [routerLink]="['journal']" [queryParams]="{ step: 'basicInformation' }" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>
              <div class="md-card-content large-padding uk-margin-medium-top uk-margin-bottom">
                <div class="">
                  <img class="el-image" src="../../../assets/imgs/datasourcetypes/Asset%208.svg" alt="" width="37">
                </div>
                <h3>Journal</h3>
                <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary" (click)="goTo('journal')" style="cursor: pointer">
                  <p class="uk-margin-remove">Make sure that your Journal is compatible with the OpenAIRE Guidelines for Literature Repositories.</p>
                  <a href="https://www.openaire.eu/support/helpdesk" target="_blank">
                    For any questions please contact the OpenAIRE helpdesk.<i class="fas fa-external-link-alt" style="margin-left: 3px !important;"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="uk-margin uk-grid uk-grid-match uk-grid-medium repositoryTypeSelection uk-child-width-1-3@l uk-child-widht-1-3@m" uk-grid="">

          <div class="uk-row-first">
            <div class="uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium
            datasourceTypeCard uk-inline-clip uk-transition-toggle" uk-scrollspy-class="" tabindex="0">
              <a [routerLink]="['aggregator']" [queryParams]="{ step: 'basicInformation' }" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>
              <div class="md-card-content large-padding uk-margin-medium-top uk-margin-bottom">
                <div class="">
                  <img class="el-image" src="../../../assets/imgs/datasourcetypes/Asset%204.svg" alt="" width="50">
                </div>
                <h3>Aggregator</h3>
                <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary" (click)="goTo('aggregator')" style="cursor: pointer">
                  <p class="uk-margin-remove">Make sure that your publications' aggregator is compatible with the OpenAIRE Guidelines for Literature Repositories.</p>
                  <a href="https://www.openaire.eu/support/helpdesk" target="_blank">
                    For any questions please contact the OpenAIRE helpdesk.<i class="fas fa-external-link-alt" style="margin-left: 3px !important;"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <hr style="border-top: 1px solid #dedede; margin-top: 40px; margin-bottom: 30px;">

        <h2 class="heading_b uk-margin-bottom">Coming soon</h2>

        <div class="uk-margin uk-grid uk-grid-match uk-grid-medium repositoryTypeSelection uk-child-width-1-3@l uk-child-widht-1-3@m" uk-grid="">

          <div class="uk-row-first">
            <div class="uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium
            datasourceTypeCard uk-inline-clip uk-transition-toggle" uk-scrollspy-class="" tabindex="0">
              <a class="el-link uk-position-cover uk-margin-remove-adjacent uk-disabled"></a>
              <div class="md-card-content large-padding uk-margin-medium-top uk-margin-bottom">
                <div class="">
                  <img class="el-image" src="../../../assets/imgs/datasourcetypes/Asset%201.svg" alt="" width="50">
                </div>
                <h3>CRIS systems</h3>
                <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                  <p class="uk-margin-remove">Stay tuned.</p>
                </div>
              </div>
              <div class="whiteFilm"></div>
            </div>
          </div>

          <div class="">
            <div class="uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium
            datasourceTypeCard uk-inline-clip uk-transition-toggle" uk-scrollspy-class="" tabindex="0">
              <a class="el-link uk-position-cover uk-margin-remove-adjacent uk-disabled"></a>
              <div class="md-card-content large-padding uk-margin-medium-top uk-margin-bottom">
                <div class="">
                  <img class="el-image" src="../../../assets/imgs/datasourcetypes/Asset%207.svg" alt="" width="51">
                </div>
                <h3>Software</h3>
                <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                  <p class="uk-margin-remove">Stay tuned.</p>
                </div>
              </div>
              <div class="whiteFilm"></div>
            </div>
          </div>

          <div class="">
            <div class="uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium
            datasourceTypeCard uk-inline-clip uk-transition-toggle" uk-scrollspy-class="" tabindex="0">
              <a class="el-link uk-position-cover uk-margin-remove-adjacent uk-disabled"></a>
              <div class="md-card-content large-padding uk-margin-medium-top uk-margin-bottom">
                <div class="">
                  <img class="el-image" src="../../../assets/imgs/datasourcetypes/Asset%206.svg" alt="" width="47">
                </div>
                <h3>Catch-all</h3>
                <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                  <p class="uk-margin-remove">Stay tuned.</p>
                </div>
              </div>
              <div class="whiteFilm"></div>
            </div>
          </div>

        </div>

        <div class="uk-margin uk-grid uk-grid-match uk-grid-medium repositoryTypeSelection uk-child-width-1-3@l uk-child-widht-1-3@m" uk-grid="">

          <div class="uk-row-first">
            <div class="uk-text-center md-card md-card-default md-card-hover uk-scrollspy-inview uk-animation-slide-top-medium
            datasourceTypeCard uk-inline-clip uk-transition-toggle" uk-scrollspy-class="" tabindex="0">
              <a class="el-link uk-position-cover uk-margin-remove-adjacent uk-disabled"></a>
              <div class="md-card-content large-padding uk-margin-medium-top uk-margin-bottom">
                <div class="">
                  <img class="el-image" src="../../../assets/imgs/datasourcetypes/Asset%205.svg" alt="" width="50">
                </div>
                <h3>Other sources</h3>
                <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                  <p class="uk-margin-remove">Stay tuned.</p>
                </div>
              </div>
              <div class="whiteFilm"></div>
            </div>
          </div>

        </div>

      </div>

      <!-- RIGHT HELP CONTENT -->
      <aside-help-content #rightHelperContent [position]="'right'"
                          [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </aside-help-content>

    </div>

    <!-- BOTTOM HELP CONTENT -->
    <help-content #bottomHelperContent [position]="'bottom'"
                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>

  </div>
</div>


