<div id="top_bar">
  <div class="md-top-bar">
    <div class="uk-width-large-8-10 uk-container-center">
      <ul class="top_bar_nav" id="list_grid_toggle">
        <li class="{{tilesView ? 'uk-active' : ''}}" data-view="grid_view">
          <a (click)="changeView('tiles')"><i class="uk-icon-th-large"></i> Grid</a>
        </li>
        <li data-view="list_view" class="{{tilesView ? '' : 'uk-active'}}">
          <a (click)="changeView('list')"><i class="uk-icon-list"></i> List</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="page_content">
  <div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">Manage your datasources</h2>

    <!-- TOP HELP CONTENT -->
    <help-content #topHelperContent [position]="'top'"
                  [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>

    <div class="uk-grid">

      <!-- LEFT HELP CONTENT -->
      <aside-help-content #leftHelperContent [position]="'left'"
                          [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </aside-help-content>

      <!-- MIDDLE -->
      <div class=" uk-width-expand@m">

        <repository-tiles #repositoryTiles [parent]="'sourcesUpdate'" [tilesView]="tilesView"
                          (emitNoRepos)="setNoRepositories($event)"></repository-tiles>

        <div *ngIf="!noRepositories" class="uk-grid uk-margin-medium-top openAIRECompliantLogoDownload">
          <div class="uk-width-1-1">
            <div class="uk-width-1-1">
              <div>
                <div class="openAIRECompliantLogo">
                  <h4 class="openAIRECompliantLogoMessage">
                    Congratulations! Your repository was successfully registered in OpenAIRE. You can download this logo to use in your site.
                  </h4>
                  <a (click)="downloadLogo()">
                    <img src="../../../assets/imgs/OpenAIRE_validated_icon_medium.png" alt="OpenAireCompliant">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- RIGHT HELP CONTENT -->
      <aside-help-content #rightHelperContent [position]="'right'"
                          [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </aside-help-content>

    </div>

    <!-- BOTTOM HELP CONTENT -->
    <help-content #bottomHelperContent [position]="'bottom'"
                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>

  </div>
</div>

    <!--<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">-->
      <!--<div class="uk-width-1-1@m uk-first-column">-->
        <!--<h1 class="uk-h2">Manage your datasources</h1>-->

        <!--&lt;!&ndash; TOP HELP CONTENT &ndash;&gt;-->
        <!--<help-content #topHelperContent [position]="'top'"-->
                      <!--[ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">-->
        <!--</help-content>-->

        <!--<div class="uk-container uk-container-large uk-margin-medium-top uk-margin-medium-bottom">-->
          <!--<div class="uk-grid">-->

            <!--&lt;!&ndash; LEFT HELP CONTENT &ndash;&gt;-->
            <!--<aside-help-content #leftHelperContent [position]="'left'"-->
                                <!--[ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">-->
            <!--</aside-help-content>-->

            <!--&lt;!&ndash; MIDDLE &ndash;&gt;-->
            <!--<div class=" uk-width-expand@m">-->

              <!--<repository-tiles #repositoryTiles [parent]="'sourcesUpdate'"-->
                                <!--(emitNoRepos)="setNoRepositories($event)"></repository-tiles>-->

              <!--<div *ngIf="!noRepositories" class="row openAIRECompliantLogoDownload">-->
                <!--<div class="col-lg-12">-->
                  <!--<div class="col-md-12">-->
                    <!--<div>-->
                      <!--<div class="openAIRECompliantLogo">-->
                        <!--<h2 class="openAIRECompliantLogoMessage">-->
                          <!--Congratulations! Your repository was successfully registered in OpenAIRE. You can download this logo to use in your site.-->
                        <!--</h2>-->
                        <!--<img src="../../../assets/imgs/OpenAIRE_validated_icon_medium.png" alt="OpenAireCompliant">-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<a (click)="downloadLogo()">-->
                      <!--Download-->
                      <!--<i class="fa fa-download" style=""></i>-->
                    <!--</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

            <!--</div>-->

            <!--&lt;!&ndash; RIGHT HELP CONTENT &ndash;&gt;-->
            <!--<aside-help-content #rightHelperContent [position]="'right'"-->
                                <!--[ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">-->
            <!--</aside-help-content>-->

          <!--</div>-->
        <!--</div>-->


        <!--&lt;!&ndash; BOTTOM HELP CONTENT &ndash;&gt;-->
        <!--<help-content #bottomHelperContent [position]="'bottom'"-->
                      <!--[ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">-->
        <!--</help-content>-->


      <!--</div>-->
    <!--</div>-->

