<div *ngIf="loadingMessage" class="loading-big">
  <div class="loader-big" style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">
    {{ loadingMessage }}
  </div>
  <div class="whiteFilm"></div>
</div>
<div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
<div *ngIf="successMessage" class="uk-alert uk-alert-success">{{ successMessage }}</div>
<form *ngIf="selectedRepo" [formGroup]="updateGroup">
  <div>
    <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="">
      Basic information
    </h4>
  </div>
  <form-inline [description]="softwarePlatformDesc">
    <select formControlName="softwarePlatform" class="form-control">
<!--      <option value="" selected>[Other] (enter name below)</option> RESTORE AFTER getTypologies begins to work-->
      <option *ngFor="let platform of typologies" value="{{ platform.value }}">{{ platform.name }}</option>
    </select>
  </form-inline>
  <form-inline [description]="platformNameDesc">
    <span *ngIf="updateGroup.get('platformName').touched && updateGroup.get('platformName').value"
          class="help-block inline"
          style="margin-top: 0px; margin-bottom: 0px; padding-left: 10px;">This value will be used as the platform for your repository</span>
    <input formControlName="platformName" class="form-control" style="" type="text">
  </form-inline>
  <form-inline [description]="officialNameDesc" >
    <input formControlName="officialName" class="form-control" style="" type="text">
  </form-inline>
  <div *ngIf="selectedRepo.datasourceType == 'journal'">
    <form-inline [description]="issnDesc" [valid]="updateGroup.get('issn').valid">
      <span *ngIf="updateGroup.get('issn').invalid && updateGroup.get('issn').touched && updateGroup.get('issn').dirty"
            class="help-block inline"
            style="margin-top: 0px; margin-bottom: 0px; padding-left: 10px;">Issn length has to be 8 characters</span>
      <input formControlName="issn" class="form-control" type="text" (focus)="updateGroup.get('issn').markAsUntouched()" (blur)="updateGroup.get('issn').updateValueAndValidity()">
    </form-inline>
    <form-inline [description]="eissnDesc" [valid]="updateGroup.get('eissn').valid">
      <span *ngIf="updateGroup.get('eissn').invalid && updateGroup.get('eissn').touched && updateGroup.get('eissn').dirty"
            class="help-block inline"
            style="margin-top: 0px; margin-bottom: 0px; padding-left: 10px;">Eissn length has to be 8 characters</span>
      <input formControlName="eissn"class="form-control" type="text" (focus)="updateGroup.get('eissn').markAsUntouched()" (blur)="updateGroup.get('eissn').updateValueAndValidity()">
    </form-inline>
    <form-inline [description]="lissnDesc" [valid]="updateGroup.get('lissn').valid">
      <span *ngIf="updateGroup.get('lissn').invalid && updateGroup.get('lissn').touched && updateGroup.get('lissn').dirty"
            class="help-block inline"
            style="margin-top: 0px; margin-bottom: 0px; padding-left: 10px;">Lissn length has to be 8 characters</span>
      <input formControlName="lissn"class="form-control" type="text" (focus)="updateGroup.get('lissn').markAsUntouched()" (blur)="updateGroup.get('lissn').updateValueAndValidity()">
    </form-inline>
  </div>
  <form-inline [description]="repoDescriptionDesc">
    <textarea formControlName="repoDescription" class="form-control"></textarea>
  </form-inline>
  <form-inline [description]="countryDesc">
    <select formControlName="country" class="form-control">
      <option value="">-- none selected --</option>
      <option *ngFor="let country of countries" value="{{country.code}}" title="{{country.name}}">{{ country.name }}</option>
    </select>
  </form-inline>
  <form-inline [description]="longtitudeDesc" [valid]="updateGroup.get('longtitude').valid">
    <span *ngIf="updateGroup.get('longtitude').invalid && updateGroup.get('longtitude').touched && updateGroup.get('longtitude').dirty"
          class="help-block inline"
          style="margin-top: 0px; margin-bottom: 0px; padding-left: 10px;">Invalid Longtitude</span>
    <input formControlName="longtitude" class="form-control" type="number" step="0.05" (focus)="updateGroup.get('longtitude').markAsUntouched()" (blur)="updateGroup.get('longtitude').updateValueAndValidity()">
  </form-inline>
  <form-inline [description]="latitudeDesc" [valid]="updateGroup.get('latitude').valid">
    <span *ngIf="updateGroup.get('latitude').invalid && updateGroup.get('latitude').touched && updateGroup.get('latitude').dirty"
          class="help-block inline"
          style="margin-top: 0px; margin-bottom: 0px; padding-left: 10px;">Invalid Latitude</span>
    <input formControlName="latitude" class="form-control" type="number" step="0.05" (focus)="updateGroup.get('latitude').markAsUntouched()" (blur)="updateGroup.get('latitude').updateValueAndValidity()">
  </form-inline>
  <form-inline [description]="websiteUrlDesc">
    <input formControlName="websiteUrl" class="form-control" type="text">
  </form-inline>
  <form-inline [description]="institutionNameDesc">
    <input formControlName="institutionName" class="form-control" type="text">
  </form-inline>
  <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium"
      uk-scrollspy-class="">Extra Information</h4>
  <form-inline [description]="englishNameDesc" [valid]="updateGroup.get('englishName').valid">
    <input formControlName="englishName" class="form-control" type="text">
  </form-inline>
  <form-inline [description]="logoUrlDesc" [valid]="updateGroup.get('logoUrl').valid">
    <input formControlName="logoUrl" class="form-control" type="text">
    <div class="comment fontItalic">
      Please make sure that the maximum size of the uploaded image is width=360px, height=240px
    </div>
  </form-inline>
  <form-inline [description]="timezoneDesc" [valid]="updateGroup.get('timezone').valid">
    <select formControlName="timezone" class="form-control">
      <option value="">-- none selected --</option>
      <option *ngFor="let timezone of timezones" value="{{ timezone.offset }}">{{ timezone.name }}</option>
    </select>
  </form-inline>
  <form-inline [description]="datasourceTypeDesc" [valid]="updateGroup.get('datasourceType').valid">
    <select formControlName="datasourceType" class="form-control">
      <option value="">-- none selected --</option>
      <option *ngFor="let key of classCodes" value="{{key}}">{{ datasourceClasses[key] }}</option>
    </select>
  </form-inline>
  <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium"
      uk-scrollspy-class="">Administrator & contact information</h4>
  <form-inline [description]="adminEmailDesc" [valid]="updateGroup.get('adminEmail').valid">
    <input formControlName="adminEmail" class="form-control" type="text">
  </form-inline>
  <div *ngIf="showButton" class="form-group">
    <button class="uk-button uk-button-primary updateRepoInfoButton" type="button" (click)="updateRepo()">Update Information</button>
  </div>
</form>

<confirmation-dialog #updateLogoUrlModal [title]="'Update Logo URL'" [isModalShown]="isModalShown"
                     [confirmActionButton]="'Update'" (emitObject)="updatedLogoUrl($event)">
  <input type="text" #logoURLinput name="logoUrl" placeholder="Logo URL" class="form-control" value="{{ updateGroup.get('logoUrl').value }}" (change)="changeLogoUrl(logoURLinput.value)">
</confirmation-dialog>
