
<div style="display:none;">
  <form id="login_form" method="post" action="ccsadmin/login">
    <input id="creds_username" name="username" type="text" required=""/>
    <input id="creds_password" name="password" type="password" required=""/>
  </form>
</div>

<div id="landingPage">
  <div class="uk-offcanvas-content">

    <div class="tm-header-mobile uk-hidden@m">
      <nav class="uk-navbar-container uk-navbar" uk-navbar="">
        <div class="uk-navbar-left">
          <a class="uk-navbar-toggle" href="#tm-mobile" uk-toggle="">
            <div uk-navbar-toggle-icon="" class="uk-navbar-toggle-icon uk-icon">
              <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                   icon="navbar-toggle-icon" ratio="1">
                <rect y="9" width="20" height="2"/>
                <rect y="3" width="20" height="2"/>
                <rect y="15" width="20" height="2"/>
              </svg>
            </div>
          </a>
        </div>
        <div class="uk-navbar-center">
          <a class="uk-navbar-item uk-logo" href="http://dl119.madgik.di.uoa.gr">
            <img src="img/OA_JOIN_A.png" alt="OpenAIRE"
                 class="uk-responsive-height"> </a>
        </div>
      </nav>
      <div id="tm-mobile" uk-offcanvas="" mode="slide" overlay="" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
          <button class="uk-offcanvas-close uk-close uk-icon" type="button" uk-close="">
            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"
                 icon="close-icon" ratio="1">
              <line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"/>
              <line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"/>
            </svg>
          </button>
          <div class="uk-child-width-1-1 uk-grid" uk-grid="">
            <div>
              <div class="uk-panel" id="module-0">
                <!-- THERE WAS COMMENTED SCRIPT HERE - CHECK REPOSITORYMANAGER.HTML -->
              </div>
            </div>
            <div>
              <div class="uk-panel" id="module-tm-2">
                <form id="search-tm-2" action="/index.php" method="post" role="search"
                      class="uk-search uk-search-default">
                                <span uk-search-icon="" class="uk-search-icon uk-icon"><svg width="20" height="20"
                                                                                            viewBox="0 0 20 20"
                                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                                            icon="search-icon"
                                                                                            ratio="1">
                                    <circle fill="none" stroke="#000" stroke-width="1.1" cx="9" cy="9" r="7"/>
                                    <path fill="none" stroke="#000" stroke-width="1.1" d="M14,14 L18,18 L14,14 Z"/>
                                </svg></span>
                  <input name="searchword" placeholder="Search" class="uk-search-input" type="search">
                  <input name="task" value="search" type="hidden">
                  <input name="option" value="com_search" type="hidden">
                  <input name="Itemid" value="1860" type="hidden">
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="tm-toolbar uk-visible@m">
      <div class="uk-container uk-flex uk-flex-middle uk-container-expand">


        <div class="uk-margin-auto-left">
          <div class="uk-grid-medium uk-child-width-auto uk-flex-middle uk-grid uk-grid-stack"
               uk-grid="margin: uk-margin-small-top">
            <div class="uk-first-column">
              <div class="uk-panel inner" id="module-119">
                <ul class="uk-subnav uk-subnav-line">
                  <li class="uk-active"><a
                    href="/index.php?option=com_content&amp;view=article&amp;id=292&amp;Itemid=1860"><img
                    class="uk-responsive-height"
                    src="http://dl119.madgik.di.uoa.gr/images/site_images/Home-icon.png"
                    alt="home"></a></li>
                  <li><a href="/www.cnn.com">Discover/Share</a></li>
                  <li class="active"><a href="/www.cnn.com">Join</a></li>
                  <li><a href="/www.cnn.com">Connect</a></li>
                  <li><a href="/www.cnn.com">Monitor</a></li>
                  <li><a href="/www.cnn.com">Develop</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tm-header uk-visible@m tm-header-transparent" uk-header="">
      <div class="uk-navbar-container uk-sticky uk-navbar-transparent uk-light" uk-sticky="top:0" media="768"
           cls-active="uk-active uk-navbar-sticky" style="" animation="uk-animation-slide-top"
           top=".tm-header + [class*=&quot;uk-section&quot;]" cls-inactive="uk-navbar-transparent uk-light">
        <div class="uk-container uk-container-expand">
          <nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">
            <div class="uk-navbar-left">
              <a href="http://dl119.madgik.di.uoa.gr" class="uk-logo uk-navbar-item">
                <img src="assets/imgs/OA_JOIN_B.png" alt="OpenAIRE" class="uk-responsive-height">
              </a>
            </div>

            <!-- THERE WAS COMMENTED SCRIPT HERE - CHECK REPOSITORYMANAGER.HTML -->

            <div class="uk-navbar-center" *ngIf="isLoggedIn">

              <ul class="uk-navbar-nav">
                <li class="uk-parent" [routerLinkActive]="['uk-active']">
                  <a routerLink="/home" routerLinkActive="uk-active">
                    Home
                  </a>
                </li>
                <li class="uk-parent" [routerLinkActive]="['uk-active']"><a href="#" class=""
                                                                            aria-expanded="false">Sources</a>
                  <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="top: 80px; left: 106.55px;"
                       id="searchMenu" (click)="onClick('searchMenu')">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                      <div class="uk-first-column">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li><a [routerLink]="['/search', { resourceType: 'component' }]" routerLinkActive="uk-active">Register</a>
                          </li>
                          <li><a [routerLink]="['/search', { resourceType: 'corpus' }]"
                                 routerLinkActive="uk-active">Update</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="uk-parent" [routerLinkActive]="['uk-active']"><a href="#" class=""
                                                                            aria-expanded="false">Compatibility</a>
                  <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="top: 80px; left: 106.55px;"
                       id="actions" (click)="onClick('actions')">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                      <div class="uk-first-column">

                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li><a [routerLink]="['/resourceRegistration/corpus/searchForPublications']"
                                 routerLinkActive="uk-active">Validation</a></li>
                          <li><a [routerLink]="['/resourceRegistration/corpus/upload']" routerLinkActive="uk-active">Monitor</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="uk-parent" [routerLinkActive]="['uk-active']"><a href="#" class="" aria-expanded="false">Content</a>
                  <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="top: 80px; left: 106.55px;" id="add"
                       (click)="onClick('add')">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                      <div class="uk-first-column">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li><a [routerLink]="['/resourceRegistration/component']" routerLinkActive="uk-active">Events</a>
                          </li>
                          <li><a [routerLink]="['/resourceRegistration/dataSource']" routerLinkActive="uk-active">Notifications</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="uk-parent" [routerLinkActive]="['uk-active']">
                  <a routerLink="/metrics" routerLinkActive="uk-active">
                    Metrics
                    <!--<img class="uk-responsive-height" src="./imgs/Icons/Home_24white.svg" alt="home">-->
                  </a>
                </li>
                <li class="uk-parent" [routerLinkActive]="['uk-active']"><a href="#" class=""
                                                                            aria-expanded="false">Admin</a>
                  <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="top: 80px; left: 106.55px;"
                       id="about" (click)="onClick('about')">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                      <div class="uk-first-column">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li><a href="#" target="_blank" routerLinkActive="uk-active">Help Texts</a></li>
                          <li><a href="#" target="_blank" routerLinkActive="uk-active">Metrics</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngIf="oAuthService.isUserLoggedIn" class="uk-parent" [routerLinkActive]="['uk-active']"><a href="#"
                                                                                                                class=""
                                                                                                                aria-expanded="false">My
                  Resources</a>
                  <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="top: 80px; left: 106.55px;"
                       id="mySpace" (click)="onClick('mySpace')">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                      <div class="uk-first-column">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li><a [routerLink]="['/mySpace/corpora']" routerLinkActive="uk-active">My Corpora</a></li>
                          <li><a [routerLink]="['/mySpace/services']" routerLinkActive="uk-active">My Services/Tools</a>
                          </li>
                          <li><a [routerLink]="['/mySpace/operations']" routerLinkActive="uk-active">My Operations</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="uk-navbar-right">
              <div class="uk-navbar-item btlogin" id="module-367">
                <div id="btl">

                  <!-- Panel top -->
                  <div class="btl-panel" style="float: right;">
                    <!-- Login button -->
                    <span style="color: rgb(255, 255, 255); border: medium none rgb(255, 255, 255);" id="btl-panel-login"
                          class="btl-dropdown">
                                  <a class="loginLink" (click)="logintoggle()"> SIGN IN   </a>
                                    </span>
                    |
                    <!-- Registration button -->
                    <span style="color: rgb(255, 255, 255); border: medium none rgb(255, 255, 255);" class="btl-dropdown">
                                  <a routerLinkActive="uk-active" class="loginLink">REGISTER</a>
                    </span>
                  </div>

                  <!-- Panel top -->
                  <div *ngIf="false" class="btl-panel" style="float: right;">
                    <!-- Login button -->
                    <span style="color: rgb(255, 255, 255); border: medium none rgb(255, 255, 255);" class="btl-dropdown">
                                  <a routerLink="/home" routerLinkActive="uk-active" class="loginLink" >SIGN OUT </a>
                                    </span>
                  </div>
                  <!-- content dropdown/modal box -->
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <!-- hidden="hidden" DOESN'T WORK! PROBABLY NOT NEEDED div ANYWAY! -->
      <div class="uk-sticky-placeholder" style="height: 84px; margin: 0px;" hidden="hidden"></div>
    </div>

  </div>
</div>

<div id="login" style="display:none">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <!--<img src="http://dl119.madgik.di.uoa.gr/images/openaire/Logo_Horizontal.png" alt="OpenAIRE" class="" width="100%">-->
        <img src="img/OA_JOIN_B.png" alt="OpenAIRE" class="" width="100%">
      </div>
      <h3>Welcome to OpenAIRE's Repository Manager</h3>

      <p>This service uses the same sign-in mechanism as the OpenAIRE portal so you can use the same
        credentials.</p>

      <p>Login in. To see it in action.</p>

      <div id="loginForm">
      </div>
    </div>
  </div>
</div>

<div id="register" style="display:none">
  <div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
      <div>
        <img src="assete/imgs/OA_JOIN_B.png" alt="OpenAIRE" class="" width="100%">
      </div>
      <h3>Register to OpenAIRE's Repository Manager</h3>
      <!--<p>Register to use the OpenAIRE repository manager services.</p>-->
      <div id="registerForm">
      </div>
    </div>
  </div>
</div>

