<div id="page_content_inner">

  <div class="uk-section uk-section-default">
    <div class="uk-container uk-container-expand">

      <!-- TOP HELP CONTENT -->
      <help-content #topHelperContent [position]="'top'"
                    [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
      </help-content>

      <div class="uk-grid">

        <!-- LEFT HELP CONTENT -->
        <aside-help-content #leftHelperContent [position]="'left'"
                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
        </aside-help-content>

        <!-- MIDDLE -->
        <div class=" uk-width-expand@m">

          <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
          <div *ngIf="loadingMessage" class="loading-big">
            <div class="loader-big" style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">
              {{ loadingMessage }}
            </div>
            <div class="transparentFilm"></div>
          </div>
          <div *ngIf="noAggregations">{{ noAggregations }}</div>
          <div *ngIf="aggregationsMap && years && (years.length > 0) && !noAggregations">
            <div *ngFor="let year of years" class="uk-width-1-1@m uk-margin-medium-bottom">

              <h6 class="">{{ year }}</h6>

              <div class="uk-card uk-card-default uk-margin-medium-bottom">
                <div class="uk-padding-small">
                  <div class="uk-overflow-container">
                    <table class="uk-table uk-table-striped">
                      <thead>
                      <tr>
                        <!--<th class="uk-width-1-10 uk-text-center small_col"><div class="icheckbox_md"><input type="checkbox" data-md-icheck="" class="check_all" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></th>-->
                        <th class="">Date</th>
                        <th class="">Aggregation stage</th>
                        <th class="">Collection mode</th>
                        <th class="uk-text-center">Number of records</th>
                        <th class="uk-text-center">Indexed version?</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let aggr of aggregationsMap[year]">
                        <!--<td class="uk-text-center uk-table-middle small_col"><div class="icheckbox_md"><input type="checkbox" data-md-icheck="" class="check_row" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>-->
                        <!--<td class="uk-text-center"><img class="md-user-image dense-image dense-ready" src="assets/img/avatars/avatar_01_tn@2x.png" alt="" data-dense-cap="2"></td>-->
                        <td><span *ngIf="aggr.date">{{ aggr.date | date : "yyyy-MM-dd" }}</span></td>
                        <td class=""><span *ngIf="aggr.aggregationStage">{{ aggr.aggregationStage }}</span></td>
                        <td class=""><span>{{ aggr.collectionMode ? aggr.collectionMode : '-'}}</span></td>
                        <td class="uk-text-center"><span *ngIf="aggr.numberOfRecords !== null">{{ aggr.numberOfRecords }}</span></td>
                        <td class="uk-text-center"><span *ngIf="aggr.indexedVersion !== null && (aggr.indexedVersion === true)" class="uk-badge">Indexed version</span></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div *ngIf="repo" id="back-fab">
            <button class="uk-button uk-button-primary uk-box-shadow-default uk-box-shadow-default-hover uk-flex uk-flex-middle" aria-haspopup="true" [routerLink]="['/repository/' + repo.id + '/aggregationHistory']"><span class="uk-flex"><span class="material-icons" style="font-size: 20px;">arrow_back</span></span><span class="uk-margin-small-left">Back</span></button>
          </div>

        </div>

        <!-- RIGHT HELP CONTENT -->
        <aside-help-content #rightHelperContent [position]="'right'"
                            [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
        </aside-help-content>

      </div>

      <!-- BOTTOM HELP CONTENT -->
      <help-content #bottomHelperContent [position]="'bottom'"
                    [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
      </help-content>

    </div>
  </div>

</div>
