<div>
  <div class="image-front-topbar  uk-section-default"
       uk-scrollspy="{&quot;target&quot;:&quot;[uk-scrollspy-class]&quot;,&quot;cls&quot;:&quot;uk-animation-fade&quot;,&quot;delay&quot;:false}" tm-header-transparent="light">
    <div style="background-image: url('../../../assets/imgs/KOJu48AA.jpeg'); background-color: rgb(255, 255, 255); box-sizing: border-box; min-height: calc(-101.35px + 100vh);" class="uk-background-norepeat uk-background-cover uk-background-top-center uk-background-fixed uk-section uk-padding-remove-bottom uk-flex uk-flex-middle" uk-height-viewport="offset-top: true;offset-bottom: 20">
      <div class="uk-width-1-1">
        <div class="uk-margin-medium uk-grid uk-grid-stack" uk-grid="">
          <div class="uk-width-1-1@m">
          </div>
        </div>
        <div class="uk-container uk-container-large uk-margin-large">
          <div class="uk-sticky-placeholder" style="height: 84px; margin: 0px;"></div>
          <div class="search_box_bg uk-grid-large uk-flex-middle uk-grid uk-grid-stack" uk-grid="">
            <!--<div class="uk-width-1-1@m uk-first-column">-->
              <!--<h1 id="page#6" class="uk-text-center uk-h1 uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">-->
                <!--OpenAIRE Content Provider Dashboard    </h1>-->
              <!--<h4 id="page#7" class="uk-text-center uk-h4 uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">-->
                <!--A one-stop-shop for sharing, finding and enriching your content    </h4>-->
              <!--<div class="uk-margin-large uk-text-center uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">-->
                <!--<a class="el-content uk-button uk-button-primary" (click)="goToPage('/dashboard')">-->
                  <!--Start here-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->
            <div class="el-overlay uk-panel uk-width-xlarge uk-dark">
              <h1 class="el-title uk-margin uk-heading-hero provide">Content Provider Dashboard</h1>
              <div class="el-content uk-margin"><h2 style="color:#1a1a1a!important">A one-stop-shop for sharing, finding and enriching your content</h2></div>
              <p><a (click)="goToPage('/dashboard')" class="el-link uk-button uk-button-primary">Start here</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section-default uk-section uk-section-small">
    <div class="uk-container uk-container-large">
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
        <div class="uk-width-1-1@m uk-first-column">
          <div class="uk-margin uk-text-center uk-child-width-1-1 uk-grid-match uk-child-width-1-1@s uk-child-width-1-4@m uk-child-width-1-4@l uk-grid-large uk-grid" uk-grid="">
            <div class="uk-first-column">
              <div class="el-item uk-card uk-card-hover uk-card-small uk-card-body">
                <a (click)="goToPage('/compatibility/validate')" class="el-link uk-position-cover uk-position-z-index uk-margin-remove-adjacent"></a>
                <img src="../../../assets/imgs/Path%20163.svg" class="el-image" alt="" uk-svg="" hidden="true">
                <h3 class="el-title uk-margin uk-h3">Validate</h3>
                <!--<div class="el-content uk-margin uk-text-lead">-->
                <div class="el-content uk-margin">
                  <p><strong>Interoperable metadata is key for effective content sharing.</strong></p>
                  <p>Use our validation service and see how you can apply the OpenAIRE Guidelines to expose your content using global standards.</p>
                </div>
              </div>
            </div>
            <div class="">
              <div class="el-item uk-card uk-card-hover uk-card-small uk-card-body">
                <a (click)="goToPage('/sources/register')" class="el-link uk-position-cover uk-position-z-index uk-margin-remove-adjacent"></a>
                <img src="../../../assets/imgs/Group%20987.svg" class="el-image" alt="" uk-svg="" hidden="true">
                <h3 class="el-title uk-margin uk-h3" style="margin-top: 26px !important;">Register</h3>
                <div class="el-content uk-margin">
                  <p><strong>Reach a wider audience around the world</strong></p>
                  <p>Register your literature or data repository, OA Journal, CRIS in OpenAIRE and be part of a global interlinked network. Start now!</p>
                </div>
              </div>
            </div>
            <div class="">
              <div class="el-item uk-card uk-card-hover uk-card-small uk-card-body">
                <a (click)="goToPage('/content/events')" class="el-link uk-position-cover uk-position-z-index uk-margin-remove-adjacent"></a>
                <img src="../../../assets/imgs/Group%20409.svg" class="el-image" alt="" uk-svg="" hidden="true">
                <h3 class="el-title uk-margin uk-h3">Enrich</h3>
                <div class="el-content uk-margin">
                  <p><strong>Improve your metadata. Get more connections</strong></p>
                  <p>Our newly released OA Broker service offers a wealth of information on scholarly communication data. Find out what interests you and subscribe to enrich your records. Learn more!</p>
                </div>
              </div>
            </div>
            <div class="">
              <div class="el-item uk-card uk-card-hover uk-card-small uk-card-body">
                <a (click)="goToPage('/getImpact')" class="el-link uk-position-cover uk-position-z-index uk-margin-remove-adjacent"></a>
                <img src="../../../assets/imgs/Group%20410.svg" class="el-image" alt="" uk-svg="" hidden="true">
                <h3 class="el-title uk-margin uk-h3" style="margin-top: 34px !important;">Measure</h3>
                <div class="el-content uk-margin">
                  <p><strong>Open research impact empowers Open Science</strong></p>
                  <p>Participate in the Open Metrics service by sharing your usage data. Get the benefit of an aggregated environment to broaden the mechanisms for impact assesment. Learn more!</p>
                </div>
              </div>
            </div>
            <!--<div class="">-->
              <!--<div class="el-item uk-card uk-card-hover uk-card-small uk-card-body">-->
                <!--<a href="https://catalogue.openaire.eu" class="el-link uk-position-cover uk-position-z-index uk-margin-remove-adjacent"></a>-->
                <!--<img src="../../../assets/imgs/Group%20599.svg" class="el-image" alt="" uk-svg="" hidden="true">-->
                <!--<h3 class="el-title uk-margin uk-h3">Have more questions?</h3>-->
                <!--<div class="el-content uk-margin uk-text-lead">-->
                  <!--Open research impact empowers Open Science-->
                  <!--Participate in the Open Metrics service by sharing your usage data. Get the benefit of an aggregated environment to broaden the mechanisms for impact assesment. Learn more!-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          </div>
          <div class="uk-margin-medium uk-text-center uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" style="">
            <a (click)="goToPage('/dashboard')" class="el-content uk-button uk-button-primary">
              Get Started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section-muted uk-section uk-section-small">
    <div class="uk-container uk-container-large">
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
        <div class="uk-width-1-1@m uk-first-column">
          <div class="uk-margin uk-child-width-1-1 uk-grid-match uk-child-width-1-1@s uk-child-width-1-2@m
            uk-child-width-1-2@l uk-grid-large uk-grid uk-grid-divider provide" uk-grid="">
            <div class="uk-first-column uk-text-center">
              <div class="el-item uk-card uk-card-small uk-card-body">
                <!--<a href="https://catalogue.openaire.eu" class="el-link uk-position-cover uk-position-z-index uk-margin-remove-adjacent"></a>-->
                <img src="../../../assets/imgs/Group%20599.svg" class="el-image" alt="" uk-svg="" hidden="true">
                <h3 class="el-title uk-margin uk-h3">Have more questions?</h3>
                <!--<div class="el-content uk-margin uk-text-lead">-->
                  <!--Open research impact empowers Open Science-->
                  <!--Participate in the Open Metrics service by sharing your usage data. Get the benefit of an aggregated environment to broaden the mechanisms for impact assesment. Learn more!-->
                <!--</div>-->
              </div>
            </div>
            <div class="questions">
              <div class="el-item uk-card uk-card-small uk-card-body">
                <ul class="uk-list uk-list-divider">
                  <li><a href="https://www.openaire.eu/os-primers">Learn about open science policies and how to align</a></li>
                  <li><a href="https://www.openaire.eu/rdm-handbook">Learn more on how to manage your data in the open science era</a></li>
                  <li><a href="https://www.openaire.eu/guides/">Find out how to use OpenAIRE to best serve your needs</a></li>
                  <li><a href="https://www.openaire.eu/webinars/">View our training material on a variety of related topics</a></li>
                  <li><a href="https://www.openaire.eu/contact-us/">Contact us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section-default uk-section">
    <div class="uk-container">
      <div class="uk-grid-medium uk-margin-medium uk-grid" uk-grid="">
        <div class="uk-width-2-3@m uk-first-column">
          <div class="uk-margin-medium-top uk-panel">
            <h3 class="el-title uk-margin uk-h3">
              Our community
            </h3>
            <hr class="uk-divider-small uk-text-left provide">

            <div class="uk-grid uk-margin-medium-top">

              <div class="uk-width-expand@m">
                <p class="uk-margin-medium-bottom">
                  <span class="emphasis provide">{{ statisticsNumbers ? (statisticsNumbers.literature | number) : 'N/A' }}</span><br>
                  <span class="uk-text-uppercase">literature repositories</span>
                </p>
                <p>
                  <span class="emphasis provide">{{ statisticsNumbers ? (statisticsNumbers.journal | number) : 'N/A' }}</span><br>
                  <span class="uk-text-uppercase">OA Journals</span>
                </p>
              </div>
              <div class="uk-width-expand@m">
                <p class="uk-margin-medium-bottom">
                  <span class="emphasis provide">{{ statisticsNumbers ? (statisticsNumbers.dataRepositories | number) : 'N/A' }}</span><br>
                  <span class="uk-text-uppercase">data repositories</span>
                </p>
                <p>
                  <span class="emphasis provide">{{ statisticsNumbers ? (statisticsNumbers.aggregators | number) : 'N/A' }}</span><br>
                  <span class="uk-text-uppercase">aggregators</span>
                </p>
              </div>

            </div>

            <div class="uk-grid">

              <div class="uk-width-expand@m">
                <p>
                  <span class="emphasis">{{ statisticsNumbers ? (statisticsNumbers.publications | number) : 'N/A' }}</span><span class="uk-text-uppercase"> publications</span>
                </p>
                <p>
                  <span class="emphasis">{{ statisticsNumbers ? (statisticsNumbers.datasets | number) : 'N/A' }}</span><span class="uk-text-uppercase"> datasets</span>
                </p>
                <p>
                  <span class="emphasis">{{ statisticsNumbers ? (statisticsNumbers.software | number) : 'N/A' }}</span><span class="uk-text-uppercase"> software</span>
                </p>
              </div>
              <div class="uk-width-expand@m">
                <p>
                  <span class="emphasis">{{ statisticsNumbers ? (statisticsNumbers.lastYearUsagestats.number | number) : 'N/A' }}</span><span class="uk-text-uppercase"> usage events
                  ({{ statisticsNumbers ? statisticsNumbers.lastYearUsagestats.year : 'N/A' }})</span>
                </p>
                <p>
                  <span class="emphasis">{{ statisticsNumbers ? (statisticsNumbers.usagestats | number) : 'N/A' }}</span><span class="uk-text-uppercase"> metadata exchange events</span>
                </p>
              </div>

            </div>
          </div>
        </div>
        <!--<div class="uk-width-expand@m">
          <h3 class="uk-h3 uk-heading-bullet uk-text-primary">
            Latest additions    </h3>
          <div class="uk-margin-remove-vertical uk-grid-match uk-child-width-1-1 uk-child-width-1-1@m uk-child-width-1-1@l uk-child-width-1-1@xl uk-grid-small uk-grid-divider uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-first-column">
              <div class="el-item uk-panel">
                <h6 class="el-title uk-margin uk-h6 uk-text-primary uk-margin-remove-adjacent uk-margin-remove-bottom">
                  Cambridge Server    </h6>
                <div class="el-meta uk-margin uk-text-meta">Cambridge Uviversity</div>
                <div class="el-content uk-margin"><span class="uk-label">IR</span>&nbsp;<span class=" uk-label uk-label-warning">Literature</span>&nbsp;<span class="uk-label uk-label-success" style="background-color: orange!important;">OpenAIRE 2.0</span><br> 4567 publications</div>
              </div>
            </div>
            <div class="uk-grid-margin uk-first-column">
              <div class="el-item uk-panel">
                <h6 class="el-title uk-margin uk-h6 uk-text-primary uk-margin-remove-adjacent uk-margin-remove-bottom">
                  Cambridge Server    </h6>
                <div class="el-meta uk-margin uk-text-meta">Cambridge Uviversity</div>
                <div class="el-content uk-margin"><span class="uk-label">IR</span>&nbsp;<span class=" uk-label uk-label-warning">Literature</span>&nbsp;<span class="uk-label uk-label-success" style="background-color: orange!important;">OpenAIRE 2.0</span><br> 4567 publications</div>
              </div>
            </div>
          </div>
          <div class="uk-margin">
            <a class="el-content uk-button uk-button-text">
              View all
            </a>
          </div>
        </div>-->
        <div class="uk-width-expand@m">

          <div class="uk-card uk-card-body uk-card-provide">

            <h3 class="uk-margin-remove-top uk-h3">
              <span class="">Our data policies</span>
            </h3>
            <hr class="uk-divider-small uk-text-left">

            <ul class="uk-margin-small uk-list uk-list-large uk-margin-medium-bottom">
              <li class="el-item uk-margin-medium-bottom">
                <h5 class="el-title uk-h5">Data acquisition</h5>
                <div class="el-content">
                  <span>How we retrieve data, how often, what processes it goes through (aggregating cleaning, transforming, inferring, de-duplicating), what are the quality checks&nbsp;along all&nbsp; data processing stages.</span>
                </div>
              </li>
              <li class="el-item">
                <h5 class="el-title uk-h5">Data usage</h5>
                <div class="el-content">
                  <span>Who is able to retrieve our data, what are the licences, what about specific SLAs.</span>
                </div>
              </li>
            </ul>
            <div class="uk-margin uk-margin-remove-bottom uk-text-left">
              <h6 class="uk-h6">
                <a class="el-content uk-link-text" href="https://www.openaire.eu/data-aquisition-policy" target="_blank">
                  Learn more
                </a>
              </h6>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <div class="uk-section-muted" uk-scrollspy="{&quot;target&quot;:&quot;[uk-scrollspy-class]&quot;,&quot;cls&quot;:&quot;uk-animation-fade&quot;,&quot;delay&quot;:false}">
    <div class="uk-container uk-container-large">
      <div class="uk-grid uk-margin-large-top uk-margin-large-bottom" uk-grid="">
        <div class="uk-width-expand@m uk-width-1-2@s uk-dark uk-grid-item-match uk-first-column explore">
          <div class="uk-margin uk-panel uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
            <h4 class="el-title uk-margin uk-h4">
              Researcher?
            </h4>
            <div class="el-content uk-margin">
              Explore all OA research results. Link all your research. Build your profile
            </div>
            <p>
              <a href="https://{{ inBeta ? 'beta.' : '' }}explore.openaire.eu" class="el-link uk-button uk-button-default" target="_blank">
                OpenAIRE.EXPLORE
              </a>
            </p>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-dark uk-grid-item-match connect">
          <div class="uk-margin uk-panel uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
            <h4 class="el-title uk-margin uk-h4">
              Research community?
            </h4>
            <div class="el-content uk-margin">
              Use a trusted partner to share, link, disseminate and monitor your research.
            </div>
            <p>
              <a href="https://{{ inBeta ? 'beta.' : '' }}connect.openaire.eu" class="el-link uk-button uk-button-default" target="_blank">
                OpenAIRE.CONNECT
              </a>
            </p>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-dark uk-grid-item-match monitor">
          <div class="uk-margin uk-panel uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
            <h4 class="el-title uk-margin uk-h4">
              Research manager?
            </h4>
            <div class="el-content uk-margin">
              Use our monitoring services and easily track all relevant research results.
            </div>
            <p>
              <a href="https://monitor.openaire.eu" class="el-link uk-button uk-button-default" target="_blank">
                OpenAIRE.MONITOR
              </a>
            </p>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-dark uk-grid-item-match develop">
          <div class="uk-margin uk-panel uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
            <h4 class="el-title uk-margin uk-h4">
              Developer?
            </h4>
            <div class="el-content uk-margin">
              Get access to OpenAIRE data and capitalize on Europe's open linked research
            </div>
            <p>
              <a href="https://develop.openaire.eu" class="el-link uk-button uk-button-default" target="_blank">
                OpenAIRE.DEVELOP
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
