<table class="uk-table uk-table-divider uk-table-small uk-table-middle uk-width-1-1">
  <thead>
    <tr>
      <th class="uk-table-middle">Request Type</th>
      <th class="uk-table-middle">Datasource</th>
      <th class="uk-table-middle">Source Gateway</th>
      <th class="uk-table-middle">Target Gateway</th>
      <th class="uk-table-middle">Status</th>
      <th *ngIf="showActionsColumn" class="uk-text-center uk-table-middle">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of data">
      <!-- Request Type -->
      <td>{{ request.requestType }}</td>

      <!-- Datasource -->
      <td>
        <strong>{{ request.datasource?.label }}</strong><br>
        <ng-container *ngIf="request.ownerApproval != null; else missingOwnerApproval">
          <span class="uk-label" [ngClass]="{
            'uk-label-success': request.ownerApproval?.decision === 'APPROVED',
            'uk-label-warning': request.ownerApproval?.decision === 'PENDING',
            'uk-label-danger': request.ownerApproval?.decision === 'REJECTED'
          }">{{ request.ownerApproval?.decision }}</span><br>
          <small>{{ request.ownerApproval?.decidedAt | date: 'dd/MM/yyyy' }}</small>
        </ng-container>
        <ng-template #missingOwnerApproval></ng-template>
      </td>

      <!-- Source Gateway -->
      <td>
        <strong>{{ request.sourceGateway?.label }}</strong><br>
        <ng-container *ngIf="request.sourceGatewayApproval != null">
          <span class="uk-label" [ngClass]="{
            'uk-label-success': request.sourceGatewayApproval?.decision === 'APPROVED',
            'uk-label-warning': request.sourceGatewayApproval?.decision === 'PENDING',
            'uk-label-danger': request.sourceGatewayApproval?.decision === 'REJECTED'
          }">{{ request.sourceGatewayApproval?.decision }}</span><br>
          <small>{{ request.sourceGatewayApproval?.decidedAt | date: 'dd/MM/yyyy' }}</small>
        </ng-container>
      </td>

      <!-- Target Gateway -->
      <td>
        <strong>{{ request.targetGateway?.label }}</strong><br>
        <ng-container *ngIf="request.targetGatewayApproval != null">
          <span class="uk-label" [ngClass]="{
            'uk-label-success': request.targetGatewayApproval?.decision === 'APPROVED',
            'uk-label-warning': request.targetGatewayApproval?.decision === 'PENDING',
            'uk-label-danger': request.targetGatewayApproval?.decision === 'REJECTED'
          }">{{ request.targetGatewayApproval?.decision }}</span><br>
          <small>{{ request.targetGatewayApproval?.decidedAt | date: 'dd/MM/yyyy' }}</small>
        </ng-container>
      </td>


      <!-- Overall Status -->
      <td>
        <span class="uk-label" [ngClass]="{
          'uk-label-success': request.status === 'APPROVED',
          'uk-label-warning': request.status === 'PENDING',
          'uk-label-danger': request.status === 'REJECTED'
        }">{{ request.status }}</span>
      </td>

      <!-- Actions -->
      <td *ngIf="showActionsColumn" class="uk-text-center">
        <div class="uk-flex uk-flex-column uk-flex-center">
          <button *ngIf="request.status === 'PENDING' || request.status === 'BLOCKED'"
            class="uk-button uk-button-primary uk-button-small uk-margin-small-bottom"
            (click)="openDecisionModal(request, 'APPROVED')">
            Approve
          </button>

          <button *ngIf="request.status === 'PENDING' || request.status === 'BLOCKED'"
             class="uk-button uk-button-danger uk-button-small"
            (click)="openDecisionModal(request, 'REJECTED')">
            Reject
          </button>
          <span *ngIf="request.status !== 'PENDING'" class="uk-text-bold uk-text-small">
          </span>
        </div>
      </td>

    </tr>
  </tbody>
</table>

<div #decisionModal class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close (click)="closeModal()"></button>
    <!--DEBUG-->
    <p>DEBUG: modalDecison= {{modalDecision}}</p>
    <h3 class="uk-modal-title">
      <!-- {{modalDecision}}
      {{this.modalRequest | json}} -->
      {{ modalDecision === 'APPROVED' ? 'Approve' : 'Reject' }} Request
    </h3>
    <div class="uk-margin">
      <label class="uk-form-label" for="modal-comment">
        Please create a comment (optional):
      </label>
      <textarea
        id="modal-comment"
        class="uk-textarea"
        rows="4"
        placeholder="Type your comment here..."
        [(ngModel)]="modalComment"
        name="modalComment">
      </textarea>
    </div>

    <p class="uk-text-right">
      <button
        class="uk-button uk-button-default uk-modal-close"
        type="button"
        (click)="closeModal()">
        Cancel
      </button>
      <button
        class="uk-button"
        [ngClass]="{'uk-button-primary': modalDecision === 'APPROVED', 'uk-button-danger': modalDecision === 'REJECTED'}"
        type="button"
        (click)="confirmModal()">
        Confirm {{ modalDecision === 'APPROVED' ? 'Approval' : 'Rejection' }}
      </button>
    </p>
  </div>
</div>
