<div id="register">
  <div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
      <div>
        <img src="assets/imgs/OA_JOIN_B.png" alt="OpenAIRE" class="" width="100%">
      </div>
      <h3>Register to OpenAIRE's Repository Manager</h3>
      <div id="registerForm">
        <form class="m-t" method="post" target="GWTBootstrap3_AbstractForm_RepositoryManager_2">
          <div class="uk-alert uk-alert-success" style="display:none;" aria-hidden="true"></div>
          <div class="uk-alert uk-alert-danger" style="display:none;" aria-hidden="true">All asterisk (*) fields are required</div>

          <div class="form-group">
            <input class="form-control" name="username" required="" type="text" placeholder="Username (*)"/>
          </div>
          <div class="form-group">
            <input class="form-control" name="firstname" required="" type="text" placeholder="First Name (*)"/>
          </div>
          <div class="form-group">
            <input class="form-control" name="lastname" required="" type="text" placeholder="Last Name (*)"/>
          </div>
          <div class="form-group">
            <input class="form-control" name="email" required="" type="email" placeholder="Email (*)"/>
          </div>
          <div class="form-group">
            <input class="form-control" name="institution" type="text" placeholder="Institution"/>
          </div>
          <div class="form-group">
            <input class="form-control" name="password" type="password" required="" placeholder="Password (*)"/>
          </div>
          <div class="form-group">
            <input class="form-control" name="confirm_password" type="password" required="" placeholder="Re-enter password (*)"/>
          </div>
          <button class="uk-button uk-button-primary block full-width m-b" type="submit">Register</button>
          <p class="text-muted text-center"><small>Do not have an account?</small></p>
          <a class="uk-button uk-button-sm uk-button-white uk-button-block" href="/user/login">Already have an account?</a>
        </form>
      </div>
    </div>
  </div>
</div>
