<div id="sidebar" class="sidebar_main_swipe uk-flex uk-background-default"
     [class.sidebar_main_active]="open && (hasSidebar || hasAdminMenu)"
     [class.sidebar_mini]="!open &&  (hasSidebar || hasAdminMenu)"
     [class.sidebar_hover]="hover">
<!--  Community id should not be part of the sidebar  -->
  <gateway-sidebar *ngIf="hasSidebar" (hoverChange)="onHoverChange($event)" [communityId]="communityId"></gateway-sidebar>
  <main class="uk-width-1-1">
    <router-outlet></router-outlet>
    <!-- <app-sticky-footer class="uk-section uk-section-default"></app-sticky-footer> -->
  </main>
</div>
