<div class="provideLanding">
  <div class="image-front-topbar  uk-section-default"
       uk-scrollspy="{&quot;target&quot;:&quot;[uk-scrollspy-class]&quot;,&quot;cls&quot;:&quot;uk-animation-fade&quot;,&quot;delay&quot;:false}" tm-header-transparent="light">
    <!--<div style="background-image: url('../../../../assets/imgs/landing/Group 1149.svg'); background-color: rgb(255, 255, 255); box-sizing: border-box; min-height: calc(-101.35px + 100vh);"-->
    <!--<div style="background-image: url('../../../../assets/imgs/landing/Group 1149.svg'); background-color: rgb(255, 255, 255); box-sizing: border-box; min-height: calc(-101.35px + 100vh);"-->
    <div style="background: transparent linear-gradient(0deg, #F7F7F7 20%, #E2EEFA 30%) 0% 0% no-repeat padding-box; box-sizing: border-box; min-height: calc(-101.35px + 100vh);"
         class="uk-background-norepeat uk-background-cover uk-background-top-center uk-background-fixed uk-section uk-padding-remove-bottom uk-flex uk-flex-middle" uk-height-viewport="offset-top: true;offset-bottom: 20">
      <div class="uk-width-1-1">
        <div class="uk-margin-medium uk-grid uk-grid-stack" uk-grid="">
          <div class="uk-width-1-1@m">
          </div>
        </div>
        <div class="uk-container uk-container-large uk-margin-large">
          <div class="uk-sticky-placeholder" style="height: 84px; margin: 0px;"></div>
          <div class="search_box_bg uk-grid-large uk-flex-middle uk-grid uk-grid-stack" uk-grid="">
            <div class="el-overlay uk-panel uk-width-1-1 uk-dark uk-text-center">

              <h1 class="uk-margin">Your data is valuable. Get connected. Participate</h1>

              <div class="uk-container uk-container-xsmall uk-container-center">
                <div class="uk-margin-medium-top uk-margin-medium-left uk-margin-medium-right text-muted">
                  The Provide Dashboard is a one-stop-service where content providers interact
                  with OpenAIRE and become a building block of a global Open Research community. A gateway to the European Open Science Cloud.
                </div>
              </div>

              <div class="uk-container uk-container-large uk-container-center">

                <div class="uk-margin-large-left uk-margin-large-right uk-margin-top">
                  <div class="uk-grid uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-3@s">
                    <div class="">
                      <img src="../../../../assets/imgs/landing/paidaki_me_xartia.png">
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center">
                      <a (click)="goToPage('/join')" class="el-link uk-button uk-button-primary">SIGN IN</a>
                    </div>
                  </div>
                </div>

              </div>

              <!--<div class="el-content uk-margin"><h2 style="color:#1a1a1a!important">A one-stop-shop for sharing, finding and enriching your content</h2></div>-->
              <!--<p><a (click)="goToPage('/dashboard')" class="el-link uk-button uk-button-primary">Sign In</a></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
