<div class="uk-margin-top">
  <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{errorMessage}}</div>
  <div class="marginBottom20" [formGroup]="group">
    <div>
      <label>Number of records to validate</label>
    </div>
    <div class="uk-margin uk-grid">
      <div class="uk-width-1-4@s">
        <label class="uk-link-muted" for="allRecords">
          <input id="allRecords" name="noOfRecords" type="radio" (change)="chooseAll(true)" checked>
          <span>All</span>
        </label>
      </div>
      <div class="uk-width-1-4@s">
        <label class="uk-link-muted" for="someRecords">
          <input id="someRecords" name="noOfRecords" type="radio" (change)="chooseAll(false)">
          <span>Custom</span>
        </label>
      </div>
      <div class="uk-width-1-2@s">
        <input class="form-control" formControlName="noOfRecordsInput" type="number" value="{{ currentNoOfRecords }}">
      </div>
    </div>
    <div class="marginBottom20">
      <div>
        <label for="selectValSet">Validation Set</label>
      </div>
      <div>
        <select id="selectValSet" class="form-control" formControlName="selectValSet">
          <option value="">All sets</option>
          <option *ngFor="let set of valSets" value="{{set}}">{{set}}</option>
        </select>
      </div>
      <div class="xPathPanel marginBottom20">
        <div>
          <label>Would you like to group your results by a specific field?</label>
        </div>
        <div class="uk-grid">
          <div class="uk-width-1-4@s">
            <label class="uk-link-muted" for="noXPath">
              <input id="noXPath" name="xpath" type="radio" (change)="addXpath(false)" checked>
              <span>No</span>
            </label>
          </div>
          <div class="uk-width-1-4@s">
            <label class="uk-link-muted" for="customXPath">
              <input id="customXPath" name="xpath" type="radio" (change)="addXpath(true)">
              <span>Yes</span>
            </label>
          </div>
          <div class="uk-width-1-2@s">
            <input class="form-control" formControlName="xpathInput" placeholder="-XPATH-" type="text">
          </div>
        </div>
        <div class="comment fontItalic marginTop10">
          <strong>XPath Examples:</strong>
          1. //header/setSpec 2. //record/metadata//*[name()='dc:language']
        </div>
      </div>
    </div>
  </div>
</div>
