<div *ngIf="baseUrlList" [formGroup]="group" class="form-group">
  <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
  <div>
    <label class="btn btn-link validationSetRadio" for="selectRadio">
      <input id="selectRadio" value="select" name="baseURLRadio" type="radio" (change)="chooseUrl(true)" checked>
      <span>Select base URL from one of your registered repositories</span>
    </label>
  </div>
  <select id="selectBaseUrl" formControlName="selectBaseUrl" class="form-control" >
    <option value="">-- none selected --</option>
    <option *ngFor="let url of baseUrlList" value="{{ url }}">{{ url }}</option>
  </select>
  <div>
    <label class="btn btn-link validationSetRadio" for="customRadio">
      <input id="customRadio" value="custom" name="baseURLRadio" type="radio" (change)="chooseUrl(false)">
      <span>or enter new</span>
    </label>
  </div>
  <input id="customBaseUrl" formControlName="customBaseUrl" class="form-control" type="text">
</div>
