<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="gwt-HTML uk-margin-medium-bottom">
      <h1 class="uk-article-title">Help Texts Admin</h1>
    </div>
    <div>
      <div class="alert alert-danger" style="display:none;" aria-hidden="true"></div>
      <div>
        <div class="alert alert-danger" style="display:none;" aria-hidden="true"></div>
        <div class="alert alert-success" style="display:none;" aria-hidden="true"></div>
        <div class="alert alert-warning" style="display:none;" aria-hidden="true"></div>
        <div>
          <form target="GWTBootstrap3_AbstractForm_RepositoryManager_2" role="form">
            <div class="form-group">
              <label class="control-label">Select help item</label>
              <select class="form-control">
                <option value="none">None selected</option>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label">Edit help text</label>
              <div id="editor"></div>
            </div>
          </form>
          <script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
          <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/javascript");
          </script>
        </div>
      </div>
      <div class="helpAdminActionButtons">
        <button class="btn btn-default uk-button-primary" type="button">Preview</button>
        <button class="btn btn-default" type="button">Submit Changes</button>
      </div>
    </div>
  </div>
  <div class="tm-sidebar uk-width-1-4@m">
    <div class="previewPanel"></div>
    <div>
      <div class="gwt-HTML">
        <div class="uk-card uk-card-body uk-card-default sidemenu">
          <h3 class="el-title uk-h3 uk-heading-bullet">Info / Help</h3>
          <p class="small">
            Use the drop down menu to select the target page where you want the help text to appear. Use the editor on the main window to modify the content (html format is accepted).
          </p>
          <p class="small">
            All help content appears in a pane box at the right hand side of the target page.
          </p>
          <p class="small">
            Click on the
            <span style="font-family:courier new,courier,monospace">PREVIEW</span>
            button and see how the help content will look like on the target page.
          </p>
          <p class="small">
            When you
            <span style="font-family:courier new,courier,monospace">SUBMIT CHANGES</span>
            these will automatically appear on the target page (refresh the browser page).
          </p>
          <p class="small"></p>
        </div>
      </div>
    </div>
  </div>
</div>
