<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="uk-margin-medium-bottom">
      <h1 class="uk-article-title">Metrics Admin</h1>
    </div>
    <div class="">
      <div class="alert alert-danger" style="display:none;" aria-hidden="true"></div>
      <div class="uk-width-1-1@m uk-first-column uk-margin-medium-bottom">
        <div class="uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium">
          <div>
            <table class="uk-table uk-table-striped uk-table-middle" style="font-size: 12px">
              <thead>
                <tr>
                  <th class="uk-text-nowrap">Repository</th>
                  <th class="uk-text-nowrap">Piwik site</th>
                  <th class="uk-text-nowrap">Requested on</th>
                  <th class="uk-text-nowrap">Requestor</th>
                  <th class="uk-text-nowrap">Validated</th>
                  <th class="uk-text-nowrap">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="el-item">
                  <td class="uk-table-shrink"></td>
                  <td class="uk-table-shrink"></td>
                  <td class="uk-text-nowrap uk-table-shrink"></td>
                  <td class="uk-text-nowrap uk-table-shrink"></td>
                  <td class="uk-text-nowrap uk-table-shrink"></td>
                  <td class="uk-text-nowrap uk-table-shrink"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
