<div id="page_content">
  <div id="page_content_inner">
    <div class="uk-section uk-section-default">
      <div class="uk-container uk-container-expand">
        <div class="">
          <h5>My Requests</h5>

          <div>
            <div *ngIf="loading">Loading repositories...</div>
            <div *ngIf="!loading">
              <div *ngIf="repositories && foundRequest else noRequest">
                <ng-container *ngFor="let repo of repositories">
                  <div class="uk-card uk-card-default" *ngIf="requests.get(repo.id)?.length > 0">

                    <!-- Header -->
                    <h6 class="uk-card-header">
                      {{ repo?.officialname }}
                    </h6>

                    <!-- Body with table -->
                    <div class="uk-card-body">
                      <app-reusable-table [data]="requests.get(repo.id)" [showActionsColumn]="true"
                        (approve)="approveRequest($event, repo)" (reject)="rejectRequest($event, repo)">
                      </app-reusable-table>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <ng-template #noRequest>
              <div class="uk-alert">No requests found.</div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>