<div id="page_content">
  <div id="page_content_inner">

    <div class="uk-section uk-section-default">
      <div class="uk-container uk-container-large">
        <h4 class="uk-margin-bottom">Datasources</h4>

        <div id="top_bar">
          <div class="md-top-bar">
            <div class="uk-width-1-3@l uk-margin-auto">
              <form class="uk-search uk-search-default uk-width-1-1@m">
                <div input placeholder="Search" type="text" [formInput]="filterForm.get('keyword')"
                  (focusout)="handleFilterChanges('keyword')">
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="uk-section uk-section-default uk-background-norepeat uk-background-cover uk-background-top-center"
      style="background-image: url('../../../../assets/imgs/landing/abstract2.svg'); !important; min-height: calc(80vh);">

      <div class="uk-flex uk-flex-center">
        <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
      </div>


      <div *ngIf="!errorMessage" class="uk-container uk-container-large">

        <div class="uk-padding-small uk-padding-remove-vertical">

          <div class="uk-margin-medium uk-margin-top repositoryAdminActions">

            <form [formGroup]="filterForm" class="uk-form-horizontal uk-flex">

              <div class="uk-padding-xsmall uk-padding-remove-vertical">
                <div input placeholder="Order" type="select" [formInput]="filterForm.get('order')"
                  [options]="[{value: 'DESCENDING', label: 'Descending'}, {value: 'ASCENDING', label: 'Ascending'}]"
                  (valueChange)="handleFilterChanges('order')">
                </div>
              </div>

              <div class="uk-padding-xsmall uk-padding-remove-vertical">
                <div input placeholder="Sort by" type="select" [formInput]="filterForm.get('sort')"
                  [options]="sortByOptions" (valueChange)="handleFilterChanges('sort')">
                </div>
              </div>

              <!--                  <div class="" style="margin-left:auto; margin-right:0;">-->
              <!--                    <button class="uk-button uk-button-link" (click)="downloadCSV()">-->
              <!--                      <i class="fas fa-download uk-margin-small-right"></i>Export to CSV-->
              <!--                    </button>-->
              <!--                  </div>-->

            </form>

          </div>

          <div class="uk-width-1-1@m">

            <div>
              <mat-paginator *ngIf="datasources" [length]="datasources.total" [pageSizeOptions]="[10, 25, 50, 100]"
                [showFirstLastButtons]="true" [pageSize]="filterForm.get('size').value"
                [pageIndex]="filterForm.get('page').value" (page)="handlePaginationChanges($event)">
              </mat-paginator>
            </div>

            <hr class="adminResultsHeader">

            <div *ngIf="loadingMessage; else results" class="loading-big">
              <div class="loader-big"
                style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">{{
                loadingMessage }}</div>
              <div class="transparentFilm"></div>
            </div>

            <ng-template #results>
              <!-- <div *ngFor="let res of datasources?.results" class="uk-card uk-card-default uk-margin-bottom">
                    <div class="uk-card-body large-padding">
                      <div class="uk-text-meta">{{res.eoscDatasourceType.split('::')[0]}}  {{res.eoscDatasourceType.split('::')[1]}}  {{res.eoscDatasourceType.split('::')[2]}}</div>
                      <div class="repositoryCardHeader uk-margin-bottom uk-margin-small-top"><a [routerLink]="['/repositoryAdmin/' + res.id]">{{res.officialname}}</a></div>
                      <div class="uk-margin-small-bottom"><span class="uk-badge uk-badge-primary uk-badge-notification uk-margin-small-right">ID</span>{{res.id}}</div>
                      <div class="uk-margin-small-bottom"><span class="uk-badge uk-badge-primary uk-badge-notification uk-margin-small-right">RM</span>{{res.registeredby}}</div>
                      <div class="uk-margin-small-bottom"><span class="mute-title">Date: </span><span class="small-content">{{res.registrationdate}}</span></div>
                      <div><span class="mute-title">Organization: </span><span *ngFor="let organization of res.organizations; let i=index" class="small-content"><span *ngIf="i>0">, </span>{{organization.legalname + ' (' + getCountryName(organization.country) + ')'}}</span></div>
                    </div>
                  </div> -->
              <div *ngFor="let res of datasources?.results" class="uk-card uk-card-default uk-margin-bottom">
                <div class="uk-card-body large-padding">
                  <div class="uk-flex uk-flex-between uk-margin-small-bottom">
                    <div class="uk-text-meta">
                      {{ res.eoscDatasourceType.split('::')[0] }}
                      {{ res.eoscDatasourceType.split('::')[1] }}
                      {{ res.eoscDatasourceType.split('::')[2] }}
                    </div>

                    <!-- PRIMARY -->
                    <div *ngIf="res.primaryProvideGateway === this.communityId" class="small-content uk-label uk-label-primary">
                      PRIMARY
                    </div>

                    <!-- AFFILIATED -->
                    <div *ngIf="res.primaryProvideGateway !== this.communityId && res.affiliatedProvideGateways?.includes(this.communityId)"
                      class="small-content uk-label uk-label-secondary">
                      AFFILIATED
                    </div>
                  </div>

                  <div class="repositoryCardHeader uk-margin-bottom uk-margin-small-top">
                    <a [routerLink]="['/repositoryAdmin/' + res.id]">{{ res.officialname }}</a>
                  </div>

                  <div class="uk-margin-small-bottom">
                    <span class="uk-badge uk-badge-primary uk-badge-notification uk-margin-small-right">ID</span>
                    {{ res.id }}
                  </div>

                  <div class="uk-margin-small-bottom">
                    <span class="uk-badge uk-badge-primary uk-badge-notification uk-margin-small-right">RM</span>
                    {{ res.registeredby }}
                  </div>

                  <div class="uk-margin-small-bottom">
                    <span class="mute-title">Date: </span>
                    <span class="small-content">{{ res.registrationdate }}</span>
                  </div>

                  <div>
                    <span class="mute-title">Organization: </span>
                    <span *ngFor="let organization of res.organizations; let i=index" class="small-content">
                      <span *ngIf="i>0">, </span>
                      {{ organization.legalname + ' (' + getCountryName(organization.country) + ')' }}
                    </span>
                  </div>
                </div>

                <!-- FOOTER -->
                <div class="uk-card-footer uk-flex uk-flex-right uk-flex-middle">
                  <!-- Show button only when AFFILIATED -->
                  <button *ngIf="res.primaryProvideGateway !== this.communityId && res.affiliatedProvideGateways?.includes(this.communityId)"
                    class="uk-button uk-button-primary uk-button-small" (click)="createGatewayRequest(res.id, RequestType.PRIMARY)">
                    Request PRIMARY
                  </button>

                  <!-- Show both buttons when NONE -->
                  <ng-container
                    *ngIf="res.primaryProvideGateway !== this.communityId && !res.affiliatedProvideGateways?.includes(this.communityId)">
                    <button class="uk-button uk-button-small uk-button-primary uk-margin-small-right"
                      (click)="createGatewayRequest(res.id, RequestType.PRIMARY)">
                      Request as PRIMARY
                    </button>
                    <button class="uk-button uk-button-small uk-button-secondary" (click)="createGatewayRequest(res.id, RequestType.AFFILIATED)">
                      Request as AFFILIATED
                    </button>
                  </ng-container>
                </div>
              </div>
              <!-- <div *ngFor="let datasource of datasources?.results" >
                <div class="uk-card uk-card-default uk-card-body uk-margin-medium-bottom">
                  <div class="uk-flex uk-flex-between">
                    <h5>{{ datasource.officialname }}
                      <a *ngIf="datasource.websiteurl" class="material-icons" href="{{datasource.websiteurl}}" target="_blank">open_in_new</a>
                    </h5>
                    <img *ngIf="datasource.logourl" src="{{datasource.logourl}}" alt="logo image">
                  </div>
                  <p *ngIf="datasource.englishname" class="uk-text-italic">({{ datasource.englishname }})</p>
                  <div *ngIf="datasource.description">
                    <span>Description:</span>
                    <p>{{ datasource.description }}</p>
                  </div>
                  <div *ngIf="datasource.organizations && datasource.organizations.length" class="">
                    <span>Organizations:</span>
                    <span *ngFor="let organization of datasource.organizations" class="uk-flex uk-flex-middle">
                      <br><span>{{ organization.legalname }}</span>
                      <a *ngIf="organization.websiteurl" href="{{organization.websiteurl}}" target="_blank" class="uk-flex uk-flex-middle"><span class="material-icons">open_in_new</span></a>
                    </span>
                  </div>
                  <pre>{{ datasource | json }}</pre>-->
              <!-- </div> -->
              <!-- </div> -->
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="page_content_sticky_footer">
    <app-sticky-footer></app-sticky-footer>
  </div>
</div>
