<div id="page_content">
  <div id="page_content_inner">

    <div class="uk-section uk-section-default">
      <div class="uk-container uk-container-large">
        <h4 class="uk-margin-bottom">Datasources</h4>

        <div id="top_bar">
          <div class="md-top-bar">
            <div class="uk-width-1-3@l uk-margin-auto">
              <form class="uk-search uk-search-default uk-width-1-1@m">
                <div input placeholder="Search" type="text"
                     [formInput]="keyword">
                </div>
              </form>
            </div>
          </div>
        </div>

        <div *ngFor="let datasource of datasources" >
          <div class="uk-card uk-card-default uk-card-body uk-margin-medium-bottom">
            <pre>{{ datasource | json }}</pre>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
