<div id="top_bar">
  <div class="md-top-bar">
    <div class="uk-width-large-8-10 uk-container-center">
      <ul class="top_bar_nav" id="list_grid_toggle">
        <li class="{{tilesView ? 'uk-active' : ''}}" data-view="grid_view">
          <a (click)="changeView('tiles')"><i class="uk-icon-th-large"></i> Grid</a>
        </li>
        <li data-view="list_view" class="{{tilesView ? '' : 'uk-active'}}">
          <a (click)="changeView('list')"><i class="uk-icon-list"></i> List</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="page_content">
  <div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">Enrich Your Content - Browse Events</h2>

    <!-- TOP HELP CONTENT -->
    <help-content #topHelperContent [position]="'top'"
                  [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>

    <div class="uk-grid">

      <!-- LEFT HELP CONTENT -->
      <aside-help-content #leftHelperContent [position]="'left'"
                          [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </aside-help-content>

      <!-- MIDDLE -->
      <div class=" uk-width-expand@m">

        <div>
          <div class="uk-width-1-1 uk-grid">
            <div class="uk-width-1-1">
              <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
              <div *ngIf="noDatasourcesMessage" class="uk-alert uk-alert-warning">{{ noDatasourcesMessage }}</div>
              <div *ngIf="loadingMessage" class="loading-big">
                <div class="loader-big" style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">
                  {{ loadingMessage }}
                </div>
                <div class="transparentFilm"></div>
              </div>

              <div id="list_grid1" *ngIf="datasourcesOfUser && datasourcesOfUser.length>0"
                   class="uk-grid uk-grid-match uk-grid-medium uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 {{tilesView ? 'grid_view' : 'list_view'}}">
                <div *ngFor="let repo of datasourcesOfUser" class="uk-margin-medium-top">

                  <a class="md-card" (click)="goToRepoEvents(repo['first']['value'])">
                    <div >
                      <div class="md-card-head uk-text-center uk-position-relative">
                        <img *ngIf="!repo['second']" class="md-card-head-img dense-image dense-ready" src="../../../assets/imgs/yourLogoHere.jpg" alt="" data-dense-cap="2">
                        <img *ngIf="repo['second']" class="md-card-head-img dense-image dense-ready" src="{{ repo['second'] }}" alt="" data-dense-cap="2">
                      </div>
                      <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">{{ repo['first']['value'] }}</h4>
                        <p><span>({{ repo['first']['size'] }} events)</span></p>
                        <!--<p>{{repo.description}}</p>-->
                        <!--<a class="md-btn md-btn-small md-btn-success" [routerLink]="[getLinkToNext(repo)]">Add to Cart</a>-->
                      </div>
                    </div>
                  </a>

                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

      <!-- RIGHT HELP CONTENT -->
      <aside-help-content #rightHelperContent [position]="'right'"
                          [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </aside-help-content>

    </div>

    <!-- BOTTOM HELP CONTENT -->
    <help-content #bottomHelperContent [position]="'bottom'"
                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>

  </div>
</div>
