<div id="page_content">
  <div id="page_content_inner">
    <h2 *ngIf="eventsPage" class="heading_b uk-margin-bottom">
      {{ eventsPage.datasource }}
      <span class="sub-heading">{{ topic }}</span>
    </h2>

    <!-- TOP HELP CONTENT -->
    <help-content #topHelperContent [position]="'top'"
                  [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>

    <div class="uk-grid">

      <!-- LEFT HELP CONTENT -->
      <aside-help-content #leftHelperContent [position]="'left'"
                          [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </aside-help-content>

      <!-- MIDDLE -->
      <div class=" uk-width-expand@m">

        <div>
          <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{errorMessage}}</div>
          <div *ngIf="loadingMessage" class="loading-big">
            <div class="loader-big" style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">{{ loadingMessage }}</div>
            <div class="transparentFilm"></div>
          </div>
          <div *ngIf="noEvents" class="uk-alert">{{ noEvents }}</div>
          <div *ngIf="!noEvents && !loadingMessage && !errorMessage && eventsPage && eventsPage.totalPages>0" class="events-results">

            <div class="uk-margin-bottom">Showing {{(currentPage*10)+1 }}-{{ ( (eventsPage.total < 10) || (eventsPage.total < (currentPage+1)*10) ) ? (eventsPage.total) : (currentPage+1)*10 }} of {{ eventsPage.total }} results</div>

            <div *ngFor="let event of eventsPage.values; let item_i = index" class="md-card md-card-hover md-card-overlay {{ (selectedItemIndex == item_i) ? 'md-card-overlay-active' : '' }}">
              <div class="md-card-content truncate-text" style="overflow-wrap: break-word;">

                <ng-container *ngIf="event.highlight.pids && event.highlight.pids.length>0">
                  <table class="uk-table uk-table-middle">
                    <tbody>
                    <tr class="el-item md-bg-green-50">
                      <td class="uk-table-shrink uk-width-1-5" style="vertical-align: top !important;"><strong class="el-title uk-display-block">PID(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let pid of event.publication.pids; let a_index = index">
                                  <br *ngIf="a_index > 0">
                                  <span>{{ pid.value }} <b>&nbsp;&nbsp;({{ pid.type }})&nbsp;&nbsp;</b>
                                    <span *ngFor="let hl_pid of event.highlight.pids">
                                      <span *ngIf="hl_pid.value.indexOf(pid.value)>=0 && event.highlight.pids.length>0 && event.provenance">
                                        <span class="uk-label uk-label-success">added</span>
                                        <span class="pull-right">
                                          <b>from: </b>
                                          <ng-container *ngIf="event.provenance.url">
                                            <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                            <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                          </ng-container>
                                          <ng-container *ngIf="!event.provenance.url">
                                            <span>{{ event.provenance.repositoryName }}</span>
                                          </ng-container>
                                        </span>
                                      </span>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </ng-container>

                <ng-container *ngIf="event.highlight.abstracts && event.highlight.abstracts.length>0">
                  <table class="uk-table uk-table-middle">
                    <tbody>
                    <tr class="el-item md-bg-green-50">
                      <td class="uk-table-shrink uk-width-1-5" style="vertical-align: top !important;"><strong class="el-title uk-display-block">Abstract(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let abs of event.publication.abstracts; let a_index = index">
                                  <br *ngIf="a_index > 1">
                                  <span><read-more-text [text]="abs" [maxHeight]="80"></read-more-text></span>
                                  <!--<span>{{ abs }}</span>-->
                                  <span *ngIf="event.highlight.abstracts.indexOf(abs)>=0 && event.highlight.abstracts.length>0 && event.provenance">
                                    <span class="pull-right">
                                      <b>from: </b>
                                      <ng-container *ngIf="event.provenance.url">
                                        <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                        <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                      </ng-container>
                                      <ng-container *ngIf="!event.provenance.url">
                                        <span>{{ event.provenance.repositoryName }}</span>
                                      </ng-container>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </ng-container>

                <ng-container *ngIf="event.highlight.projects && event.highlight.projects.length>0">
                  <table class="uk-table uk-table-middle">
                    <tbody>
                    <tr class="el-item md-bg-green-50">
                      <td class="uk-table-shrink uk-width-1-5" style="vertical-align: top !important;"><strong class="el-title uk-display-block">Project(s)/Relation(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let proj of event.publication.projects; let p_index = index">
                                  <br *ngIf="p_index > 0">
                                  <span *ngIf="proj.acronym && proj.acronym !==''">{{ proj.acronym }}</span>
                                  <span *ngIf="!proj.acronym || proj.acronym ===''">{{ proj.title }}</span>
                                  <span *ngIf="(proj.funder && proj.funder !=='') ||
                                               (proj.fundingProgram && proj.fundingProgram !=='')">
                                    (<span *ngIf="proj.funder && proj.funder !==''">{{ proj.funder }} </span>
                                    <span *ngIf="(proj.funder && proj.funder !=='') &&
                                                 (proj.fundingProgram && proj.fundingProgram !=='')">/</span>
                                    <span *ngIf="proj.fundingProgram && proj.fundingProgram !==''">{{ proj.fundingProgram }}</span>)
                                  </span>
                                  <span *ngFor="let hl_proj of event.highlight.projects">
                                    <span *ngIf="hl_proj.code.indexOf(proj.code)>=0  && event.highlight.projects.length>0 && event.provenance">
                                      <span class="pull-right">
                                        <b>from: </b>
                                        <ng-container *ngIf="event.provenance.url">
                                          <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                          <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                        </ng-container>
                                        <ng-container *ngIf="!event.provenance.url">
                                          <span>{{ event.provenance.repositoryName }}</span>
                                        </ng-container>
                                      </span>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </ng-container>

                <ng-container *ngIf="event.highlight.subjects && event.highlight.subjects.length>0">
                  <table class="uk-table uk-table-middle">
                    <tbody>
                    <tr class="el-item md-bg-green-50">
                      <td class="uk-table-shrink uk-width-1-5" style="vertical-align: top !important;"><strong class="el-title uk-display-block">Subject(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let subj of event.publication.subjects; let s_index = index">
                                  <br *ngIf="s_index > 0">
                                  <span>{{ subj }}</span>
                                  <span *ngIf="event.highlight.subjects.indexOf(subj)>=0 && event.highlight.subjects.length>0 && event.provenance">
                                    <span class="pull-right">
                                      <b>from: </b>
                                      <ng-container *ngIf="event.provenance.url">
                                        <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                        <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                      </ng-container>
                                      <ng-container *ngIf="!event.provenance.url">
                                        <span>{{ event.provenance.repositoryName }}</span>
                                      </ng-container>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </ng-container>

                <ng-container *ngIf="event.highlight.publications && event.highlight.publications.length>0">
                  <table class="uk-table uk-table-middle">
                    <tbody>
                    <tr class="el-item md-bg-green-50">
                      <td *ngIf="this.topic.includes('PUBLICATION')" class="uk-table-shrink uk-width-1-5" style="vertical-align: top !important;">
                        <strong class="el-title uk-display-block">{{this.lastTopicEntry}}<br>Publication(s)</strong>
                      </td>
                      <td *ngIf="!(this.topic.includes('PUBLICATION'))"
                          class="uk-table-shrink uk-width-1-5" style="vertical-align: top !important;">
                        <strong class="el-title uk-display-block">Publication(s)</strong>
                      </td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let pub of event.publication.publications; let s_index = index">
                                  <br *ngIf="s_index > 0">
                                  <span>{{ pub.titles[0] }} (ID: {{pub.originalId}})</span>
                                  <span *ngFor="let hl_pub of event.highlight.publications">
                                    <span *ngIf="hl_pub.originalId.indexOf(pub.originalId)>=0 && event.highlight.publications.length>0 && event.provenance">
                                      <span class="pull-right">
                                        <b>from: </b>
                                        <ng-container *ngIf="event.provenance.url">
                                          <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                          <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                        </ng-container>
                                        <ng-container *ngIf="!event.provenance.url">
                                          <span>{{ event.provenance.repositoryName }}</span>
                                        </ng-container>
                                      </span>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </ng-container>

                <ng-container *ngIf="event.highlight.datasets && event.highlight.datasets.length>0">
                  <table class="uk-table uk-table-middle">
                    <tbody>
                    <tr class="el-item md-bg-green-50">
                      <td *ngIf="this.topic.includes('DATASET')" class="uk-table-shrink uk-width-1-5" style="vertical-align: top !important;">
                        <strong class="el-title uk-display-block">{{this.lastTopicEntry}}<br>Dataset(s)</strong>
                      </td>
                      <td *ngIf="!(this.topic.includes('DATASET'))" class="uk-table-shrink uk-width-1-5" style="vertical-align: top !important;">
                        <strong class="el-title uk-display-block">Dataset(s)</strong>
                      </td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let dataset of event.publication.datasets; let s_index = index">
                                  <br *ngIf="s_index > 0">
                                  <span>{{ dataset.titles[0] }} <span *ngIf="dataset.pids && dataset.pids.length>0">({{dataset.pids[0].type}}: {{dataset.pids[0].value}})</span></span>
                                  <span *ngFor="let hl_dataset of event.highlight.datasets">
                                    <span *ngIf="hl_dataset.pids.indexOf(dataset.pids[s_index])>=0 && event.highlight.datasets.length>0 && event.provenance">
                                      <span class="pull-right">
                                        <b>from: </b>
                                        <ng-container *ngIf="event.provenance.url">
                                          <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                          <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                        </ng-container>
                                        <ng-container *ngIf="!event.provenance.url">
                                          <span>{{ event.provenance.repositoryName }}</span>
                                        </ng-container>
                                      </span>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </ng-container>

                <ng-container *ngIf="event.highlight.instances && event.highlight.instances.length>0">
                  <table class="uk-table uk-table-middle">
                    <tbody>
                    <tr class="el-item md-bg-green-50">
                      <td class="uk-table-shrink uk-width-1-5" style="vertical-align: top !important;"><strong class="el-title uk-display-block">Rights</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let l of event.publication.instances; let l_index = index">
                                  <br *ngIf="l_index > 0">
                                  <span>
                                    {{ l.license }}&nbsp;&nbsp;<b>{{ l.hostedby }}</b><br>
                                    <a href="{{ l.url }}" target="_blank">{{ l.url }}</a>
                                  </span>
                                  <span *ngFor="let hl of event.highlight.instances">
                                    <span *ngIf="hl.hostedby.indexOf(l.hostedby)>=0 && event.highlight.instances.length>0 && event.provenance">
                                      &nbsp;&nbsp;<span class="uk-label uk-label-success">added</span>&nbsp;&nbsp;
                                      <b>from: </b>
                                      <ng-container *ngIf="event.provenance.url">
                                        <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                        <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                      </ng-container>
                                      <ng-container *ngIf="!event.provenance.url">
                                        <span>{{ event.provenance.repositoryName }}</span>
                                      </ng-container>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </ng-container>

              </div>

              <div class="md-card-overlay-content">
                <div class="uk-clearfix md-card-overlay-header">
                  <i class="md-icon md-icon material-icons md-card-overlay-toggler" (click)="displayFullResultInfo(item_i)">{{ (selectedItemIndex == item_i) ? 'clear' : 'more_vert' }}</i>

                  <h2 *ngIf="event.publication.titles && event.publication.titles.length>0" class="heading_a uk-margin-bottom">
                    <span class="uk-badge uk-badge-primary uk-margin-small-right">Trust: {{ event.trust }}</span>
                    {{ event.publication.titles[0] }}
                    <span *ngIf="event.publication.originalId" class="sub-heading uk-margin-left">({{event.publication.originalId}})</span>
                  </h2>

                </div>
                <div class="truncate-text">
                  <table class="uk-table uk-table-striped uk-table-middle">
                    <tbody>
                    <tr class="el-item" *ngIf="event.publication.originalId">
                      <td class="uk-table-shrink uk-width-1-5"><strong class="el-title uk-display-block">ID</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">{{ event.publication.originalId }}</div>
                      </td>
                    </tr>
                    <tr class="el-item" *ngIf="event.publication.titles && event.publication.titles.length>0">
                      <td class="uk-table-shrink uk-width-1-5"><strong class="el-title uk-display-block">Title(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let t of event.publication.titles; let ti_index = index">
                                  <br *ngIf="ti_index>0">
                                  <span>{{ t }}</span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    <tr class="el-item" *ngIf="event.publication.creators && event.publication.creators.length>0">
                      <td class="uk-table-shrink uk-width-1-5"><strong class="el-title uk-display-block">Author(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let auth of event.publication.creators; let au_index = index">
                                  <span *ngIf="au_index>0"> | </span>
                                  <span>{{ auth }}</span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    <tr class="el-item" *ngIf="event.publication.pids && event.publication.pids.length>0"
                        [ngClass]="{'md-bg-green-50': event.highlight.pids && event.highlight.pids.length>0 }">
                      <td class="uk-table-shrink uk-width-1-5"><strong class="el-title uk-display-block">PID(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let pid of event.publication.pids; let a_index = index">
                                  <br *ngIf="a_index > 0">
                                  <span>{{ pid.value }} <b>&nbsp;&nbsp;({{ pid.type }})&nbsp;&nbsp;</b>
                                    <span *ngFor="let hl_pid of event.highlight.pids">
                                      <span *ngIf="hl_pid.value.indexOf(pid.value)>=0 && event.highlight.pids.length>0 && event.provenance">
                                        <span class="uk-label uk-label-success">added</span>
                                        <span class="pull-right">
                                          <b>from: </b>
                                          <ng-container *ngIf="event.provenance.url">
                                            <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                            <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                          </ng-container>
                                          <ng-container *ngIf="!event.provenance.url">
                                            <span>{{ event.provenance.repositoryName }}</span>
                                          </ng-container>
                                        </span>
                                      </span>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    <tr class="el-item" *ngIf="event.publication.abstracts && event.publication.abstracts.length>0"
                        [ngClass]="{'md-bg-green-50': event.highlight.abstracts && event.highlight.abstracts.length>0 }">
                      <td class="uk-table-shrink uk-width-1-5"><strong class="el-title uk-display-block">Abstract(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let abs of event.publication.abstracts; let a_index = index">
                                  <br *ngIf="a_index > 1">
                                  <!--<span>{{ abs }}</span>-->
                                  <span>
                                    <read-more-text [text]="abs" [maxHeight]="80"></read-more-text>
                                  </span>
                                  <span *ngIf="event.highlight.abstracts.indexOf(abs)>=0 && event.highlight.abstracts.length>0 && event.provenance">
                                    <span class="pull-right">
                                      <b>from: </b>
                                      <ng-container *ngIf="event.provenance.url">
                                        <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                        <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                      </ng-container>
                                      <ng-container *ngIf="!event.provenance.url">
                                        <span>{{ event.provenance.repositoryName }}</span>
                                      </ng-container>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    <tr class="el-item" *ngIf="event.publication.projects && event.publication.projects.length>0"
                        [ngClass]="{'md-bg-green-50': event.highlight.projects && event.highlight.projects.length>0 }">
                      <td class="uk-table-shrink uk-width-1-5"><strong class="el-title uk-display-block">Project(s)/Relation(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let proj of event.publication.projects; let p_index = index">
                                  <br *ngIf="p_index > 0">
                                  <span *ngIf="proj.acronym && proj.acronym !==''">{{ proj.acronym }}</span>
                                  <span *ngIf="!proj.acronym || proj.acronym ===''">{{ proj.title }}</span>
                                  <span *ngIf="(proj.funder && proj.funder !=='') ||
                                               (proj.fundingProgram && proj.fundingProgram !=='')">
                                    (<span *ngIf="proj.funder && proj.funder !==''">{{ proj.funder }} </span>
                                    <span *ngIf="(proj.funder && proj.funder !=='') &&
                                                 (proj.fundingProgram && proj.fundingProgram !=='')">/</span>
                                    <span *ngIf="proj.fundingProgram && proj.fundingProgram !==''">{{ proj.fundingProgram }}</span>)
                                  </span>
                                  <span *ngFor="let hl_proj of event.highlight.projects">
                                    <span *ngIf="hl_proj.code.indexOf(proj.code)>=0  && event.highlight.projects.length>0 && event.provenance">
                                      <span class="pull-right">
                                        <b>from: </b>
                                        <ng-container *ngIf="event.provenance.url">
                                          <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                          <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                        </ng-container>
                                        <ng-container *ngIf="!event.provenance.url">
                                          <span>{{ event.provenance.repositoryName }}</span>
                                        </ng-container>
                                      </span>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    <tr class="el-item" *ngIf="event.publication.subjects && event.publication.subjects.length>0"
                        [ngClass]="{'md-bg-green-50': event.highlight.subjects && event.highlight.subjects.length>0 }">
                      <td class="uk-table-shrink uk-width-1-5"><strong class="el-title uk-display-block">Subject(s)</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let subj of event.publication.subjects; let s_index = index">
                                  <br *ngIf="s_index > 0">
                                  <span>{{ subj }}</span>
                                  <span *ngIf="event.highlight.subjects.indexOf(subj)>=0 && event.highlight.subjects.length>0 && event.provenance">
                                    <span class="pull-right">
                                      <b>from: </b>
                                      <ng-container *ngIf="event.provenance.url">
                                        <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                        <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                      </ng-container>
                                      <ng-container *ngIf="!event.provenance.url">
                                        <span>{{ event.provenance.repositoryName }}</span>
                                      </ng-container>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>

                    <!--Publications-->
                    <tr class="el-item" *ngIf="event.publication.publications && event.publication.publications.length>0"
                        [ngClass]="{'md-bg-green-50': event.highlight.publications && event.highlight.publications.length>0 }">
                      <td *ngIf="this.topic.includes('PUBLICATION')" class="uk-table-shrink uk-width-1-5">
                        <strong class="el-title uk-display-block">{{this.lastTopicEntry}}<br>Publication(s)</strong>
                      </td>
                      <td *ngIf="!(this.topic.includes('PUBLICATION'))"
                          class="uk-table-shrink uk-width-1-5">
                        <strong class="el-title uk-display-block">Publication(s)</strong>
                      </td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let pub of event.publication.publications; let s_index = index">
                                  <br *ngIf="s_index > 0">
                                  <span>{{ pub.titles[0] }} (ID: {{pub.originalId}})</span>
                                  <span *ngFor="let hl_pub of event.highlight.publications">
                                    <span *ngIf="hl_pub.originalId.indexOf(pub.originalId)>=0 && event.highlight.publications.length>0 && event.provenance">
                                      <span class="pull-right">
                                        <b>from: </b>
                                        <ng-container *ngIf="event.provenance.url">
                                          <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                          <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                        </ng-container>
                                        <ng-container *ngIf="!event.provenance.url">
                                          <span>{{ event.provenance.repositoryName }}</span>
                                        </ng-container>
                                      </span>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>

                    <!--Datasets-->
                    <tr class="el-item" *ngIf="event.publication.datasets && event.publication.datasets.length>0"
                        [ngClass]="{'md-bg-green-50': event.highlight.datasets && event.highlight.datasets.length>0 }">
                      <td *ngIf="this.topic.includes('DATASET')" class="uk-table-shrink uk-width-1-5">
                        <strong class="el-title uk-display-block">{{this.lastTopicEntry}}<br>Dataset(s)</strong>
                      </td>
                      <td *ngIf="!(this.topic.includes('DATASET'))" class="uk-table-shrink uk-width-1-5">
                        <strong class="el-title uk-display-block">Dataset(s)</strong>
                      </td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let dataset of event.publication.datasets; let s_index = index">
                                  <br *ngIf="s_index > 0">
                                  <span>{{ dataset.titles[0] }} <span *ngIf="dataset.pids && dataset.pids.length>0">({{dataset.pids[0].type}}: {{dataset.pids[0].value}})</span></span>
                                  <span *ngFor="let hl_dataset of event.highlight.datasets">
                                    <span *ngIf="hl_dataset.pids.indexOf(dataset.pids[s_index])>=0 && event.highlight.datasets.length>0 && event.provenance">
                                      <span class="pull-right">
                                        <b>from: </b>
                                        <ng-container *ngIf="event.provenance.url">
                                          <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                          <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                        </ng-container>
                                        <ng-container *ngIf="!event.provenance.url">
                                          <span>{{ event.provenance.repositoryName }}</span>
                                        </ng-container>
                                      </span>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>


                    <tr class="el-item" *ngIf="event.publication.publicationdate && event.publication.publicationdate.length>0"
                        [ngClass]="{'md-bg-green-50': event.highlight.publicationdate && event.highlight.publicationdate.length>0 }">
                      <td class="uk-table-shrink uk-width-1-5"><strong class="el-title uk-display-block">Publication date</strong></td>
                      <td class="uk-table-shrink"><div class="el-title">{{ event.publication.publicationdate }}</div></td>
                    </tr>

                    <tr class="el-item" *ngIf="event.publication.instances && event.publication.instances.length>0"
                        [ngClass]="{'md-bg-green-50': event.highlight.instances && event.highlight.instances.length>0 }">
                      <td class="uk-table-shrink uk-width-1-5"><strong class="el-title uk-display-block">Rights</strong></td>
                      <td class="uk-table-shrink">
                        <div class="el-title">
                                <span *ngFor="let l of event.publication.instances; let l_index = index">
                                  <br *ngIf="l_index > 0">
                                  <span>
                                    {{ l.license }}&nbsp;&nbsp;<b>{{ l.hostedby }}</b><br>
                                    <a href="{{ l.url }}" target="_blank">{{ l.url }}</a>
                                  </span>
                                  <span *ngFor="let hl of event.highlight.instances">
                                    <span *ngIf="hl.hostedby.indexOf(l.hostedby)>=0 && event.highlight.instances.length>0 && event.provenance">
                                      &nbsp;&nbsp;<span class="uk-label uk-label-success">added</span>&nbsp;&nbsp;
                                      <b>from: </b>
                                      <ng-container *ngIf="event.provenance.url">
                                        <a href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>
                                        <span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>
                                      </ng-container>
                                      <ng-container *ngIf="!event.provenance.url">
                                        <span>{{ event.provenance.repositoryName }}</span>
                                      </ng-container>
                                    </span>
                                  </span>
                                </span>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>

            <!--<div *ngFor="let event of eventsPage.values" class="events-list">-->
            <!--<div class="uk-card uk-card-default well uk-scrollspy-inview uk-animation-slide-top-medium">-->
            <!--<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">-->
            <!--<div class="uk-width-1-1@m uk-first-column">-->
            <!--<p class="text-right"><span class="uk-label">Trust: {{ event.trust }}</span></p>-->
            <!--<div class="uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium">-->
            <!--<table class="uk-table uk-table-striped uk-table-middle">-->
            <!--<tbody>-->
            <!--<tr class="el-item">-->
            <!--<td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">ID</strong></td>-->
            <!--<td class="uk-table-shrink">-->
            <!--<div class="el-title">{{ event.publication.originalId }}</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr class="el-item">-->
            <!--<td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Title(s)</strong></td>-->
            <!--<td class="uk-table-shrink">-->
            <!--<div class="el-title">-->
            <!--<span *ngFor="let t of event.publication.titles; let ti_index = index">-->
            <!--<br *ngIf="ti_index>0">-->
            <!--<span>{{ t }}</span>-->
            <!--</span>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr class="el-item">-->
            <!--<td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Author(s)</strong></td>-->
            <!--<td class="uk-table-shrink">-->
            <!--<div class="el-title">-->
            <!--<span *ngFor="let auth of event.publication.creators; let au_index = index">-->
            <!--<span *ngIf="au_index>0"> | </span>-->
            <!--<span>{{ auth }}</span>-->
            <!--</span>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr class="el-item" [ngClass]="{'success': event.highlight.pids && event.highlight.pids.length>0 }">-->
            <!--<td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">PID(s)</strong></td>-->
            <!--<td class="uk-table-shrink">-->
            <!--<div class="el-title">-->
            <!--<span *ngFor="let pid of event.publication.pids">-->
            <!--<span>{{ pid.value }} <b>&nbsp;&nbsp;({{ pid.type }})&nbsp;&nbsp;</b>-->
            <!--<span *ngIf="event.highlight.pids && event.highlight.pids.length>0 && isHighlighted(pid,event.highlight.pids)">-->
            <!--<span class="uk-label uk-label-success">added</span>&nbsp;&nbsp;-->
            <!--<span *ngIf="event.provenance" class="pull-right">-->
            <!--<b>from: </b>-->
            <!--<a *ngIf="event.provenance.url" href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>-->
            <!--<span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr class="el-item" [ngClass]="{'success': event.highlight.abstracts && event.highlight.abstracts.length>0 }">-->
            <!--<td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Abstract(s)</strong></td>-->
            <!--<td class="uk-table-shrink">-->
            <!--<div class="el-title">-->
            <!--<span *ngFor="let abs of event.publication.abstracts; let a_index = index">-->
            <!--<br *ngIf="a_index > 0">-->
            <!--<span>{{ abs }}</span>-->
            <!--<span *ngIf="event.highlight.abstracts && event.highlight.abstracts.length>0 && event.provenance">-->
            <!--<span class="pull-right">-->
            <!--<b>from: </b>-->
            <!--<a *ngIf="event.provenance.url" href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>-->
            <!--<span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr class="el-item" [ngClass]="{'success': event.highlight.projects && event.highlight.projects.length>0 }">-->
            <!--<td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Project(s)/Relation(s)</strong></td>-->
            <!--<td class="uk-table-shrink">-->
            <!--<div class="el-title">-->
            <!--<span *ngFor="let proj of event.publication.projects; let p_index = index">-->
            <!--<br *ngIf="p_index > 0">-->
            <!--<span *ngIf="proj.acronym && proj.acronym !==''">{{ proj.acronym }}</span>-->
            <!--<span *ngIf="!proj.acronym || proj.acronym ===''">{{ proj.title }}</span>-->
            <!--<span *ngIf="(proj.funder && proj.funder !=='') ||-->
            <!--(proj.fundingProgram && proj.fundingProgram !=='')">-->
            <!--(<span *ngIf="proj.funder && proj.funder !==''">{{ proj.funder }} </span>-->
            <!--<span *ngIf="(proj.funder && proj.funder !=='') &&-->
            <!--(proj.fundingProgram && proj.fundingProgram !=='')">/</span>-->
            <!--<span *ngIf="proj.fundingProgram && proj.fundingProgram !==''">{{ proj.fundingProgram }}</span>)-->
            <!--</span>-->

            <!--<span *ngIf="event.highlight.projects && event.highlight.projects.length>0 && event.provenance">-->
            <!--<span class="pull-right">-->
            <!--<b>from: </b>-->
            <!--<a *ngIf="event.provenance.url" href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>-->
            <!--<span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr class="el-item" [ngClass]="{'success': event.highlight.subjects && event.highlight.subjects.length>0 }">-->
            <!--<td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Subject(s)</strong></td>-->
            <!--<td class="uk-table-shrink">-->
            <!--<div class="el-title">-->
            <!--<span *ngFor="let subj of event.publication.subjects; let s_index = index">-->
            <!--<br *ngIf="s_index > 0">-->
            <!--<span>{{ subj }}</span>-->
            <!--<span *ngIf="event.highlight.subjects && event.highlight.subjects.length>0 && event.provenance">-->
            <!--<span class="pull-right">-->
            <!--<b>from: </b>-->
            <!--<a *ngIf="event.provenance.url" href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>-->
            <!--<span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr class="el-item" [ngClass]="{'success': event.highlight.publicationdate && event.highlight.publicationdate.length>0 }">-->
            <!--<td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Publication date</strong></td>-->
            <!--<td class="uk-table-shrink"><div class="el-title">{{ event.publication.publicationdate }}</div></td>-->
            <!--</tr>-->
            <!--<tr class="el-item" [ngClass]="{'success': event.highlight.instances && event.highlight.instances.length>0 }">-->
            <!--<td class="uk-table-shrink uk-width-1-4"><strong class="el-title uk-display-block">Rights</strong></td>-->
            <!--<td class="uk-table-shrink">-->
            <!--<div class="el-title">-->
            <!--<span *ngFor="let l of event.publication.instances; let l_index = index">-->
            <!--<br *ngIf="l_index > 0">-->
            <!--<span>-->
            <!--{{ l.license }}&nbsp;&nbsp;<b>{{ l.hostedby }}</b><br>-->
            <!--<a href="{{ l.url }}" target="_blank">{{ l.url }}</a>-->
            <!--</span>-->
            <!--<span *ngIf="event.highlight.instances && event.highlight.instances.length>0 && isHighlighted(l,event.highlight.instances)">-->
            <!--<span class="uk-label uk-label-success">added</span>&nbsp;&nbsp;-->
            <!--<span *ngIf="event.provenance" class="pull-right">-->
            <!--<b>from: </b>-->
            <!--<a *ngIf="event.provenance.url" href="{{ event.provenance.url }}" target="_blank">{{ event.provenance.repositoryName }}</a>-->
            <!--<span *ngIf="event.provenance.id"> (ID: {{ event.provenance.id }})</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <ul class="uk-pagination uk-margin-medium-top">
              <li class="uk-pagination-previous"><a (click)="goToPreviousPage()"><i class="uk-icon-angle-left"></i><span class="uk-margin-left">Previous</span></a></li>
              <li class=""><span>page {{ (eventsPage.totalPages > 0) ? currentPage+1 : 0 }} of {{ eventsPage.totalPages }}</span></li>
              <li class="uk-pagination-next"><a (click)="goToNextPage()"><span class="uk-margin-right">Next</span><i class="uk-icon-angle-right"></i></a></li>
            </ul>

          </div>
        </div>

      </div>

      <!-- RIGHT HELP CONTENT -->
      <aside-help-content #rightHelperContent [position]="'right'"
                          [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </aside-help-content>

    </div>

    <!-- BOTTOM HELP CONTENT -->
    <help-content #bottomHelperContent [position]="'bottom'"
                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>

  </div>
</div>

