.uk-form-horizontal .uk-form-label {
  width: 100px;
}

.uk-form-horizontal .uk-form-controls {
  margin-left: 115px;
}

.uk-search-default .uk-search-input {
  padding-left: 15px;
  padding-right: 15px;
}
