<div id="page_content">
  <div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">{{ title }}</h2>

    <!-- TOP HELP CONTENT -->
    <help-content #topHelperContent [position]="'top'"
                  [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>

    <div class="uk-grid">

      <!-- LEFT HELP CONTENT -->
      <aside-help-content #leftHelperContent [position]="'left'"
                          [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </aside-help-content>

      <!-- MIDDLE -->
      <div class=" uk-width-expand@m">

        <div *ngIf="errorMessage" class="uk-alert uk-alert-warning">{{errorMessage}}</div>
        <div *ngIf="loadingMessage" class="loading-big">
          <div class="loader-big" style="text-align: center; padding-top: 170px; color: rgb(47, 64, 80); font-weight: bold;">
            {{ loadingMessage }}
          </div>
          <div class="transparentFilm"></div>
        </div>
        <div *ngIf="repo && chosen_report" class="uk-margin-top">

          <div class="md-card">
            <div class="md-card-content large-padding">

              <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">

                <div class="uk-width-1-3@l uk-width-1-3@m uk-row-first">

                  <h3>Report Request</h3>

                  <div class="md-input-wrapper md-input-filled uk-margin-bottom">
                    <label>Report Name</label>
                    <input class="md-input label-fixed" type="text" value="{{ chosen_report }}" disabled>
                    <span class="md-input-bar "></span>
                  </div>

                  <div class="md-input-wrapper md-input-filled uk-margin-bottom">
                    <label>Release</label>
                    <input class="md-input label-fixed" type="text" value="4" disabled>
                    <span class="md-input-bar "></span>
                  </div>

                  <div class="md-input-wrapper md-input-filled uk-margin-bottom">
                    <label>Requestor</label>
                    <input class="md-input label-fixed" type="text" value="{{ userEmail }}" disabled>
                    <span class="md-input-bar "></span>
                  </div>

                </div>

                <!--<hr>-->

                <div class="uk-width-1-3@l uk-width-1-3@m">
                  <h3>Report Filters</h3>

                  <h5>Date range</h5>

                  <div class="uk-text-italic">
                    <p>Valid date formats are yyyy-mm-dd or yyyy-mm. Default range is the last available month.</p>
                  </div>

                  <div class="">
                    <div class="md-input-wrapper md-input-filled uk-margin-bottom">
                      <label>Begin Date</label>
                      <input class="md-input label-fixed" name="BeginDate" placeholder="2016-03" type="text" (blur)="updateBeginDate($event)">
                      <span class="md-input-bar "></span>
                    </div>
                    <div class="md-input-wrapper md-input-filled">
                      <label>End Date</label>
                      <input class="md-input label-fixed" name="EndDate" placeholder="2016-06" type="text" (blur)="updateEndDate($event)">
                      <span class="md-input-bar "></span>
                    </div>
                  </div>

                  <h5><span *ngIf="chosen_report == 'RR1' || chosen_report == 'JR1'">Optional </span>Filters</h5>

                  <div class="uk-text-italic">
                    <p *ngIf="chosen_report != 'RR1' && chosen_report != 'JR1'">
                      For more specific results, provide an Item Identifier.<br>
                      Identifier format: <b>namespace:value</b><br>
                      Valid namespace for Item Identifier: <b>openaire</b>, <b>doi</b> or <b>oid</b>(for OAI-PMH).
                    </p>
                    <p *ngIf="chosen_report =='RR1'">
                      By default results are returned for all repositories.<br>
                      To get just the results for the current repository, check the box.</p>
                  </div>

                  <div *ngIf="chosen_report != 'JR1'">
                    <div class="md-input-wrapper md-input-filled uk-margin-bottom">
                      <label>Repository Identifier</label>
                      <input class="md-input label-fixed" type="text" value="{{ shownRepoId }}" disabled>
                      <span class="md-input-bar "></span>
                    </div>
                    <div *ngIf="chosen_report =='RR1'" class="uk-margin-bottom">
                      <input class="md-input label-fixed" type="checkbox" value="useCurrentRepo" (change)="updateUseCurrentRepo($event)">
                      <label class="inline-label">Select current repository</label>
                    </div>
                  </div>

                  <div *ngIf="repo.issn && chosen_report == 'JR1'" class="">
                    <div class="md-input-wrapper md-input-filled uk-margin-bottom">
                      <label>Journal Identifier</label>
                      <input class="md-input label-fixed" type="text" value="{{ shownRepoId }}" disabled>
                      <span class="md-input-bar "></span>
                    </div>
                  </div>


                  <div *ngIf="chosen_report != 'JR1' && chosen_report != 'RR1'" class="">
                    <div class="md-input-wrapper md-input-filled uk-margin-bottom">
                      <label>Item Identifier</label>
                      <input class="md-input label-fixed" name="ItemIdentifier" placeholder="e.g. openaire:od_________::fb90de6f20d79783d05749d8f60417d5"
                             type="text" (blur)="updateItemIdentifier($event)">
                      <span class="md-input-bar "></span>
                    </div>

                  </div>

                  <div *ngIf="chosen_report == 'IR1' || chosen_report == 'RR1' || chosen_report == 'JR1'">

                    <div class="uk-text-italic uk-margin-top uk-margin-bottom">
                      <p>Optional filter to only show results for a single item type, e.g. article, book, etc.</p>
                    </div>

                    <div class="md-input-wrapper md-input-filled">
                      <label class="">Item Data Type</label>
                      <select class="md-input" name="ItemDataType" (change)="updateItemDataType($event)">
                        <!-- TODO: get the list from api if it becomes available -->
                        <option value="">--- Select Item Data Type ---</option>
                        <option value="Annotation">Annotation</option>
                        <option value="Article">Article</option>
                        <option value="Bachelor thesis">Bachelor thesis</option>
                        <option value="Book">Book</option>
                        <option value="clinical trial">clinical trial</option>
                        <option value="Collection">Collection</option>
                        <option value="Conference object">Conference object</option>
                        <option value="Contribution for newspaper or weekly magazine">Contribution for newspaper or weekly magazine</option>
                        <option value="Dataset">Dataset</option>
                        <option value="Doctoral thesis">Doctoral thesis</option>
                        <option value="Event">Event</option>
                        <option value="External research report">External research report</option>
                        <option value="Film">Film</option>
                        <option value="Image">Image</option>
                        <option value="InteractiveResource">InteractiveResource</option>
                        <option value="Internal report">Internal report</option>
                        <option value="Lecture">Lecture</option>
                        <option value="Master thesis">Master thesis</option>
                        <option value="Newsletter">Newsletter</option>
                        <option value="Other">Other</option>
                        <option value="Part of book or chapter of book">Part of book or chapter of book</option>
                        <option value="Patent">Patent</option>
                        <option value="PhysicalObject">PhysicalObject</option>
                        <option value="Preprint">Preprint</option>
                        <option value="Report">Report</option>
                        <option value="Research">Research</option>
                        <option value="Review">Review</option>
                        <option value="Software">Software</option>
                        <option value="Sound">Sound</option>
                        <option value="Unknown">Unknown</option>
                      </select>
                      <span class="md-input-bar"></span>
                    </div>

                  </div>
                </div>

                <!--<hr>-->

                <div class="uk-width-1-3@l uk-width-1-3@m">

                  <h3>Report Attributes</h3>

                  <div class="uk-text-italic">
                    <p>Valid Granularity values: Monthly or Totals</p>
                  </div>

                  <div class="md-input-wrapper md-input-filled">
                    <label class="">Granularity</label>
                    <select class="md-input" name="Granularity" (change)="updateGranularity($event)">
                      <option value="Monthly">Monthly</option>
                      <option value="Totals">Totals</option>
                    </select>
                    <span class="md-input-bar"></span>
                  </div>

                </div>

              </div>

              <a class="uk-button uk-button-primary uk-margin-top" (click)="goToReport()">Get Report</a>

            </div>
          </div>


        </div>

      </div>

      <!-- RIGHT HELP CONTENT -->
      <aside-help-content #rightHelperContent [position]="'right'"
                          [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
      </aside-help-content>

    </div>

    <!-- BOTTOM HELP CONTENT -->
    <help-content #bottomHelperContent [position]="'bottom'"
                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>

  </div>
</div>
