<div id="contentWrapper"
     class="tm-main uk-section uk-section-default"
     uk-height-viewport="expand: true"
     style="box-sizing: border-box;" >

  <!-- MARGIN-TOP  -->
  <div class="uk-sticky-placeholder" style="height: 84px; margin: 0px;" aria-hidden="true"></div>

  <div>
    <div class="uk-container">
      <div class="uk-grid uk-grid-stack">
        <div class="uk-width-expand@m uk-first-column">
          <div class="gwt-HTML uk-margin-medium-bottom">
            <h1 class="uk-article-title">Metrics Configuration & Software Details</h1>
          </div>
          <div class="">
            <div>
              <div class="gwt-HTML">
                <p>
                  OpenAIRE's usage statistics service tracking code is maintained on Github as a patch for various versions of DSpace
                  (<a href="https://github.com/openaire/OpenAIRE-Piwik-DSpace">https://github.com/dimitrispie/OpenAIRE-Piwik-DSpace</a>)
                  and as an Eprints plugin for version 3
                  (<a href="https://github.com/openaire/EPrints-OAPiwik">https://github.com/dimitrispie/EPrints-OAPiwik</a>).
                </p>
                <p>
                  Please, change the configuration files with the following values, generated for your site:
                </p>
                <dl class="uk-description-list">
                  <dt>PiwikID</dt>
                  <dd>104</dd>
                  <dt>AuthenticationToken</dt>
                  <dd>106629304</dd>
                </dl>
                <p>
                  Details for the configuration files are given in the README of the tracking code.
                </p>
                <div class="uk-alert uk-alert-info">
                  <strong>NOTE</strong>
                  - You will be informed by e-mail that the installation of the tracking code has been validated and when the usage statistics will be available.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
