<div class="provideLanding">
  <div class="image-front-topbar  uk-section-default"
       uk-scrollspy="{&quot;target&quot;:&quot;[uk-scrollspy-class]&quot;,&quot;cls&quot;:&quot;uk-animation-fade&quot;,&quot;delay&quot;:false}" tm-header-transparent="light">
    <!--<div style="background-image: url('../../../../assets/imgs/landing/Group 1149.svg'); background-color: rgb(255, 255, 255); box-sizing: border-box; min-height: calc(-101.35px + 100vh);"-->
    <!--<div style="background-image: url('../../../../assets/imgs/landing/Group 1149.svg'); background-color: rgb(255, 255, 255); box-sizing: border-box; min-height: calc(-101.35px + 100vh);"-->
    <div style="background: transparent linear-gradient(0deg, #F7F7F7 20%, #E2EEFA 30%) 0% 0% no-repeat padding-box; box-sizing: border-box; min-height: calc(-101.35px + 100vh);"
         class="uk-background-norepeat uk-background-cover uk-background-top-center uk-background-fixed uk-section uk-padding-remove-bottom uk-flex uk-flex-middle" uk-height-viewport="offset-top: true;offset-bottom: 20">
      <div class="uk-width-1-1">
        <div class="uk-margin-medium uk-grid uk-grid-stack" uk-grid="">
          <div class="uk-width-1-1@m">
          </div>
        </div>
        <div class="uk-container uk-container-large uk-margin-large">
          <div class="uk-sticky-placeholder" style="height: 84px; margin: 0px;"></div>
          <div class="search_box_bg uk-grid-large uk-flex-middle uk-grid uk-grid-stack" uk-grid="">
            <div class="el-overlay uk-panel uk-width-1-1 uk-dark uk-text-center">

              <h1 class="uk-margin">Find, Share and Enrich your content.</h1>

              <div class="uk-container uk-container-xsmall uk-container-center">
                <div class="uk-margin-medium-top uk-margin-medium-left uk-margin-medium-right text-muted">
                  The Provide Dashboard is a one-stop-shop web service where the OpenAIRE content providers interact with OpenAIRE research graph and infrastructure.
                </div>
              </div>

              <div class="uk-container uk-container-large uk-container-center">

                <div class="uk-margin-large-left uk-margin-large-right uk-margin-top">
                  <div class="uk-grid uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-3@s">
                    <div class="">
                      <img src="../../../../assets/imgs/landing/provide.png">
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center">
                      <a (click)="goToPage('/dashboard')" class="el-link uk-button uk-button-primary">SIGN IN</a>
                    </div>
                  </div>
                </div>

              </div>

              <!--<div class="el-content uk-margin"><h2 style="color:#1a1a1a!important">A one-stop-shop for sharing, finding and enriching your content</h2></div>-->
              <!--<p><a (click)="goToPage('/dashboard')" class="el-link uk-button uk-button-primary">Sign In</a></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section-muted uk-section uk-section-large">

    <h2 class="uk-text-center">PROVIDE Dashboard brings all your data together</h2>

    <div class="uk-margin-medium-left uk-margin-medium-right uk-text-center text-muted">Get front-end access to many of OpenAIRE’s backend services!</div>

    <div class="uk-container uk-container-large uk-margin-medium-top">
      <div class="uk-grid uk-child-width-1-2@l uk-margin-large-left uk-margin-large-right">

        <div>
          <img src="../../../../assets/imgs/landing/Image%2036.png">
        </div>

        <div>
          <h3 class="">Validate</h3>
          <div>Interoperable metadata is key for effective content sharing.</div>
          <ul>
            <li>Use our validation service and see how you can apply the OpenAIRE Guidelines to expose your content using global standards.</li>
          </ul>
          <button class="uk-button uk-button-primary uk-margin-top">LEARN MORE</button>
        </div>

      </div>
    </div>
  </div>

  <div class="uk-section uk-section-muted uk-section-large uk-preserve-color uk-background-norepeat uk-background-cover uk-background-top-center"
       style="background-image: url('../../../../assets/imgs/landing/abstract2.svg'); !important; min-height: calc(80vh);" uk-height-viewport="offset-top: true; offset-bottom: 20;">
    <div class="uk-container uk-container-expand">

      <div class="uk-grid uk-child-width-1-3@l">
        <div>
          <img src="../../../../assets/imgs/landing/avakas.png">
        </div>
        <div class="uk-width-expand">
          <h1 class="uk-text-center">Do numbers make you happy?</h1>

          <div class="uk-grid uk-child-width-1-4@l uk-margin-medium-left uk-margin-medium-right" style="display: flex;align-items: center;height: 70%;">

            <div>
              <div class="bigNumber">{{ (statisticsNumbers && statisticsNumbers.literature) ? (statisticsNumbers.literature | number) : 'N/A' }}</div>
              <div class="uk-text-uppercase">Literature repositories</div>
            </div>

            <div>
              <div class="bigNumber">{{ (statisticsNumbers && statisticsNumbers.journal) ? (statisticsNumbers.journal | number) : 'N/A' }}</div>
              <div class="uk-text-uppercase">Data repositories</div>
            </div>

            <div>
              <div class="bigNumber">{{ (statisticsNumbers && statisticsNumbers.dataRepositories) ? (statisticsNumbers.dataRepositories | number) : 'N/A' }}</div>
              <div class="uk-text-uppercase">OA journals</div>
            </div>

            <div>
              <div class="bigNumber">{{ (statisticsNumbers && statisticsNumbers.aggregators) ? (statisticsNumbers.aggregators | number) : 'N/A' }}</div>
              <div class="uk-text-uppercase">Aggregators</div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="uk-container uk-container-large">
      <div class="uk-grid uk-child-width-1-5@l uk-margin-medium-left">

        <div>
          <h3>{{ (statisticsNumbers && statisticsNumbers.publications) ? (statisticsNumbers.publications | number) : 'N/A' }}</h3>
          <div class="uk-text-uppercase text-small">publications</div>
        </div>
        <div>
          <h3>{{ (statisticsNumbers && statisticsNumbers.datasets) ? (statisticsNumbers.datasets | number) : 'N/A' }}</h3>
          <div class="uk-text-uppercase text-small">datasets</div>
        </div>
        <div>
          <h3>{{ (statisticsNumbers && statisticsNumbers.software) ? (statisticsNumbers.software | number) : 'N/A' }}</h3>
          <div class="uk-text-uppercase text-small">software</div>
        </div>
        <div>
          <h3>{{ statisticsNumbers ? (statisticsNumbers.lastYearUsagestats.number | number) : 'N/A' }}</h3>
          <div class="uk-text-uppercase text-small">usage events ({{ statisticsNumbers ? statisticsNumbers.lastYearUsagestats.year : 'N/A' }})</div>
        </div>
        <div>
          <h3>{{ (statisticsNumbers && statisticsNumbers.usagestats) ? statisticsNumbers.usagestats : 'N/A' }}</h3>
          <div class="uk-text-uppercase text-small">metadata exchange events</div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="uk-section uk-section-muted uk-section-large text-small" style="background: transparent url('../../../../assets/imgs/landing/kathisto%20paidaki.png') 0% 0% no-repeat padding-box;">-->
  <div class="uk-section uk-section-muted uk-padding-remove-top text-small">

    <div style="position: relative; top: 86px; text-align: right;right: 195px;">
      <img src="../../../../assets/imgs/landing/kathisto%20paidaki.png" width="130">
    </div>


    <div class="uk-container uk-container-large openAIREGuidelinesBox">
      <div>

        <div class="">
          <h5 class="uk-text-uppercase uk-text-center uk-margin-remove">
            <img src="../../../../assets/imgs/landing/Arrow%20left.svg" style="margin-top: 35px; margin-right: 25px">
            <span>Follow OpenAIRE Guidelines</span>
            <img src="../../../../assets/imgs/landing/Arrow%20right.svg" style="margin-top: 35px; margin-left: 25px">
          </h5>
        </div>

        <div style="border-bottom: 1px solid #BFBFBF;border-top: 1px solid #BFBFBF;margin-top: -15px;">
          <div class="uk-grid uk-child-width-1-2@l uk-grid-divider">
            <div class="uk-first-column">
              <div class="uk-margin-medium-left uk-margin-medium-top uk-margin-medium-bottom">
                <img width="56" src="../../../../assets/imgs/landing/Guidelines%20color.svg">
                <div class="uk-margin-bottom uk-margin-top" style="font-weight: 600">OpenAIRE Guidelines</div>
                <p>Follow the OpenAIRE <strong>Guidelines</strong> to expose your metadata in order to integrate with OpenAIRE infrastructure. Learn more:
                  <a href="https://guidelines.openaire.eu/en/latest/" target="_blank">https://guidelines.openaire.eu/en/latest/</a></p>
                <p>Follow the OpenAIRE <strong>Usage Statistics Guidelines</strong> to get ready to track the usage activity of your data source. Learn more:
                  <a href="https://openaire.github.io/usage-statistics-guidelines/" target="_blank">https://openaire.github.io/usage-statistics-guidelines/</a></p>
              </div>

            </div>

            <div class="">
              <div class="uk-margin-medium-right uk-margin-medium-top uk-margin-medium-bottom">
                <img width="43" src="../../../../assets/imgs/landing/Data%20color.svg">
                <div class="uk-margin-bottom uk-margin-top" style="font-weight: 600">Our Data Policies</div>
                <p>
                  <strong>Data Acquisition</strong> - How we retrieve data, how often, what processes it goes through (aggregating cleaning, transforming, inferring, de-duplicating), what are the quality checks along all data processing stages.
                </p>
                <p>
                  <strong>Data usage</strong> - Who is able to retrieve our data, what are the licences, what about specific SLAs. Learn more:
                  <a href="https://www.openaire.eu/data-aquisition-policy" target="_blank">https://www.openaire.eu/data-aquisition-policy</a>
                </p>
              </div>

            </div>
          </div>
        </div>


        <div class="uk-grid uk-child-width-1-2@l uk-grid-divider">
          <div class="uk-first-column">
            <div class="uk-margin-medium-left uk-margin-medium-top uk-margin-medium-bottom">
              <img width="55" src="../../../../assets/imgs/landing/Agreement%20color.svg">
              <div class="uk-margin-bottom uk-margin-top" style="font-weight: 600">Terms of Agreement for Content Providers</div>
              <p>Learn more: <a href="https://www.openaire.eu/terms-of-use-for-content-providers" target="_blank">https://www.openaire.eu/terms-of-use-for-content-providers</a></p>
            </div>

          </div>

          <div class="">
            <div class="uk-margin-medium-right uk-margin-medium-top uk-margin-medium-bottom">
              <img width="38" src="../../../../assets/imgs/landing/Support%20color.svg">
              <div class="uk-margin-bottom uk-margin-top" style="font-weight: 600">Support</div>
              <p>
                <strong>Validate</strong> and <strong>register</strong> your repository.<br>
                Learn more: <a href="https://www.openaire.eu/validator-registration-guide" target="_blank">https://www.openaire.eu/validator-registration-guide</a>
              </p>
              <p>
                <strong>Enrich</strong> research artifacts with additional metadata.<br>
                Learn more: <a href="https://openaire.github.io/usage-statistics-guidelines/" target="_blank">https://openaire.github.io/usage-statistics-guidelines/</a>
              </p>
              <p>
                <strong>Track</strong> the usage activity of your repository.<br>
                Learn more: <a href="https://www.openaire.eu/guides-usage-statistics" target="_blank">https://www.openaire.eu/guides-usage-statistics</a>
              </p>
              <p>
                Open Science checklist on <strong>how to license</strong> repositories.<br>
                Learn more: <a href="https://www.openaire.eu/making-your-repository-open" target="_blank">https://www.openaire.eu/making-your-repository-open</a>
              </p>
              <p>
                <strong>Training material</strong> for Content Providers.<br>
                Learn more: <a href="https://www.openaire.eu/category/content-providers" target="_blank">https://www.openaire.eu/category/content-providers</a>
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="uk-section uk-section-muted" style="background: transparent linear-gradient(0deg, #E2EEFA 20%, #F7F7F7 70%) 0% 0% no-repeat padding-box; box-sizing: border-box;"
       class="uk-background-norepeat uk-background-cover uk-background-top-center uk-background-fixed uk-section uk-flex uk-flex-middle">
    <!--<div style="background: transparent linear-gradient(0deg, #E2EEFA 20%, #F7F7F7 30%) 0% 0% no-repeat padding-box; box-sizing: border-box;"-->
         <!--class="uk-background-norepeat uk-background-cover uk-background-top-center uk-background-fixed uk-section uk-padding-remove-bottom uk-flex uk-flex-middle">-->
    <!--</div>-->
    <div class="uk-container uk-container-xlarge">
      <div class="uk-grid uk-flex" style="align-items: center">
        <div class="uk-width-3-4@l">
          <h2>Contact us to help you.</h2>
          <p class="text-muted">Are you looking for more? Get in touch with our team and let us help you.</p>
          <button class="uk-margin-large-top uk-text-uppercase uk-button uk-button-primary">Get in touch</button>
        </div>
        <div class="uk-width-1-4@l">
          <img src="../../../../assets/imgs/landing/contact%20us%20provide.png">
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-muted" uk-scrollspy="{&quot;target&quot;:&quot;[uk-scrollspy-class]&quot;,&quot;cls&quot;:&quot;uk-animation-fade&quot;,&quot;delay&quot;:false}">
    <div class="uk-container uk-container-large">
      <div class="uk-grid uk-margin-large-top uk-margin-large-bottom" uk-grid="">
        <div class="uk-width-expand@m uk-width-1-2@s uk-dark uk-grid-item-match uk-first-column explore">
          <div class="uk-margin uk-panel uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
            <h4 class="el-title uk-margin uk-h4">
              Researcher?
            </h4>
            <div class="el-content uk-margin">
              Explore all OA research results. Link all your research. Build your profile
            </div>
            <p>
              <a href="https://{{ inBeta ? 'beta.' : '' }}explore.openaire.eu" class="el-link uk-button uk-button-default" target="_blank">
                OpenAIRE.EXPLORE
              </a>
            </p>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-dark uk-grid-item-match connect">
          <div class="uk-margin uk-panel uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
            <h4 class="el-title uk-margin uk-h4">
              Research community?
            </h4>
            <div class="el-content uk-margin">
              Use a trusted partner to share, link, disseminate and monitor your research.
            </div>
            <p>
              <a href="https://{{ inBeta ? 'beta.' : '' }}connect.openaire.eu" class="el-link uk-button uk-button-default" target="_blank">
                OpenAIRE.CONNECT
              </a>
            </p>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-dark uk-grid-item-match monitor">
          <div class="uk-margin uk-panel uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
            <h4 class="el-title uk-margin uk-h4">
              Research manager?
            </h4>
            <div class="el-content uk-margin">
              Use our monitoring services and easily track all relevant research results.
            </div>
            <p>
              <a href="https://monitor.openaire.eu" class="el-link uk-button uk-button-default" target="_blank">
                OpenAIRE.MONITOR
              </a>
            </p>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-dark uk-grid-item-match develop">
          <div class="uk-margin uk-panel uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
            <h4 class="el-title uk-margin uk-h4">
              Developer?
            </h4>
            <div class="el-content uk-margin">
              Get access to OpenAIRE data and capitalize on on Europe's open linked research
            </div>
            <p>
              <a href="https://develop.openaire.eu" class="el-link uk-button uk-button-default" target="_blank">
                OpenAIRE.DEVELOP
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
