<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">

  <!-- MARGIN-TOP  -->
  <div class="uk-sticky-placeholder" style="height: 84px; margin: 0px;" aria-hidden="true"></div>
  <div class="uk-container">

    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h2">{{ title }}</h1>

        <!-- TOP HELP CONTENT -->
        <help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>

        <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <aside-help-content #leftHelperContent [position]="'left'"
                                [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

            <!-- MIDDLE -->
            <div class=" uk-width-expand@m" style="min-height:500px;">

              <div *ngIf="errorMessage" class="uk-alert uk-alert-warning">{{ errorMessage }}</div>
              <div *ngIf="repo">
                <h3>Supported Reports</h3>

                <div class="uk-margin uk-grid repositoryTypeSelection">
                  <div class="uk-width-1-3 uk-grid-item-match uk-first-column">
                    <div class="uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium">
                      <a [routerLink]="['AR1']" class="uk-position-cover uk-margin-remove-adjacent"></a>
                      <div class="uk-card-media-top">
                        <img src="../../../assets/imgs/Icons_Reports_wide_AR1.png" alt="" style="width: 100%;">
                      </div>
                      <div class="uk-card-body">
                        <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                          Article Report 1, number of successful article download requests by month and repository.
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="uk-width-1-3 uk-grid-item-match uk-first-column">
                    <div class="uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium">
                      <a [routerLink]="['IR1']" class="uk-position-cover uk-margin-remove-adjacent"></a>
                      <div class="uk-card-media-top">
                        <img class="el-image" src="../../../assets/imgs/Icons_Reports_wide_IR1.png" alt="" style="width:100%;">
                      </div>
                      <div class="uk-card-body">
                        <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                          Item Report 1, number of successful item download requests by month and repository.
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="uk-width-1-3 uk-grid-item-match uk-first-column">
                    <div class="uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium">
                      <a [routerLink]="['RR1']" class="uk-position-cover uk-margin-remove-adjacent"></a>
                      <div class="uk-card-media-top">
                        <img class="el-image" src="../../../assets/imgs/Icons_Reports_wide_RR1.png" alt="" style="width:100%;">
                      </div>
                      <div class="uk-card-body">
                        <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                          Repository Report 1, number of successful item downloads for all repositories participating in the usage statistics service.
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="repo.datasourceType === 'journal'" class="uk-width-1-3 uk-grid-item-match uk-first-column">
                    <div class="uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium">
                      <a [routerLink]="['JR1']" class="uk-position-cover uk-margin-remove-adjacent"></a>
                      <div class="uk-card-media-top">
                        <img class="el-image" src="../../../assets/imgs/Icons_Reports_wide_JR1.png" alt="" style="width:100%;">
                      </div>
                      <div class="uk-card-body">
                        <h2 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                          Journal Report 1, number of successful full-text article requests by month and journal.
                        </h2>
                      </div>
                    </div>
                  </div>
                  <div class="uk-width-1-3 uk-grid-item-match uk-first-column">
                    <div class="uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium">
                      <a [routerLink]="['BR1']" class="uk-position-cover uk-margin-remove-adjacent"></a>
                      <div class="uk-card-media-top">
                        <img class="el-image" src="../../../assets/imgs/Icons_Reports_wide_BR1.png" alt="" style="width:100%;">
                      </div>
                      <div class="uk-card-body">
                        <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                          Book Report 1, number of successful title requests by month and title.
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="uk-width-1-3 uk-grid-item-match uk-first-column">
                    <div class="uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium">
                      <a [routerLink]="['BR2']" class="uk-position-cover uk-margin-remove-adjacent"></a>
                      <div class="uk-card-media-top">
                        <img class="el-image" src="../../../assets/imgs/Icons_Reports_wide_BR2.png" alt="" style="width:100%;">
                      </div>
                      <div class="uk-card-body">
                        <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                          Book Report 2, number of successful section requests by month and title.
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <!-- RIGHT HELP CONTENT -->
            <aside-help-content #rightHelperContent [position]="'right'"
                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

          </div>
        </div>


        <!-- BOTTOM HELP CONTENT -->
        <help-content #bottomHelperContent [position]="'bottom'"
                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>


      </div>
    </div>
  </div>
</div>

