<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div *ngIf="successMessage" class="uk-alert uk-alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
    <div class="uk-margin-medium-bottom">
      <h1 class="uk-article-title">Update your datasource</h1>
    </div>
    <div class="">
      <div>
        <ul class="uk-margin el-nav uk-tab" uk-switcher="connect: .uk-switcher">
          <li routerLinkActive="uk-active">
            <a href="#">Update Information</a>
          </li>
          <li routerLinkActive="uk-active">
            <a href="#">Update Interfaces</a>
          </li>
        </ul>
        <ul  class="uk-switcher">
          <li class="el-item">
            <div *ngIf="repoId">
              <datasource-info-form [datasourceId]="repoId" [showButton]=true></datasource-info-form>
            </div>
          </li>
          <li class="el-item">
            <div class="uk-width-1-1@m uk-first-column">
              <form [formGroup]="group">
                <form-repeat [component]="updateDatasourceInterfaces"
                             [parentGroup]="group"
                             [description]="interfaceFormDesc"
                             [name]="'repository-interfaces'"
                             [data]="repoInterfaces">
                </form-repeat>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tm-sidebar uk-width-1-4@m">
    <div>
      <div class="uk-card uk-card-body uk-card-default sidemenu">
        <h3 class="el-title uk-h3 uk-heading-bullet">Info / Help</h3>
        <!--<p class="small">-->
          <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->

        <!--</p>-->
        <pre>{{group.value | json}}</pre>
      </div>
    </div>
  </div>
</div>
