<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="gwt-HTML uk-margin-medium-bottom">
      <h1 class="uk-article-title">Update your datasource</h1>
    </div>
    <div class="">
      <repository-tiles [title]="title"></repository-tiles>
      <div class="row openAIRECompliantLogoDownload">
        <div class="col-lg-12">
          <div class="col-md-12">
            <div class="gwt-HTML">
              <div class="openAIRECompliantLogo">
                <h2 class="openAIRECompliantLogoMessage">
                  Congratulations! Your repository was successfully registered in OpenAIRE. You can download this logo to use in your site.
                </h2>
                <img src="assets/imgs/3_0ValidatedLogo.png" alt="OpenAireCompliant">
              </div>
            </div>
            <a>
              Download
              <i class="fa fa-download" style=""></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
