<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="gwt-HTML uk-margin-medium-bottom">
      <h1 class="uk-article-title">Update your datasource</h1>
    </div>
    <div class="">
      <div>
        <ul class="uk-margin el-nav uk-tab" uk-switcher="connect: .uk-switcher">
          <li routerLinkActive="uk-active">
            <a href="#">Update Information</a>
          </li>
          <li routerLinkActive="uk-active">
            <a href="#">Update Interfaces</a>
          </li>
        </ul>
        <ul  class="uk-switcher">
          <li class="el-item">
            <div>
              <form [formGroup]="updateGroup" *ngIf="selectedRepo">
                <div>
                  <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="">
                    Basic information
                  </h4>
                </div>
                <div class="uk-alert uk-alert-warning">
                  The following fields are completed by OpenDOAR.<br>
                  If you want to edit them, you can do it by using this
                  <a href="http://www.opendoar.org/suggest.php?rID=2893" target="_blank">OpenDOAR link</a>
                </div>
                <form-inline [description]="softwarePlatformDesc">
                  <select formControlName="softwarePlatform" class="form-control">
                    <option value="" selected>[Other] (enter name below)</option>
                    <option value="1">platform 1</option>
                    <option value="2">platform 2</option>
                    <option value="3">platform 3</option>
                  </select>
                </form-inline>
                <form-inline [description]="platformNameDesc">
                  <input formControlName="platformName" class="form-control" style="" type="text">
                </form-inline>
                <form-inline [description]="officialNameDesc" >
                  <input formControlName="officialName" class="form-control" style="" type="text">
                </form-inline>
                <form-inline [description]="repoDescriptionDesc">
                  <textarea formControlName="repoDescription" class="form-control"></textarea>
                </form-inline>
                <form-inline [description]="countryDesc">
                  <select formControlName="country" class="form-control">
                    <option value="">-- none selected --</option>
                    <option *ngFor="let country of countries" value="{{ country.code }}">{{ country.name }}</option>
                  </select>
                </form-inline>
                <form-inline [description]="longtitudeDesc" >
                  <input formControlName="longtitude" class="form-control" type="text">
                </form-inline>
                <form-inline [description]="latitudeDesc" >
                  <input formControlName="latitude" class="form-control" type="text">
                </form-inline>
                <form-inline [description]="websiteUrlDesc">
                  <input formControlName="websiteUrl" class="form-control" type="text">
                </form-inline>
                <form-inline [description]="institutionNameDesc">
                  <input formControlName="institutionName" class="form-control" type="text">
                </form-inline>
                <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium"
                    uk-scrollspy-class="">Extra Information</h4>
                <form-inline [description]="englishNameDesc">
                  <input formControlName="englishName" class="form-control" type="text">
                </form-inline>
                <form-inline [description]="logoUrlDesc">
                  <input formControlName="logoUrl" class="form-control" type="text">
                  <div class="comment fontItalic">
                    Please make sure that the maximum size of the uploaded image is width=360px, height=240px
                  </div>
                </form-inline>
                <form-inline [description]="timezoneDesc">
                  <select formControlName="timezone" class="form-control">
                    <option value="">-- none selected --</option>
                    <option value="{{ selectedRepo.timezone }}">{{ selectedRepo.timezone }}</option>
                  </select>
                </form-inline>
                <form-inline [description]="datasourceTypeDesc">
                  <select formControlName="datasourceType" class="form-control">
                    <option value="">-- none selected --</option>
                    <option value="{{ selectedRepo.datasourceType }}">{{ selectedRepo.datasourceType }}</option>
                  </select>
                </form-inline>
                <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium"
                    uk-scrollspy-class="">Administrator & contact information</h4>
                <form-inline [description]="adminEmailDesc">
                  <input formControlName="adminEmail" class="form-control" type="text">
                </form-inline>
                <div class="form-group">
                  <button class="uk-button uk-button-primary updateRepoInfoButton" type="button">Update Information</button>
                </div>
              </form>
            </div>
          </li>
          <li class="el-item">
            <div class="uk-width-1-1@m uk-first-column">
              <form [formGroup]="group">
                <form-repeat [component]="updateDatasourceInterfaces"
                             [parentGroup]="group"
                             [description]="interfaceFormDesc"
                             [name]="'repository-interfaces'"
                             [data]="repoInterfaces">
                </form-repeat>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tm-sidebar uk-width-1-4@m">
    <div>
      <div class="uk-card uk-card-body uk-card-default sidemenu">
        <h3 class="el-title uk-h3 uk-heading-bullet">Info / Help</h3>
        <!--<p class="small">-->
          <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->

        <!--</p>-->
        <pre>{{group.value | json}}</pre>
      </div>
    </div>
  </div>
</div>
