<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="gwt-HTML uk-margin-medium-bottom">
      <h1 class="uk-article-title">Register your datasource</h1>
    </div>
    <div class="gwt-HTML">
      <div class="uk-margin uk-grid" uk-grid="">
        <div class="uk-width-expand@m uk-width-1-2@s uk-grid-item-match uk-first-column">
          <div class="uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
            <a class="el-link uk-position-cover uk-margin-remove-adjacent" href=""></a>
            <div class="uk-card-media-top">
              <img class="el-image" src="assets/imgs/Literature_repos_square.png" alt="" style="width: 100%;">
            </div>
            <div class="uk-card-body">
              <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">Literature Repository</h3>
              <div class="el-meta uk-margin uk-text-meta" style="z-index:9999; position:relative;">
                <a href="http://www.opendoar.org" target="_blank">
                  List provided by
                  <br>
                  OpenDOAR
                  <i class="fa fa-external-link" style="margin-left:3px"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-grid-item-match">
          <div class="uk-margin uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
            <a class="el-link uk-position-cover uk-margin-remove-adjacent" href=""></a>
            <div class="uk-card-media-top">
              <img class="el-image" src="assets/imgs/Data_repos_sqare.png" alt="" style="width:100%;">
            </div>
            <div class="uk-card-body">
              <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">Data Repository</h3>
              <div class="el-meta uk-margin uk-text-meta" style="z-index:9999; position:relative;">
                <a href="http://www.re3data.org" target="_blank">
                  List provided by
                  <br>
                  Re3data
                  <i class="fa fa-external-link" style="margin-left:3px;"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-grid-item-match">
          <div class="uk-margin uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
            <a class="el-link uk-position-cover uk-margin-remove-adjacent" href=""></a>
            <div class="uk-card-media-top">
              <img class="el-image" src="assets/imgs/OAJournals_square.png" alt="" style="width:100%;">
            </div>
            <div class="uk-card-body">
              <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">Journal</h3>
              <div class="el-meta uk-margin uk-text-meta" style="z-index:9999; position:relative;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-grid-item-match">
          <div class="uk-margin uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
            <a class="el-link uk-position-cover uk-margin-remove-adjacent" href=""></a>
            <div class="uk-card-media-top">
              <img class="el-image" src="assets/imgs/Icons_Aggregators_square.png" alt="" style="width:100%;">
            </div>
            <div class="uk-card-body">
              <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">Aggregator</h3>
              <div class="el-meta uk-margin uk-text-meta" style="z-index:9999; position:relative;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tm-sidebar uk-width-1-4@m">
    <div class="gwt-HTML">
      <div class="uk-card uk-card-body uk-card-default sidemenu">
        <h3 class="uk-h3 uk-heading-bullet">Info / Help</h3>
        <p class="small">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>
