<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="gwt-HTML uk-margin-medium-bottom">
      <h1 class="uk-article-title">Register your datasource</h1>
    </div>
    <div>
      <div class="uk-margin uk-grid" uk-grid="">
        <div class="uk-width-expand@m uk-width-1-2@s uk-grid-item-match uk-first-column">
          <div class="uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
            <a routerLink="literature" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>
            <div class="uk-card-media-top">
              <img class="el-image" src="assets/imgs/Literature_repos_square.png" alt="" style="width: 100%;">
            </div>
            <div class="uk-card-body">
              <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                Make sure your repository is already registered in OpenDOAR, the authoritative directory of institutional and thematic OA repositories.
              </h3>
              <div class="el-meta uk-margin uk-text-meta" style="z-index:9999; position:relative;">
                <a href="http://www.opendoar.org" target="_blank">
                  List provided by
                  <br>
                  OpenDOAR
                  <i class="fa fa-external-link" style="margin-left:3px"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-grid-item-match">
          <div class="uk-margin uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
            <a routerLink="data" class="el-link uk-position-cover uk-margin-remove-adjacent" href=""></a>
            <div class="uk-card-media-top">
              <img class="el-image" src="assets/imgs/Data_repos_sqare.png" alt="" style="width:100%;">
            </div>
            <div class="uk-card-body">
              <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                Make sure your data repository is registered in Re3Data, the global registry of research data repositories from different academic disciplines.
              </h3>
              <div class="el-meta uk-margin uk-text-meta" style="z-index:9999; position:relative;">
                <a href="http://www.re3data.org" target="_blank">
                  List provided by
                  <br>
                  Re3data
                  <i class="fa fa-external-link" style="margin-left:3px;"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-grid-item-match">
          <div class="uk-margin uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
            <a routerLink="journal" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>
            <div class="uk-card-media-top">
              <img class="el-image" src="assets/imgs/OAJournals_square.png" alt="" style="width:100%;">
            </div>
            <div class="uk-card-body">
              <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                Make sure that your Open Access Journal is compatible with the OpenAIRE literature Guidelines.
              </h3>
              <div class="el-meta uk-margin uk-text-meta" style="z-index:9999; position:relative;">
                <a href="https://www.openaire.eu/helpdesk/" target="_blank">
                  For any questions please contact the OpenAIRE helpdesk.
                  <i class="fa fa-external-link" style="margin-left:3px;"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-expand@m uk-width-1-2@s uk-grid-item-match">
          <div class="uk-margin uk-text-center uk-card uk-card-default uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" data-id="" style="">
            <a routerLink="aggregator" class="el-link uk-position-cover uk-margin-remove-adjacent"></a>
            <div class="uk-card-media-top">
              <img class="el-image" src="assets/imgs/Icons_Aggregators_square.png" alt="" style="width:100%;">
            </div>
            <div class="uk-card-body">
              <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                Make sure that your publications aggregator is compatible with the OpenAIRE literature Guidelines.
              </h3>
              <div class="el-meta uk-margin uk-text-meta" style="z-index:9999; position:relative;">
                <a href="http://www.re3data.org" target="_blank">
                  For any questions please contact the OpenAIRE helpdesk.
                  <i class="fa fa-external-link" style="margin-left:3px;"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tm-sidebar uk-width-1-4@m">
    <div class="gwt-HTML">
      <div class="uk-card uk-card-body uk-card-default sidemenu">
        <h3>Info / Help</h3>
        <p>
          The OpenAIRE services provide you with an easy way to register your content provider, literature or data repository, OA Journal into the OpenAIRE network. Please join!
        </p>
        <p>
          1) Make your repository, CRIS or journal OpenAIRE compatible by implementing the OpenAIRE
          <a href="https://guidelines.openaire.eu/en/latest/" target="_blank">Guidelines</a>
          .
        </p>
        <p>
          2) After you have made some progress in implementing the guidelines you should run a Compatibility test using the validator tool.
        </p>
        <p>
          3) Register your literature repository in OpenDOAR or your data repositoriy in Re3Data (this step does not apply for journals or CRIS).
        </p>
      </div>
    </div>
  </div>
</div>
