<div class="uk-grid uk-grid-stack">
  <div class="uk-width-expand@m uk-first-column">
    <div class="gwt-HTML uk-margin-medium-bottom">
      <h1 class="uk-article-title">Update your datasource</h1>
    </div>
    <div class="">
      <div>
        <ul class="uk-margin el-nav uk-tab" uk-switcher="connect: .uk-switcher">
          <li routerLinkActive="uk-active">
            <a href="#">Update Information</a>
          </li>
          <li routerLinkActive="uk-active">
            <a href="#">Update Interfaces</a>
          </li>
        </ul>
        <ul  class="uk-switcher">
          <li class="el-item">
            <div>
              <form>
                <div>
                  <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="">
                    Basic information
                  </h4>
                </div>
                <div class="alert alert-warning">
                  The following fields are completed by OpenDOAR.<br>
                  If you want to edit them, you can do it by using this
                  <a href="http://www.opendoar.org/suggest.php?rID=2893" target="_blank">OpenDOAR link</a>
                </div>
                <div class="form-group">
                  <label class="control-label">Software Platform (*)</label>
                  <select class="form-control" disabled="">
                    <option value="">[some platform choices]</option>
                  </select>
                </div>
                <div class="form-group">
                  <input class="form-control" style="" type="text" disabled="" value="Platform name">
                </div>
                <div class="form-group">
                  <label class="control-label">Official Name (*)</label>
                  <input class="form-control" style="" type="text" disabled="" value="repository name">
                </div>
                <div class="form-group">
                  <label class="control-label">Description (*)</label>
                  <textarea class="form-control" style="" type="text" disabled="">Description of the repository
                  </textarea>
                </div>
                <div class="form-group">
                  <label class="control-label">Country (*)</label>
                  <select class="form-control" disabled="">
                    <option value="">[country choices]</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Longtitude (*)</label>
                  <input class="form-control" style="" type="text" disabled="" value="[longtitude value]">
                </div>
                <div class="form-group">
                  <label class="control-label">Latitude (*)</label>
                  <input class="form-control" style="" type="text" disabled="" value="[latitude value]">
                </div>
                <div class="form-group">
                  <label class="control-label">Entry URL (*)</label>
                  <input class="form-control" style="" type="text" disabled="" value="[repo url]">
                </div>
                <div class="form-group">
                  <label class="control-label">Institution (*)</label>
                  <input class="form-control" style="" type="text" disabled="" value="[repo institution]">
                </div>
                <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium"
                    uk-scrollspy-class="">Extra Information</h4>
                <div class="form-group">
                  <label class="control-label">English Name (*)</label>
                  <input class="form-control" style="" type="text" value="[add repo english name]">
                </div>
                <div class="form-group">
                  <label class="control-label">Logo URL</label>
                  <input class="form-control" style="" type="text">
                  <div class="gwt-Label comment fontItalic">
                    Please make sure that the maximum size of the uploaded image is width=360px, height=240px
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Timezone (*)</label>
                  <select class="form-control" disabled="">
                    <option value="">[timezone choices]</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Datasource Type (*)</label>
                  <select class="form-control" disabled="">
                    <option value="">[datasource choices]</option>
                  </select>
                </div>
                <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium"
                    uk-scrollspy-class="">Administrator & contact information</h4>
                <div class="form-group">
                  <label class="control-label">Admin Email (*)</label>
                  <input class="form-control" style="" type="text" value="[add admin email]">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary updateRepoInfoButton" type="button">Update Information</button>
                </div>
              </form>
            </div>
          </li>
          <li class="el-item">
            <div class="uk-width-1-1@m uk-first-column">
              <div class="alert alert-success" style="display:none;" aria-hidden="true"></div>
              <div class="alert alert-danger" style="display:none;" aria-hidden="true"></div>
              <div class="interfacesForm uk-margin uk-grid-match uk-child-width-1-1 uk-child-width-1-2@m uk-grid-small uk-grid uk-scrollspy-inview uk-animation-fade">
                <div>
                  <div class="el-item uk-card uk-card-default uk-card-body uk-scrollspy-inview uk-animation-fade">
                    <div>
                      <div>
                        <h5>OpenDOAR Interface (non-removable)</h5>
                      </div>
                      <div class="interfaceActionsPanel">
                        <a><i class="fa fa-save fa-lg" style=""></i></a>
                      </div>
                    </div>
                    <div class="">
                      <div class="alert alert-success" style="display:none;" aria-hidden="true"></div>
                      <div class="alert alert-danger" style="display:none;" aria-hidden="true"></div>
                      <form role="form">
                        <div class="form-group has error">
                          <label class="control-label">Base OAI-PMH URL (*)</label>
                          <span class="help-block inline" style="margin-top: 0px; margin-bottom: 0px; padding-left: 10px;">
                            Not Identified [span class help-block]
                          </span>
                          <input class="form-control" disabled="" type="text" value="[base url]">
                        </div>
                        <div class="form-group">
                          <label class="control-label">Validation Set</label>
                          <div>
                            <label class="btn btn-link validationSetRadio disabled">
                              <input name="validationSet" value="on" tabindex="0" checked="" disabled="" type="radio">
                              <span>choose existing</span>
                            </label>
                          </div>
                          <select class="form-control" disabled="">
                            <option value="noneSelected">-- none selected --</option>
                          </select>
                          <div>
                            <label class="btn btn-link validationSetRadio disabled">
                              <input name="validationSet" value="on" tabindex="0" checked="" disabled="" type="radio">
                              <span>or a custom one</span>
                            </label>
                          </div>
                          <input class="form-control" disabled="" type="text">
                        </div>
                        <div class="form-group">
                          <label class="control-label">Desired Compatibility Level (*)</label>
                          <select class="form-control">
                            <option value="noneSelected">-- none selected --</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Current Compatibility Level</label>
                          <div>not available</div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div>
                  <div *ngIf="!interfaceForm" class="el-item uk-card uk-card-default uk-card-body uk-scrollspy-inview uk-animation-fade">
                    <div class="interface-box new" style="text-align: center">
                      <a (click)="showInterfaceFormToggle()"><i class="fa fa-plus-square-o"></i></a>
                      <span class="info">Add new Interface</span>
                    </div>
                  </div>
                  <div *ngIf="interfaceForm" class="el-item uk-card uk-card-default uk-card-body uk-scrollspy-inview uk-animation-fade">
                    <div>
                      <div class="interfaceActionsPanel">
                        <a><i class="fa fa-save fa-lg"></i></a>
                        <a (click)="showInterfaceFormToggle()"><i class="fa fa-remove fa-lg"></i></a>
                      </div>
                    </div>
                    <div>
                      <div class="alert alert-success" style="display:none;" aria-hidden="true"></div>
                      <div class="alert alert-danger" style="display:none;" aria-hidden="true"></div>
                      <form role="form">
                        <div class="form-group">
                          <label class="control-label">Base OAI-PMH URL (*)</label>
                          <span class="help-block inline" style="margin-top: 0px; margin-bottom: 0px; padding-left: 10px;">
                          <input class="form-control" type="text">
                        </span>
                          <input class="form-control" type="text" value="[base url]">
                        </div>
                        <div class="form-group">
                          <label class="control-label">Validation Set</label>
                          <div>
                            <label class="btn btn-link validationSetRadio">
                              <input name="validationSet" value="on" tabindex="0" checked="" type="radio">
                              <span>choose existing</span>
                            </label>
                          </div>
                          <select class="form-control" disabled="">
                            <option value="noneSelected">-- none selected --</option>
                          </select>
                          <div>
                            <label class="btn btn-link validationSetRadio disabled">
                              <input name="validationSet" value="on" tabindex="0" checked="" disabled="" type="radio">
                              <span>or a custom one</span>
                            </label>
                          </div>
                          <input class="form-control" disabled="" type="text">
                        </div>
                        <div class="form-group">
                          <label class="control-label">Desired Compatibility Level (*)</label>
                          <select class="form-control">
                            <option value="noneSelected">-- none selected --</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Current Compatibility Level</label>
                          <div>not available</div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tm-sidebar uk-width-1-4@m">
    <div>
      <div class="uk-card uk-card-body uk-card-default sidemenu">
        <h3 class="el-title uk-h3 uk-heading-bullet">Info / Help</h3>
        <p class="small">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>
