<div [formGroup]="updateGroup">
  <div>
    <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="">
      Basic information
    </h4>
  </div>
  <div class="uk-alert uk-alert-warning">
    The following fields are completed by OpenDOAR.<br>
    If you want to edit them, you can do it by using this
    <a href="http://www.opendoar.org/suggest.php?rID=2893" target="_blank">OpenDOAR link</a>
  </div>
  <div class="form-group">
    <label class="control-label">Software Platform (*)</label>
    <select class="form-control" disabled="">
      <option value="">[some platform choices]</option>
    </select>
  </div>
  <div class="form-group">
    <input class="form-control" style="" type="text" disabled="" value="Platform name">
  </div>
  <div class="form-group">
    <label class="control-label">Official Name (*)</label>
    <input class="form-control" style="" type="text" disabled="" value="repository name">
  </div>
  <div class="form-group">
    <label class="control-label">Description (*)</label>
    <textarea class="form-control" style="" type="text" disabled="">Description of the repository
                    </textarea>
  </div>
  <div class="form-group">
    <label class="control-label">Country (*)</label>
    <select class="form-control" disabled="">
      <option value="">[country choices]</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label">Longtitude (*)</label>
    <input class="form-control" style="" type="text" disabled="" value="[longtitude value]">
  </div>
  <div class="form-group">
    <label class="control-label">Latitude (*)</label>
    <input class="form-control" style="" type="text" disabled="" value="[latitude value]">
  </div>
  <div class="form-group">
    <label class="control-label">Entry URL (*)</label>
    <input class="form-control" style="" type="text" disabled="" value="[repo url]">
  </div>
  <div class="form-group">
    <label class="control-label">Institution (*)</label>
    <input class="form-control" style="" type="text" disabled="" value="[repo institution]">
  </div>
  <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium"
      uk-scrollspy-class="">Extra Information</h4>
  <div class="form-group">
    <label class="control-label">English Name (*)</label>
    <input class="form-control" style="" type="text" value="[add repo english name]">
  </div>
  <div class="form-group">
    <label class="control-label">Logo URL</label>
    <input class="form-control" style="" type="text">
    <div class="gwt-Label comment fontItalic">
      Please make sure that the maximum size of the uploaded image is width=360px, height=240px
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Timezone (*)</label>
    <select class="form-control" disabled="">
      <option value="">[timezone choices]</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label">Datasource Type (*)</label>
    <select class="form-control" disabled="">
      <option value="">[datasource choices]</option>
    </select>
  </div>
  <h4 class="uk-h4 uk-text-primary uk-scrollspy-inview uk-animation-slide-top-medium"
      uk-scrollspy-class="">Administrator & contact information</h4>
  <div class="form-group">
    <label class="control-label">Admin Email (*)</label>
    <input class="form-control" style="" type="text" value="[add admin email]">
  </div>
  <div class="form-group">
    <button class="btn btn-primary updateRepoInfoButton" type="button">Update Information</button>
  </div>
</div>
