    <div [formGroup]="parentGroup">
      <div *ngIf="successMessage" class="uk-alert uk-alert-success" style="display:none;" aria-hidden="true"></div>
      <div *ngIf="errorMessage" class="uk-alert uk-alert-danger" style="display:none;" aria-hidden="true"></div>

      <div class="uk-fieldset">
        <label class="uk-form-controls-text control-label">Base URL (*)
          <input type="text" class="uk-input" formControlName="baseUrl" disabled="">
        </label>
      </div>
      <div class="uk-fieldset">
        <label class="uk-form-controls-text control-label">Validation Set</label>
        <div>
          <label class="uk-button uk-button-link validationSetRadio disabled">
            <input name="validationSet" value="select" formControlName="validationSet" type="radio" class="uk-radio">
            <span>choose existing</span>
          </label>
          <select name="selectedValidationSet" class="uk-select" disabled="">
            <option value="noneSelected">-- none selected --</option>
          </select>
          <label class="uk-button uk-button-link validationSetRadio disabled">
            <input name="validationSet" value="custom" formControlname="validationSet" type="radio" class="uk-radio">
            <span>or a custom one</span>
          </label>
          <input class="uk-input" disabled="" type="text">
        </div>
      </div>
      <div class="uk-fieldset">
        <label class="uk-form-controls-select control-label">Desired Compatibility Level (*)
          <select class="uk-select" name="compatibilityLevel" formControlname="compatibilityLevel">
            <option value="">-- none selected --</option>
          </select>
        </label>
      </div>
      <div>
        <label class="uk-form-controls-text control-label">Current Compatibility Level
          <!-- SHOW CURRENT LEVEL -->
        </label>
      </div>
    </div>
